Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: sort notifications in `Notifications` dropdown
  src/app/components/Notifications/Notifications.tsx
Due: none

chore: correct notification hook filename
  src/app/hooks/index.ts
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-updater.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

feat: install plugin from provider
  package.json
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/electron/plugins.ts
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.ts
  src/plugins/core/configuration/schema.ts
  src/plugins/core/plugin-controller-repository.ts
  src/plugins/loader/fs/loader-fs-handler.ts
  src/plugins/loader/fs/loader-fs-ipc.ts
  src/plugins/loader/fs/loader-fs.ts
  yarn.lock
Due: yarn lint, prettier --write

test(e2e): use i18n in common file (#3264)
  src/domains/wallet/e2e/common.ts
Due: yarn lint, prettier --write

chore: use correct background color
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: show correct converted balance
  src/app/components/Amount/Amount.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

style: resolve style guide violations
  src/app/components/WalletListItem/WalletListItem.tsx
Due: none

refactor: enable initial back button on transaction forms
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

refactor: delegate resignation adjustments
  src/app/components/Form/FormHelperText.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
Due: none

chore: remove labelExtra prop from `TransactionDetail` (#3265)
  src/domains/transaction/components/TransactionDetail/TransactionDetail.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

wip
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
Due: none

wip
  .github/workflows/build.yml
  .github/workflows/draft-artifacts.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/build.yml
  .github/workflows/draft-artifacts.yml
  .github/workflows/format.yml
  .github/workflows/publish-release.yml
Due: none

fix: use utils `sortByDesc` method
  src/app/hooks/use-notifications.test.tsx
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

refactor: sort notifications in descending order (#3266)
  src/app/components/Notifications/Notifications.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-notifications.test.tsx
  src/app/hooks/use-notifications.ts
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-updater.ts
Due: yarn lint, prettier --write

fix: calculate correct converted balance (#3268)
  src/app/components/Amount/Amount.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

chore: use correct background color (#3267)
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: check install method
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/loader/fs/loader-fs-handler.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
  package.json
Due: prettier --write

wip
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/test.yml
Due: none

style: resolve style guide violations
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

refactor: adjust `isFilterChanged` conditions
  src/domains/dashboard/components/FilterWallets/hooks.ts
Due: yarn lint, prettier --write

test: add dedicated tests for `FilterWallets` hooks
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: none

wip
  package.json
Due: prettier --write

style: resolve style guide violations
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
Due: none

refactor: remove outdated todos in transaction builder
  src/domains/transaction/hooks/use-transaction-builder.ts
Due: yarn lint, prettier --write
