Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: update `TotalAmountBox`
  src/app/components/Amount/Amount.tsx
  src/app/components/Amount/index.ts
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.stories.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
Due: yarn lint, prettier --write

refactor: update `WalletHeader`
  src/app/components/Amount/Amount.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: update `NavigationBar`
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
Due: none

refactor: update `WalletCard`
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

refactor: update `ProfileCard`
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

chore: update snapshots
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: add full-icu package
  package.json
  src/domains/profile/components/ProfileCard/ProfileCard.stories.tsx
  yarn.lock
Due: prettier --write

refactor: update `WalletListItem`
  package.json
  src/app/components/Amount/Amount.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  yarn.lock
Due: prettier --write

fix: add maxlength validation in name field
  src/domains/profile/i18n.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: yarn lint, prettier --write

fix: add maxlength validation in the name field of the profile settings
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

fix: truncate name in profile card
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

refactor: keep track of threshold in middleware
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
Due: yarn lint, prettier --write

feat: add input address component
  src/app/components/Input/Input.stories.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/index.tsx
Due: none

chore: add viewBox for qrcode.svg
  src/app/assets/svg/qrcode.svg
  src/app/components/Input/InputAddress.tsx
Due: none

wip
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/app/components/Input/__snapshots__/InputGroup.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/qrcode.svg
Due: none

feat: add debounce hook
  src/app/components/Input/InputAddress.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

chore: update platform sdk dependencies
  package.json
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

wip
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/domains/dashboard/data.ts
  src/domains/transaction/components/TransactionTable/TransactionTable.stories.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/wallet/data.ts
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

chore: update Platform SDK dependencies (#2615)
  package.json
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/domains/dashboard/data.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.stories.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/wallet/data.ts
  src/tests/fixtures/transactions/index.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: add LSK to networks that can be selected
  package.json
  src/app/App.tsx
  src/app/components/Avatar/Avatar.tsx
  src/domains/network/data.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
  src/domains/network/data.ts
Due: yarn lint, prettier --write

feat: create `Splash` page
  src/app/assets/images/index.ts
  src/app/i18n/helpers/index.ts
  src/domains/splash/i18n.ts
  src/domains/splash/images/index.ts
  src/domains/splash/images/splash-banner.svg
  src/domains/splash/pages/Splash/Splash.stories.tsx
  src/domains/splash/pages/Splash/Splash.test.tsx
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/splash/pages/Splash/index.ts
  src/domains/splash/pages/index.ts
Due: yarn lint, prettier --write

chore: add LSK to networks that can be selected
  package.json
  src/app/App.tsx
  src/app/components/Avatar/Avatar.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/network/data.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
  package.json
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: prettier --write

wip
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/format.yml
Due: none

refactor: add `Splash` in `App`
  src/app/App.test.tsx
  src/app/App.tsx
Due: none

test: add e2e tests
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
Due: none

refactor: tidy search address component
  src/domains/profile/components/SearchAddress/SearchAddress.tsx
Due: none

refactor: tidy transaction send component
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none
