Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: update Platform SDK dependencies (#2537)
  package.json
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: correct wallet card id reference in e2e tests
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
Due: yarn lint, prettier --write

fix: remove invalid wallet from data.ts
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/domains/dashboard/data.ts
Due: yarn lint, prettier --write

chore: fix `Settings` console log on tests
  src/domains/setting/pages/Settings/Settings.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/tests/fixtures/env/storage.json
Due: prettier --write

fix: use valid wallet addresses (#2538)
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
Due: yarn lint, prettier --write

wip
  src/tests/fixtures/env/data.json
Due: prettier --write

refactor: modify required props and callbacks for `VerifyMessage`
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

test: add coverage for `VerifyMessage`
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
Due: none

chore: adjust props in `VerifyMessage` story
  src/domains/wallet/components/VerifyMessage/VerifyMessage.stories.tsx
Due: none

feat: add verify message action in `WalletHeader`
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
Due: none

test: add full coverage for `WalletHeader` actions
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
Due: none

feat: integrate `VerifyMessage` modal in `WalletDetails` page
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

test: add full coverage for `WalletDetails` actions
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore: update snapshots
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#2539)
  package.json
  src/tests/fixtures/env/data.json
  src/tests/fixtures/env/storage.json
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

build: don't use bundled file from the crypto package
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

test: fix failing
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

test: fix render context
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: add error message if trying to import a duplicate wallet (#2536)
  src/app/i18n/common/i18n.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

test: remove single test flag
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

fix: use empty string when column classname is not provided
  src/app/components/Table/Table.tsx
Due: none

test: add snapshots
  src/app/components/Table/__snapshots__/Table.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/help/components/SearchHelp/__snapshots__/SearchHelp.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugin/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/plugin/components/FeaturedPlugins/__snapshots__/FeaturedPlugins.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/__snapshots__/BlockchainTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/__snapshots__/HistoryModal.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/vote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

style: use OR in column classname
  src/app/components/Table/Table.tsx
Due: none

feat: implement message signing (#2520)
  config-overrides.js
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: npm run lint:fix, yarn lint, prettier --write

chore: fix table classes (#2540)
  src/app/components/Table/Table.tsx
  src/app/components/Table/__snapshots__/Table.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/help/components/SearchHelp/__snapshots__/SearchHelp.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugin/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/plugin/components/FeaturedPlugins/__snapshots__/FeaturedPlugins.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/__snapshots__/BlockchainTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/__snapshots__/HistoryModal.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/vote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: use valid wallet address in wallet data
  src/domains/contact/data.ts
  src/domains/wallet/data.ts
Due: yarn lint, prettier --write

fix: replace fixture wallet with valid address
  src/tests/fixtures/env/storage.json
Due: prettier --write

chore: update snapshots
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: add webpack custom config for storybook
  .storybook/main.js
  .storybook/mocks/fsMock.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: replace correct target for app run
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: webpack config (#2541)
  .storybook/main.js
  .storybook/mocks/fsMock.js
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

chore(debug): remove lost console log
  .storybook/main.js
Due: npm run lint:fix, yarn lint, prettier --write

chore(debug): remove lost console log (#2542)
  .storybook/main.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: show signed message data in modal
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none
