Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

more fixes
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/hooks.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/NetworkStep.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.test.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.tsx
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.ts
  src/plugins/core/plugin-controller-repository.ts
Due: yarn lint, prettier --write

more fixes
  src/app/contexts/Ledger/hooks/scanner.test.tsx
  src/app/contexts/Ledger/hooks/scanner.utils.test.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/profile/components/ProfileAvatar/ProfileAvatar.test.tsx
  src/domains/profile/components/ResetProfile/ResetProfile.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.tsx
  src/migrations/profiles.ts
Due: yarn lint, prettier --write

more fixes
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/plugins/services/store/StorePluginService.ts
Due: yarn lint, prettier --write

fix: trigger dropdown menu when clicking on caret
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
Due: none

refactor: adjustments to sign in modal
  src/domains/profile/components/SignIn/SignIn.tsx
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/i18n.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: hide converted balance if wallet belongs to test network
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

feat: sign messages with wif
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.ts
Due: yarn lint, prettier --write

refactor: adjustments to sign in modal (#3555)
  src/domains/profile/components/SignIn/SignIn.tsx
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/i18n.ts
Due: yarn lint, prettier --write

fix: toggle dropdown menu when clicking on caret (#3554)
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: hide converted balance if wallet belongs to test network (#3556)
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

fix: prevent state update if unmounted on wallet details page (#3553)
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

feat: allow plugins to sign messages (#3541)
  src/app/PluginProviders.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/plugins/README.md
  src/plugins/services/index.tsx
  src/plugins/services/message/MessagePluginService.test.tsx
  src/plugins/services/message/MessagePluginService.tsx
  src/plugins/services/message/index.tsx
  src/plugins/services/message/use-sign-message-modal.tsx
  src/plugins/types.ts
  src/tests/fixtures/plugins/packages/plugin-test-launch/index.js
  src/tests/fixtures/plugins/packages/plugin-test-launch/package.json
Due: npm run lint:fix, yarn lint, prettier --write

fix: register suppressWarning on all transaction forms (#3552)
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

fix: back button behavior on windows (#3519)
  package.json
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-deeplink.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/index.tsx
  yarn.lock
Due: yarn lint, prettier --write

chore: update react-hook-form (#3549)
  package.json
  src/app/components/Input/InputAddress.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/app/components/Notifications/models.ts
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/profile/validations/CreateProfile.ts
  src/domains/setting/hooks/use-profile-export.ts
Due: yarn lint, prettier --write

wip
  src/app/App.test.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/domains/setting/hooks/use-profile-export.test.tsx
Due: none

style: resolve style guide violations
  src/domains/setting/hooks/use-profile-export.test.tsx
Due: none

wip
  src/app/contexts/Environment/Environment.test.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

wip
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionVotes/__snapshots__/TransactionVotes.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SelectNetworkStep.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  src/plugins/context/PluginManagerProvider.test.tsx
Due: none

wip
  src/domains/plugin/hooks/use-plugin-update-queue.test.tsx
Due: none

wip
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none

test: increase max workers in `app` tests
  .github/workflows/test.yml
Due: none

refactor: replace dashboard config hook with wallet config (#3547)
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/hooks/index.ts
  src/domains/dashboard/hooks/use-wallet-config.test.tsx
  src/domains/dashboard/hooks/use-wallet-config.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/hooks/index.ts
  src/domains/dashboard/pages/Dashboard/index.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: yarn lint, prettier --write

refactor: remove profile context from env persist
  src/app/contexts/Environment/Environment.tsx
Due: none

refactor: save profile before persisting in `CreateProfile`
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

refactor: handle profile save in general and peer settings
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: none

refactor: handle profile save in fee confirmation hook
  src/domains/transaction/hooks/use-fee-confirmation.ts
Due: yarn lint, prettier --write

fix: save profile when importing wallet
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

fix: save profile on wallet creation
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

deps: update Platform SDK dependencies
  package.json
  yarn.lock
Due: prettier --write

test: coverage
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: yarn lint, prettier --write

chore: remove unused variable on Input component
  src/app/components/Input/Input.tsx
Due: none

test: increase timeout
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

test: fix failing
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

Remove handler for correct listener
  src/app/hooks/use-updater.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
