Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

refactor: do not allow duplicate profile names in `CreateProfile` (#3155)
  src/app/assets/svg/upload.svg
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/app/hooks/validations.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/validations/CreateProfile.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: yarn lint, prettier --write

refactor: improve validation message
  src/renderer/components/Transaction/TransactionForm/Entity/EntityForm.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

chore(sdk): update Platform SDK dependencies to v2
  package.json
  yarn.lock
Due: prettier --write

refactor: use textarea for description
  src/renderer/components/Input/InputTextarea.vue
  src/renderer/components/Input/index.js
  src/renderer/components/Transaction/TransactionForm/Entity/EntityForm.vue
Due: npm run lint:fix, yarn lint, prettier --write

refactor: identify pending ipfs content
  src/renderer/components/Entity/EntityTable.vue
  src/renderer/i18n/locales/en-US.js
  src/renderer/store/modules/entity.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: refresh registrations button
  src/renderer/i18n/locales/en-US.js
  src/renderer/pages/Registrations.vue
Due: npm run lint:fix, yarn lint, prettier --write

fix: not loaded message
  src/renderer/store/modules/entity.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: format and encode env storage fixture for sdk v2
  jest.setup.js
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: improve password validation
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/validations/CreateProfile.ts
Due: yarn lint, prettier --write

refactor: add helper method
  src/domains/profile/validations/CreateProfile.ts
Due: yarn lint, prettier --write

fix: alt attr
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
Due: none

refactor: adjust entity validation
  src/app/i18n/common/i18n.ts
  src/domains/transaction/validations/EntityRegistration.ts
Due: yarn lint, prettier --write

refactor: mark form fields as optional
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
  src/domains/transaction/validations/EntityRegistration.ts
Due: yarn lint, prettier --write

fix: split matches string
  src/domains/transaction/validations/EntityRegistration.ts
Due: yarn lint, prettier --write

chore(deps): update PSDK to 2.1.2
  package.json
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

feat: migrate env storage fixtures
  jest.setup.js
  src/tests/fixtures/env/storage.json
  src/utils/migrate-fixtures.test.ts
  src/utils/migrate-fixtures.ts
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: adjust tests
  src/app/App.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/tests/mocks/StubStorage/StubStorage.ts
Due: yarn lint, prettier --write

fix: regex
  src/app/i18n/common/i18n.ts
  src/domains/transaction/validations/EntityRegistration.ts
Due: yarn lint, prettier --write

test: coverage
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

refactor: adjust styles of profile image selection
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

deps: update twin.macro
  package.json
  yarn.lock
Due: prettier --write

refactor: update button styles
  src/app/components/Button/Button.styles.ts
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

refactor: adjust input / form styles
  src/app/assets/svg/smartbridge.svg
  src/app/assets/svg/user.svg
  src/app/components/Button/Button.styles.ts
  src/app/components/Form/FormLabel.tsx
  src/app/components/Form/SubForm.tsx
  src/app/components/Input/Input.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/StepIndicator/StepIndicator.tsx
  src/domains/network/components/NetworkIcon/NetworkIcon.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.styles.ts
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TransactionDetail/TransactionMemo/TransactionMemo.tsx
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
Due: none

style: resolve style guide violations
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

wip
  src/domains/transaction/e2e/entity-update.e2e.ts
  src/domains/transaction/pages/SendEntityRegistration/RegistrationTypeStep.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.stories.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/SummaryStep.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/index.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.models.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.stories.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/index.ts
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.stories.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/index.ts
  src/domains/transaction/pages/SendEntityUpdate/utils.ts
  src/domains/transaction/routing.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/DelegateResignationSteps/SummaryStep.tsx
  src/domains/transaction/routing.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.models.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/DelegateResignationSteps/SummaryStep.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
