Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: hide max amount if fee input has errors (#3535)
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Due: yarn lint, prettier --write

test: add coverage
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/utils/debounce.test.ts
Due: yarn lint, prettier --write

test: increase coverage for `VerifyMessage`
  src/domains/wallet/validations/VerifyMessage.test.tsx
Due: none

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  src/__snapshots__/index.test.ts.snap
  src/index.test.ts
  src/index.test.tsx
  src/index.tsx
Due: yarn lint, prettier --write

refactor: update receive funds texts
  src/app/i18n/common/i18n.ts
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

refactor: misc text updates
  src/app/components/EmptyResults/EmptyResults.test.tsx
  src/app/i18n/common/i18n.ts
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/LedgerConfirmation/LedgerConfirmation.tsx
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer-multisig.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/vote-transaction-multisig.e2e.ts
  src/domains/transaction/e2e/vote-transaction.e2e.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/i18n.ts
  src/domains/wallet/components/Ledger/LedgerWaitingApp.tsx
  src/domains/wallet/components/Ledger/LedgerWaitingDevice.tsx
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

wip
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

wip
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: require protocol in github url
  src/app/assets/svg/file.svg
  src/app/components/Form/FormLabel.tsx
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.test.tsx
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.tsx
  src/domains/plugin/components/PluginManualInstallModal/__snapshots__/PluginManualInstallModal.test.tsx.snap
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: yarn lint, prettier --write

test: fix failing
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Form/__snapshots__/FormLabel.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SelectNetworkStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

test: fix failing
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: none

chore: update snapshots
  src/app/components/ConfirmationModal/__snapshots__/ConfirmationModal.test.tsx.snap
Due: none

feat: allow plugins to sign messages
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

test: restore mock
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: none

refactor: adjust import ledger name forms
  src/app/components/Address/Address.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
Due: none

feat: add message plugin service
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/plugins/services/message/MessagePluginService.test.tsx
  src/plugins/services/message/MessagePluginService.tsx
  src/plugins/services/message/use-sign-message-modal.tsx
  src/plugins/types.ts
Due: yarn lint, prettier --write

refactor: adjust transaction texts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer-multisig.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Due: yarn lint, prettier --write

fix: hide navbar border on scroll
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: fix failing
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Due: yarn lint, prettier --write

chore(deps): update psdk to v3.2.5
  package.json
  yarn.lock
Due: prettier --write

refactor: remove randomly failing test
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#3544)
  package.json
  src/domains/wallet/validations/VerifyMessage.test.tsx
  yarn.lock
Due: prettier --write

refactor: adjust import ledger name forms (#3542)
  src/app/components/Address/Address.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
Due: none

fix: hide navbar border on scroll (#3543)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  package.json
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

Restore HttpClient.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  package.json
Due: prettier --write

chore: update Platform SDK dependencies (#3546)
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
Due: none

feat: sign `MultiSignatureRegistrationForm` using encryption password
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
Due: none

feat: sign `SecondSignatureRegistrationForm` using encryption password
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
Due: none

feat: sign `SendDelegateResignation` using encryption password
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
Due: none

feat: sign `SendTransfer` using encryption password
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: update snapshots
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: none

wip
  package.json
  src/app/App.tsx
  src/electron/index.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
  src/electron/index.ts
Due: yarn lint, prettier --write
