Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
Due: none

fix: unexpected NaN in total amount box
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/EntityRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/Step4.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/Step2.tsx
  src/domains/transaction/pages/SendTransfer/Step2.tsx
  src/domains/transaction/pages/SendVote/Step2.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

tests: update currency and snapshots
  src/app/components/Input/InputCurrency.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: remove default plugins mock data from `Notifications` defaults
  src/app/components/Notifications/Notifications.tsx
Due: none

chore: adjust uread dot UI
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

feat: integrate profile transaction in notifications list
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

feat: add sticky-top-top notification titles while scrolling
  src/app/components/Notifications/Notifications.tsx
Due: none

chore(deps): update sdk to 0.9.365
  package.json
  yarn.lock
Due: prettier --write

test: fill form
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
Due: none

refactor: add i18n for all notification texts
  src/app/components/NavigationBar/NavigationBar.stories.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/models.ts
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

refactor: do not remove own address
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

chore: whitespace no wrap on `TransactionRowAmount` label
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
Due: none

fix: adjust edge case on maximum value
  src/app/components/Input/InputRange.tsx
Due: none

refactor: optional title in `Transactions` listing
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

tests: cover fee as big number case
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Due: none

chore(deps): update to 0.9.366
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#2868)
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
Due: none

tests: coverage increase
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
Due: none

chore: modify action props per notification item and transaction item
  src/app/components/NavigationBar/NavigationBar.stories.tsx
  src/app/components/Notifications/NotificationItem.tsx
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/models.ts
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: yarn lint, prettier --write

feat: use `Transactions` with pager and open transaction details in modal
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/Notifications/Notifications.tsx
Due: none

chore: remove big number zero in amount
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
Due: none

refactor: move `NotificationsDropdown` to file
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/index.ts
Due: yarn lint, prettier --write

test: add tests for `NotificationItem`
  src/app/components/Notifications/NotificationItem.test.tsx
  src/app/components/Notifications/NotificationItem.tsx
Due: none

chore: update Platform SDK packages
  package.json
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  yarn.lock
Due: prettier --write

test: update tests for `Notifications` component
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
Due: none

chore: update fixtures
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/i18n.ts
  src/tests/fixtures/env/storage.json
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
Due: none

feat: add second signature detail
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.stories.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.test.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/index.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

test: add tests
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.test.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: none

feat: add story
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.stories.tsx
Due: none

refactor: update confirmation status
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.stories.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.test.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: none

feat: add clipboard component to copy id and block id
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: none

chore: update fee
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: none

chore: update icon
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: none

chore: update Platform SDK dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: return to generic sent step
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
  src/domains/transaction/components/EntityRegistrationForm/SentStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/Step3.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
