Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

refactor: show installed plugins count
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.test.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Link/Link.tsx
Due: none

refactor: use dotted underline in `Link` (#3223)
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

fix: use proper dropdown background in dark mode
  src/app/components/Dropdown/Dropdown.styles.ts
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

refactor: show installed plugin in my plugins section
  src/app/assets/svg/index.ts
  src/app/assets/svg/status-failed.svg
  src/app/i18n/common/i18n.ts
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.test.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: yarn lint, prettier --write

refactor: move pagination models and styles into separate files
  src/app/components/Pagination/Pagination.styles.ts
  src/app/components/Pagination/models.ts
Due: yarn lint, prettier --write

feat: create `PaginationSearch` component
  src/app/components/Pagination/PaginationSearch.tsx
  src/app/components/Pagination/index.tsx
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

feat: integrate `PaginationSearch` into `Pagination`
  src/app/components/Pagination/Pagination.tsx
Due: none

test: add coverage
  src/app/components/Pagination/PaginationSearch.test.tsx
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/status-failed.svg
Due: none

feat: hide search when clicking outside
  src/app/components/Pagination/PaginationSearch.test.tsx
  src/app/components/Pagination/PaginationSearch.tsx
Due: none

chore: update snapshots
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Pagination/__snapshots__/PaginationSearch.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/PaginationSearch.tsx
Due: none

chore: fix build errors
  src/app/components/Pagination/PaginationSearch.tsx
Due: none

refactor: add plugin logo fallback
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.test.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/images/index.ts
  src/domains/plugin/images/plugin-logo-placeholder.svg
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

wip
  src/app/App.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/hooks/index.ts
  src/app/hooks/resize-dropdowns.test.tsx
  src/app/hooks/resize-dropdowns.ts
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

fix: use proper dropdown background in dark mode (#3224)
  src/app/components/Dropdown/Dropdown.styles.ts
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
Due: none

wip
  package.json
  src/app/App.tsx
Due: prettier --write

wip
  package.json
Due: prettier --write

style: resolve style guide violations
  src/app/App.tsx
Due: none

chore(deps): update Platform SDK dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: remove xmr from network data
  src/domains/network/data.ts
Due: yarn lint, prettier --write

fix: prevent restoration on profile creation
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

chore: remove xmr commented code
  src/domains/network/data.ts
Due: yarn lint, prettier --write

test: adjust profile sync status tests
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

test: fix coverage for profile restoration
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

test(e2e): fix single transfer timeout error
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

fix: prevent restoring profiles after creation (#3228)
  package.json
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/network/data.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  yarn.lock
Due: yarn lint, prettier --write

test: increase coverage
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/plugins/core/internals/plugin-hooks.test.ts
Due: yarn lint, prettier --write

fix: globally mark profiles as restored before all tests
  jest.setup.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: restore test password on demo mode
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: prevent multiple restoring of profiles in unit tests
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

chore: fix build errors
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
