Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

fix coverage
  src/app/hooks/use-exchange-rate.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
Due: none

update snaps
  src/app/components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
Due: none

wip: DelegateRegistrationForm test
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
Due: none

wip
  src/app/components/Tabs/Tabs.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
Due: none

refactor: add available amount
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: yarn lint, prettier --write

wip: update DelegateRegistrationForm test
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
Due: none

wip
  src/app/components/Tabs/Tabs.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update Platform SDK dependencies (#3846)
  package.json
  src/app/hooks/use-notifications.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/TransactionDetail/TransactionVotes/TransactionVotes.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/VoteList/VoteList.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  yarn.lock
Due: yarn lint, prettier --write

refactor: periodically sync wallets
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

wip
  src/app/components/Tabs/Tabs.tsx
Due: none

chore: update psdk to v9.2.4
  package.json
  yarn.lock
Due: prettier --write

test: update fixtures
  src/tests/fixtures/env/storage.json
Due: prettier --write

chore: update psdk to v9.2.5
  package.json
  yarn.lock
Due: prettier --write

fix coverage
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
Due: none

wip
  src/domains/wallet/hooks/use-import-options.ts
Due: yarn lint, prettier --write

chore: update psdk to v9.2.6
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
Due: none

fix: enable transaction history in fixtures
  src/tests/fixtures/env/storage.json
Due: prettier --write

chore: update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

test: update profile import fixtures
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  src/tests/fixtures/profile/import/profile.dwe
Due: none

chore: update psdk to v9.2.7
  package.json
  yarn.lock
Due: prettier --write

test: fix failing in profile creation
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

test: add missing mock requests
  src/domains/profile/e2e/notifications.e2e.ts
Due: yarn lint, prettier --write

chore: update Platform SDK dependencies (#3859)
  package.json
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/tests/fixtures/env/storage.json
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  src/tests/fixtures/profile/import/profile.dwe
  yarn.lock
Due: prettier --write

test: update snapshots
  src/app/components/Form/__snapshots__/SubForm.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/plugin/components/PluginManualInstallModal/__snapshots__/PluginManualInstallModal.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: none

fix act warnings in tests
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
Due: none

add snapshot test
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
Due: none

refactor: periodically sync wallets in profile synchronizer (#3858)
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

feat: add exchange rate in amount field
  src/app/hooks/use-exchange-rate.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: yarn lint, prettier --write

refactor: adjust margins in filter networks dropdown
  src/app/components/ControlButton/ControlButton.tsx
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
  src/app/components/FilterNetwork/FilterNetwork.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

wip
  package.json
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  yarn.lock
Due: prettier --write

wip
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/e2e.yml
Due: none

wip
  .github/workflows/test.yml
Due: none

ci: cancel previous `test` and `e2e` runs (#3861)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

wip
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.test.tsx
  src/domains/wallet/data.ts
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

refactor: change placeholder text in amount field
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
