Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: clean up vote tests
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

refactor: clean up wallet details tests
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/tests/fixtures/coins/ark/transactions/search/addresses-D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-2-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-DC8ghUdhS8w8d11K8cFQ37YsLBFhL3Dq2P-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS-1-15.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

fix: capitalize ipfs
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

refactor: add catch-all request hook to create wallet actions
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/tests/fixtures/coins/ark/wallets/not-found.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

fix: typo
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: remove unnecessary array
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

fix: dynamic flex class on dashboard sections
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: remove unnecessary escape character
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test: add ledger connection step specs
  src/domains/wallet/pages/ImportWallet/LedgerConnectionStep.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/LedgerConnectionStep.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

feat: add utility function to check for sufficient funds
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

feat: validate funds in `SendEntityUpdate`
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: yarn lint, prettier --write

feat: validate funds in `SendEntityRegistration` forms
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: none

feat: validate funds on `SendVote`
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

feat: validate funds in `SendEntityResignation`
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
Due: none

feat: validate funds in `SendIpfs`
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
Due: none

feat: validate funds in `SendTransfer`
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

test: add coverage for `hasSufficientFunds` utility fn
  src/domains/transaction/utils.test.ts
Due: yarn lint, prettier --write

feat: add ledger scan step
  src/app/App.tsx
  src/app/contexts/Ledger/use-ledger.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
Due: yarn lint, prettier --write

fix: early return false for zero balance wallet
  src/domains/transaction/utils.test.ts
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

test: add coverage for `SendEntityRegistration`
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

test: add coverage for `SendEntityResignation`
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
Due: none

test: add coverage for `SendEntityUpdate`
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
Due: none

test: add coverage for `SendIpfs`
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
Due: none

test: add coverage for `SendTransfer`
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

test: add coverage for `SendVote`
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Due: none

chore: update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/utils.test.ts
Due: yarn lint, prettier --write

chore: fix multisignature title typo
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

fix: reduce address size in condensed `RecipientListItem`
  src/domains/transaction/components/RecipientList/RecipientList.tsx
Due: none

chore: update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/app/App.tsx
  src/app/assets/svg/filters.svg
  src/app/assets/svg/grid-view.svg
  src/app/assets/svg/grid.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/list-view.svg
  src/app/assets/svg/list.svg
  src/app/components/LayoutControls/LayoutControls.tsx
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: add mocks for my registrations tests
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

deps: update sdk
  package.json
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/utils/storybook.tsx
  yarn.lock
Due: prettier --write

refactor: hide percentage bar if portfolio has no balance
  src/domains/dashboard/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: yarn lint, prettier --write

test: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none
