Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: fix paddings in plugin navigation
  src/app/components/Breadcrumbs/__snapshots__/Breadcrumbs.test.tsx.snap
  src/app/components/Divider/Divider.styles.ts
  src/app/components/Divider/__snapshots__/Divider.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/styles.ts
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

refactor: fix paddings in plugin navigation (#2414)
  src/app/components/Breadcrumbs/__snapshots__/Breadcrumbs.test.tsx.snap
  src/app/components/Divider/Divider.styles.ts
  src/app/components/Divider/__snapshots__/Divider.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/styles.ts
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: yarn lint, prettier --write

fix: prevent outline on navigation buttons
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
Due: none

refactor: remove white shadow from `shadow-xl`
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

refactor: remove white shadow from `shadow-xl` (#2415)
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: ux changes on `SearchBarPluginFilters`
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
Due: none

fix: `HeaderSearchBar` spacing fixes
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
Due: none

chore: adjust left and right paddings on `PluginManager` page
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

feat: integrate `SearchBarPluginFilters` in `PluginManager`
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

fix: use `currentColor` in `Reset` svg
  src/app/assets/svg/reset.svg
Due: none

refactor: apply msq ui
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
Due: none

refactor: add thick variant in `Checkbox`
  src/app/components/Checkbox/Checkbox.styles.ts
  src/app/components/Checkbox/Checkbox.tsx
Due: yarn lint, prettier --write

chore: add story
  src/app/components/Checkbox/Checkbox.stories.tsx
Due: none

chore: add tests
  src/app/components/Checkbox/Checkbox.test.tsx
Due: none

test: update snapshots
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

feat: add search bar
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/components/NewsOptions/components/SelectCategory/__snapshots__/SelectCategory.test.tsx.snap
  src/domains/news/i18n.ts
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

fix: remove readonly props
  src/domains/news/components/NewsOptions/components/SelectCategory/SelectCategory.tsx
Due: none

feat: add NewsOptions to news page
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/data.ts
  src/domains/news/pages/News/News.stories.tsx
  src/domains/news/pages/News/News.tsx
Due: yarn lint, prettier --write

chore: change color background
  src/domains/news/pages/News/News.tsx
Due: none

style: resolve style guide violations
  src/domains/news/pages/News/News.stories.tsx
Due: none

style: resolve style guide violations
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/components/NewsOptions/components/SelectCategory/__snapshots__/SelectCategory.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

refactor: add `thick` variant in `Checkbox` (#2418)
  src/app/components/Checkbox/Checkbox.stories.tsx
  src/app/components/Checkbox/Checkbox.styles.ts
  src/app/components/Checkbox/Checkbox.test.tsx
  src/app/components/Checkbox/Checkbox.tsx
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
Due: yarn lint, prettier --write

feat: add `TransactionRowRecipientIcon` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientIcon.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientIcon.tsx
Due: none

feat: add `TransactionRowAmount` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
Due: none

feat: add `TransactionRowRecipientLabel` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
Due: none

feat: add `TransactionRowMode` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
Due: none

feat: add `TransactionRowInfo` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.tsx
Due: none

feat: add `TransactionRow` component
  src/app/assets/svg/edit.svg
  src/app/assets/svg/index.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowRecipientIcon.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.models.ts
Due: yarn lint, prettier --write

feat: add `TransactionRowConfirmation` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowConfirmation.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowConfirmation.tsx
Due: none

feat: add `TransactionTable` component
  src/app/assets/svg/received.svg
  src/app/assets/svg/sent.svg
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowConfirmation.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientIcon.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowRecipientIcon.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.models.ts
  src/domains/transaction/components/TransactionTable/TransactionTable.stories.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/index.ts
Due: yarn lint, prettier --write

chore: optimize 3 SVG(s)
  src/app/assets/svg/edit.svg
  src/app/assets/svg/received.svg
  src/app/assets/svg/sent.svg
Due: none

feat: add filtering ux
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
Due: none

test: add coverage
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRowRecipientIcon.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

chore: update snapshots
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none
