Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

fix: create signatory from secret (#4012)
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

wip
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

fix: prevent open a new window
  src/electron/index.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#4014)
  package.json
  yarn.lock
Due: prettier --write

fix: adjust transactions table column
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

style: resolve style guide violations
  src/electron/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

wip
  src/app/assets/images/changenow-logo.svg
  src/app/assets/images/exchanges.svg
  src/app/assets/images/index.ts
  src/app/assets/svg/exchange.svg
  src/domains/exchange/components/AddExchange/AddExchange.tsx
Due: yarn lint, prettier --write

chore: optimize 2 SVG(s)
  src/app/assets/images/exchanges.svg
  src/app/assets/svg/exchange.svg
Due: none

wip
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
Due: none

remove unnecessary isLive condition
  src/domains/dashboard/components/PortfolioChart/hooks.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/ListDivided/ListDividedItem.tsx
  src/domains/setting/pages/General/General.tsx
Due: none

style: update network icon colors (#4010)
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/PortfolioChart/hooks.test.tsx
  src/domains/dashboard/components/PortfolioChart/hooks.ts
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/network/components/NetworkIcon/NetworkIcon.test.tsx
  src/domains/network/components/NetworkIcon/NetworkIcon.tsx
  src/domains/network/data.ts
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionNetwork/__snapshots__/TransactionNetwork.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

fix: prevent open a new window (#4016)
  src/electron/index.ts
Due: yarn lint, prettier --write

fix: adjust transactions table column (#4015)
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/__snapshots__/TransactionRow.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

chore: replace ChangeNow placeholder (#4017)
  src/app/assets/images/changenow-logo.svg
  src/app/assets/images/exchanges.svg
  src/app/assets/images/index.ts
  src/domains/exchange/components/AddExchange/AddExchange.tsx
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
Due: yarn lint, prettier --write

Update src/app/components/StepNavigation/StepNavigation.tsx
  src/app/components/StepNavigation/StepNavigation.tsx
Due: none

wip: require wallet alias
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

feat: add domain transaction contracts and domain
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.contracts.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.domain.ts
Due: yarn lint, prettier --write

feat: implement `usePendingTransactions` hook
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: none

refactor: update `PendingTransactionsTable`
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
Due: none

test: fix failing
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
Due: none

wip
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.helpers.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/index.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/NetworkStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.helpers.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Due: none

wip
  src/app/components/StepNavigation/StepNavigation.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/StepNavigation/StepNavigation.test.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: yarn lint, prettier --write

fix: correct pending transfer transaction conditionals
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.contracts.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.ts
Due: yarn lint, prettier --write

test: add coverage
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
Due: none
