Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

fix: ensure fee validation to have updated transaction fees
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

feat: create `useFees` hook to ensure fees are synced before find
  src/app/hooks/index.ts
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

refactor: ensure fees are synced in transaction forms
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
Due: none

fix: update fee validation in delegate registration
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
Due: none

fix: use static fee if undefined
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

test: fix validation hook tests
  src/app/hooks/use-validation.test.tsx
Due: none

fix: loading state for cold wallets in the details page (#3209)
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Due: none

fix: ensure transaction fees are synced and available (#3211)
  src/app/hooks/index.ts
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/app/hooks/use-validation.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

fix: sort wallets by correct order
  src/app/contexts/Ledger/hooks/scanner.state.ts
  src/app/contexts/Ledger/hooks/scanner.ts
  src/app/contexts/Ledger/hooks/scanner.utils.ts
  src/app/contexts/Ledger/utils.ts
Due: yarn lint, prettier --write

fix: retry only failed wallets
  src/app/contexts/Ledger/hooks/scanner.ts
Due: yarn lint, prettier --write

fix: retrieve base colors in Checkbox and RadioButton styles (#3210)
  src/app/components/Checkbox/Checkbox.styles.ts
  src/app/components/Checkbox/Checkbox.test.tsx
  src/app/components/Checkbox/Checkbox.tsx
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/app/components/RadioButton/RadioButton.styles.ts
  src/app/components/RadioButton/RadioButton.test.tsx
  src/app/components/RadioButton/RadioButton.tsx
  src/app/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/types/index.ts
Due: yarn lint, prettier --write

fix: toggle transaction tab before fully loaded
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

test: increase coverage
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
Due: none

chore: re-add style changes to SelectionBar
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/__snapshots__/SelectionBar.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: reduce max height of SelectDropdown
  src/app/components/SelectDropdown/styles.ts
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/__snapshots__/SelectionBar.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: remove single mode flag
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
Due: none

wip
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/hooks/click-outside.test.tsx
  src/app/hooks/resize-dropdowns.test.tsx
  src/app/hooks/resize-dropdowns.ts
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

chore: remove copy and download buttons
  src/app/i18n/common/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: yarn lint, prettier --write

chore: reorder wallet header menu
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

wip
  src/app/components/Avatar/Avatar.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/SignIn/SignIn.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/hooks/resize-dropdowns.ts
Due: yarn lint, prettier --write

wip
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/profile/e2e/common.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

wip
  src/domains/contact/e2e/common.ts
  src/domains/news/e2e/common.ts
  src/domains/plugin/e2e/common.ts
  src/domains/setting/e2e/common.ts
Due: yarn lint, prettier --write

refactor: add option to clear timers in `useSynchronizer`
  src/app/hooks/use-synchronizer.test.tsx
  src/app/hooks/use-synchronizer.ts
Due: yarn lint, prettier --write

fix: clear profile background sync jobs when inactive
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

test: add coverage
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

chore: fix sync delegates interval
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

wip
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
Due: yarn lint, prettier --write

chore: fix exhaustive deps
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
Due: yarn lint, prettier --write

chore: re-add style changes to SelectionBar (#3213)
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/__snapshots__/SelectionBar.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
Due: yarn lint, prettier --write

chore: reorder wallet header menu (#3215)
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

fix: scroll to top on route change
  src/router/RouterView.tsx
Due: none

fix: toggle transaction tab before fully loaded (#3212)
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

fix: scroll to top on pagination change in delegates table
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
