Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: add recipient locales
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: multipayment ux
  src/renderer/components/Transaction/TransactionForm/TransactionFormTransfer.vue
Due: npm run lint:fix, yarn lint, prettier --write

refactor: set `Avatar` lg size to 44px
  src/app/components/Avatar/Avatar.tsx
Due: none

refactor: use `Avatar` in `WalletCard`
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.tsx
Due: none

chore: ui fixes (#2391)
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.stories.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: fix handleclick error in `Card`
  src/app/components/Card/Card.tsx
Due: none

chore: fix card handleclick error on `Card` (#2393)
  src/app/components/Card/Card.tsx
Due: none

refactor: add `Avatar` component in `WalletListItem`
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
Due: none

refactor: padding on recipient box
  src/renderer/components/Transaction/TransactionForm/TransactionFormTransfer.vue
Due: npm run lint:fix, yarn lint, prettier --write

fix: uri loading transaction
  src/renderer/components/Transaction/TransactionForm/TransactionFormTransfer.vue
Due: npm run lint:fix, yarn lint, prettier --write

refactor: use `Avatar` in `TransactionListItem`
  src/app/components/TransactionListItem/TransactionListItem.tsx
Due: none

refactor: update `Avatar` in `Table` stories
  src/app/components/Table/Table.stories.tsx
Due: none

refactor: use `Avatar` in `TransactionDetail`
  src/app/components/TransactionDetail/TransactionDetail.stories.tsx
Due: none

refactor: use `Avatar` in `SignMessage` form
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none

feat: remove jest-localstorage
  package.json
  yarn.lock
Due: prettier --write

feat: add stubstorage
  src/tests/mocks/StubStorage.ts
  src/tests/mocks/index.ts
Due: yarn lint, prettier --write

tests: wip update tests with sutbstorage
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

tests: remove jest-locastorage mock import
  src/setupTests.ts
Due: yarn lint, prettier --write

refactor: add children in `Avatar`component
  src/app/components/Avatar/Avatar.tsx
Due: none

refactor: replace `Circle` with `Avatar` in all pages
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/Recipient/Recipient.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/SelectDelegate/SelectDelegate.tsx
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
Due: none

chore: use different addresses in `Dashboard` avatars
  src/domains/dashboard/data.ts
Due: yarn lint, prettier --write

chore: increase `Avatar` size in `BlockchainTable`
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.tsx
Due: none

chore: increase `Avatar` size in `MyRegistrations` tables
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
Due: none

chore: use `Avatar` in compact `TransactionListItem`
  src/app/components/TransactionListItem/TransactionListItem.tsx
Due: none

style: resolve style guide violations
  src/domains/vote/components/AddressListItem/AddressListItem.tsx
  src/domains/vote/components/DelegateListItem/DelegateListItem.tsx
Due: none

wip
  package.json
  src/app/App.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/setupTests.ts
  src/tests/mocks/StubStorage.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/TransactionSuccessful.test.tsx.snap
Due: none

chore: fix `VoteList` address font size
  src/domains/vote/components/VoteList/VoteList.tsx
Due: none

refactor: apply styleguide rules on `SendVoteTransaction`
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.tsx
Due: none

chore: update snapshots
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
Due: none

refactor: add `ButtonVariant` constraint
  src/app/components/Button/Button.stories.tsx
  src/app/components/Button/Button.tsx
  src/types.d.ts
Due: yarn lint, prettier --write

tests: connect renderWithRouter with test history
  src/app/components/NavigationBar/NavigationBar.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/Button/Button.stories.tsx
Due: none

refactor: improve stubstorage module
  src/tests/mocks/StubStorage/StubStorage.test.ts
  src/tests/mocks/StubStorage/StubStorage.ts
  src/tests/mocks/StubStorage/index.ts
Due: yarn lint, prettier --write

refactor: update routing
  src/domains/contact/routing.ts
  src/domains/dashboard/routing.ts
  src/domains/exchange/routing.ts
  src/domains/help/routing.ts
  src/domains/plugin/pages/index.ts
  src/domains/plugin/routing.ts
  src/domains/profile/routing.ts
  src/domains/setting/routing.ts
  src/router/index.tsx
Due: yarn lint, prettier --write

tests: add stub storage test
  src/tests/mocks/StubStorage/StubStorage.test.ts
  src/tests/mocks/StubStorage/StubStorage.ts
Due: yarn lint, prettier --write
