Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: add unit tests for `MyRegistrations`
  src/domains/profile/data.ts
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
Due: none

test: add unit tests for `BusinessTable`
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.test.tsx
Due: none

refactor: link -> value in link collection
  src/domains/transaction/components/LinkCollection/LinkCollection.models.ts
  src/domains/transaction/components/LinkCollection/LinkCollection.stories.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: yarn lint, prettier --write

refactor: improve types
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/pages/Registration/Registration.models.ts
Due: yarn lint, prettier --write

refactor: consume data from form
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
Due: none

refactor: improve and test business registration form
  package.json
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.test.tsx
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/BusinessRegistrationForm/__snapshots__/BusinessRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/InputFee.tsx
  yarn.lock
Due: prettier --write

refactor: emit changes in link collection
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

test: initial specs for business registration form
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.test.tsx
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/BusinessRegistrationForm/__snapshots__/BusinessRegistrationForm.test.tsx.snap
Due: none

refactor: sign ipfs transaction
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
Due: none

refactor: integrate link collection with form
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

refactor: change link list format
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.test.tsx
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/BusinessRegistrationForm/__snapshots__/BusinessRegistrationForm.test.tsx.snap
  src/domains/transaction/components/LinkList/LinkList.test.tsx
  src/domains/transaction/components/LinkList/LinkList.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.stories.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.test.tsx
Due: none

feat: receive funds
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/SearchResource/SearchResource.tsx
  src/app/components/SearchResource/__snapshots__/SearchResource.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.stories.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/help/components/SearchHelp/__snapshots__/SearchHelp.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.stories.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.stories.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: none

wip
  package.json
  src/app/App.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.test.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/utils/testing-library.tsx
  yarn.lock
Due: prettier --write

wip
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/tests/fixtures/coins/ark/delegates-devnet.json
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
Due: none

style: resolve style guide violations
  src/tests/fixtures/coins/ark/delegates-devnet.json
Due: prettier --write

wip
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#2756)
  package.json
  src/app/App.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.models.ts
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.test.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.tsx
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/tests/fixtures/coins/ark/delegates-devnet.json
  src/tests/fixtures/transactions/index.ts
  src/utils/testing-library.tsx
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
Due: none

chore(deps): update typescript-eslint monorepo to v4
  package.json
  yarn.lock
Due: prettier --write

style: updates the color palette
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/styles/variables.css
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

refactor: call toDataURL with options
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
Due: none

tests: update snapshots
  src/__snapshots__/index.test.ts.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

test: add e2e tests for single transfer
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

tests: wip fix address tests
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/utils/testing-library.tsx
Due: none

test: add e2e tests for multiple transfer
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
Due: yarn lint, prettier --write

fix: duplicatated import
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
Due: none

refactor: conditionally show/hide pagination buttons
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Pagination/Pagination.stories.tsx
  src/app/components/Pagination/Pagination.test.tsx
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Pagination/components/CompactPagination/CompactPagination.test.tsx
  src/app/components/Pagination/components/CompactPagination/CompactPagination.tsx
  src/app/components/Pagination/components/CompactPagination/__snapshots__/CompactPagination.test.tsx.snap
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/HistoryModal.tsx
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/__snapshots__/HistoryModal.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
Due: none

tests: update snapshots
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

test: add e2e tests for multiple transfer (#2767)
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
Due: yarn lint, prettier --write

style: updates the color palette (#2764)
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/styles/variables.css
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write
