Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: fetch packages in layout effect
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

style: resolve style guide violations
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
Due: none

test: coverage
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

feat: add changed state in `ControlButton` using dot
  src/app/components/LayoutControls/LayoutControls.tsx
Due: none

refactor: show red dot when wallet filters are changed
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
Due: none

chore: update snapshots
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

chore: increase window height for contact modal e2e tests
  .github/workflows/e2e.yml
Due: none

test(e2e): fix failing
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/wallet/e2e/common.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

chore: update shapshots
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

test: fix failing
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test: fix coverage
  src/app/components/LayoutControls/LayoutControls.test.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/LayoutControls/LayoutControls.test.tsx
Due: none

wip
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

refactor: remove featured plugins section
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

refactor: move transaction history toggle to settings page (#3403)
  src/app/components/FilterNetwork/FilterNetwork.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/app/contexts/Configuration/Configuration.test.tsx
  src/app/contexts/Configuration/__snapshots__/Configuration.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/FilterWallets/FilterWallets.test.tsx
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/components/FilterWallets/models.ts
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.test.tsx
  src/domains/dashboard/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/hooks/use-dashboard-config.test.tsx
  src/domains/dashboard/pages/Dashboard/hooks/use-dashboard-config.ts
  src/domains/dashboard/pages/Dashboard/models.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: yarn lint, prettier --write

refactor: move blank to plugin card component
  src/domains/exchange/components/ExchangeCard/ExchangeCard.test.tsx
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
Due: none

feat: use invalid state in `Range` component
  src/app/components/Range/Range.tsx
Due: none

refactor: apply invalid state colors in `InputRange`
  src/app/components/Input/InputRange.tsx
Due: none

test: add coverage
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Range/Range.test.tsx
Due: none

refactor: properly split plugins by category in home view
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

chore: update snapshots
  src/app/components/Input/__snapshots__/InputRange.test.tsx.snap
  src/app/components/Range/__snapshots__/Range.test.tsx.snap
Due: none

fix: correct selection on click event
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
Due: none

fix: behavior for single and multiple tab
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: fix dark theme border on `NetworkOption`
  src/domains/network/components/NetworkOption/NetworkOption.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
Due: none

refactor: display up to three placeholders per category
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

test: remove blur event tests
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
Due: none

refactor: remove count from home menu entry
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
Due: none

chore: update snapshots
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: replace theme plugins with exchanges
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.test.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

fix: colors and border radius in plugin cards
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.tsx
Due: none

test: increase coverage
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

refactor: show category column only were it makes sense
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
Due: none

chore: update snapshots
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
Due: none

test: fix failing plugin manager tests
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/plugins/context/PluginManagerProvider.tsx
  src/tests/fixtures/plugins/github/@dated/transaction-export-plugin/package.json
Due: yarn lint, prettier --write

test: fix failing plugin components tests
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCardSkeleton.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
Due: none

fix: eslint ignore statement
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

chore(deps): update psdk to 3.1.4
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update psdk to 3.1.4 (#3459)
  package.json
  yarn.lock
Due: prettier --write
