Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: refactor wallet e2e tests (#2726)
  .github/workflows/test.yml
  .testcaferc.json
  jest.setup.js
  src/domains/wallet/e2e/common.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/utils/e2e-utils.test.ts
  src/utils/e2e-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

feat: add test ids on async renders
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

fix: wait for async updates in `VoteDetail` component
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

wip
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: add scrollToTop util
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

refactor: dashboard e2e tests
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: news e2e tests
  src/domains/news/e2e/common.ts
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/e2e/news-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: plugin e2e tests
  src/domains/plugin/e2e/plugins-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: profile e2e tests
  src/domains/profile/e2e/common.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
Due: yarn lint, prettier --write

refactor: setting e2e tests
  src/domains/setting/e2e/common.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: splash e2e tests
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

refactor: transaction e2e tests
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: various
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/e2e/news-routing.e2e.ts
  src/domains/plugin/e2e/common.ts
  src/domains/plugin/e2e/plugins-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: throw error with a unknown sender
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

fix: typo
  src/domains/setting/e2e/common.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/common.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
Due: yarn lint, prettier --write

fix: typo
  src/domains/plugin/e2e/plugins-routing.e2e.ts
Due: yarn lint, prettier --write

fix: missing const
  src/domains/news/e2e/news-routing.e2e.ts
Due: yarn lint, prettier --write

fix: typo
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
Due: yarn lint, prettier --write

chore: set balance/fiat font weigth to semibold
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
Due: none

refactor: cleanup and use utils in e2e tests (#2730)
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/e2e/news-routing.e2e.ts
  src/domains/plugin/e2e/common.ts
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/profile/e2e/common.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/common.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: `VoteDetails` test errors (#2729)
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

chore(tests): increase selector timeout
  .testcaferc.json
Due: prettier --write

feat: add new questionmark icon
  src/app/assets/svg/questionmark.svg
Due: none

feat: add questionmark color styling in `AddRecipient`
  src/domains/transaction/components/AddRecipient/AddRecipient.styles.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/questionmark.svg
Due: none

fix: correct svg fill color after svgo optimization
  src/app/assets/svg/questionmark.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

wip
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

fix: keep fill attribute on svg
  .svgo.yml
  src/app/assets/svg/questionmark.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

chore: remove unused placeholder image
  src/app/assets/images/index.ts
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/vote/data.ts
  src/domains/vote/images/index.ts
  src/domains/vote/images/placeholder-votes.svg
Due: yarn lint, prettier --write

chore: remove VoteList component
  src/domains/vote/components/VoteList/VoteList.stories.tsx
  src/domains/vote/components/VoteList/VoteList.test.tsx
  src/domains/vote/components/VoteList/VoteList.tsx
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/vote/components/VoteList/index.ts
Due: yarn lint, prettier --write

test: update snapshots
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

tests: fix unit run
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

refactor: remove sync delegates call
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
