Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix confirm modal also for Password settings
  src/domains/setting/pages/Settings/General.tsx
  src/domains/setting/pages/Settings/Password.tsx
Due: none

fix: always add to transaction input if truthy
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

update snaps
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

test: mock transactions list
  src/app/components/Notifications/NotificationsDropdown.test.tsx
Due: none

test: update snapshots
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
Due: none

test: mock transactions list
  src/app/components/Notifications/NotificationItem.test.tsx
  src/app/components/Notifications/Notifications.test.tsx
Due: none

test: update snapshots
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

test: transaction item
  src/app/components/Notifications/NotificationTransactionItem.test.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

test: update snapshots
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
Due: none

test: update snapshots
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

chore: replace transaction icons (#3978)
  src/app/assets/svg/delegate-resigned.svg
  src/app/assets/svg/delegate.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/ipfs.svg
  src/app/assets/svg/magistrate.svg
  src/app/assets/svg/multipayment.svg
  src/app/assets/svg/multisig.svg
  src/app/assets/svg/multisignature.svg
  src/app/assets/svg/received.svg
  src/app/assets/svg/return.svg
  src/app/assets/svg/second-signature.svg
  src/app/assets/svg/sent.svg
  src/app/assets/svg/timelock.svg
  src/app/assets/svg/unvote.svg
  src/app/assets/svg/vote-combination.svg
  src/app/assets/svg/vote.svg
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: yarn lint, prettier --write

fix: always add memo to transaction input if truthy (#3984)
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

fix: restore profile during import before changing settings (#3981)
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
Due: none

fix: rendering multi payment and adjust styles of notification dropdown (#3968)
  src/app/components/Notifications/NotificationItem.test.tsx
  src/app/components/Notifications/NotificationTransactionItem.test.tsx
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/models.ts
  src/app/components/Notifications/styles.ts
  src/app/hooks/use-notifications.ts
  src/domains/profile/e2e/notifications.e2e.ts
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/tests/fixtures/coins/ark/devnet/transactions/byAddress/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-10.json
  src/tests/fixtures/coins/ark/devnet/transactions/byAddress/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-15.json
  src/tests/fixtures/coins/ark/devnet/transactions/byAddress/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-30.json
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/draft-artifacts.yml
Due: none

wip
  scripts/version-artifacts.sh
Due: none

ci: draft artifacts on pull requests (#3985)
  .github/workflows/draft-artifacts.yml
  scripts/version-artifacts.sh
Due: none

wip
  src/app/i18n/common/i18n.ts
  src/domains/wallet/hooks/use-import-options.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

wip
  src/app/assets/svg/index.ts
  src/app/components/SelectFile/SelectFile.tsx
  src/app/i18n/common/i18n.ts
  src/domains/contact/i18n.ts
  src/domains/plugin/i18n.ts
  src/domains/profile/i18n.ts
  src/domains/setting/i18n.ts
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.test.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/wallet/data.ts
  src/domains/wallet/i18n.ts
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

wip
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/data.ts
Due: yarn lint, prettier --write

wip
  src/domains/plugin/i18n.ts
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Slider/hooks.ts
  src/app/contexts/Configuration/Configuration.tsx
  src/app/contexts/Ledger/hooks/connection.ts
  src/domains/network/data.ts
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/setupTests.ts
Due: yarn lint, prettier --write

wip
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Input/__snapshots__/InputRange.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
Due: none

wip
  src/app/components/Input/__snapshots__/InputRange.test.tsx.snap
Due: none

wip
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

fix lint errors
  src/domains/setting/pages/Settings/Password.tsx
Due: none

chore: remove `husky` and `lint-staged` (#3987)
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

fix existing tests
  src/domains/setting/pages/Settings/General.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

fix preload defaultValues on initial rendering
  src/domains/setting/components/GeneralSettingsForm/GeneralSettingsForm.tsx
  src/domains/setting/components/GeneralSettingsForm/index.ts
  src/domains/setting/pages/Settings/General.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/setting/components/GeneralSettingsForm/GeneralSettingsForm.tsx
  src/domains/setting/pages/Settings/General.tsx
Due: none

fix: properly format crypto amount without ticker
  src/app/components/Amount/Amount.contracts.ts
  src/app/components/Amount/AmountCrypto.test.tsx
  src/app/components/Amount/AmountCrypto.tsx
  src/app/components/Amount/AmountFiat.test.tsx
  src/app/components/Amount/AmountFiat.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
