Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: change field title
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
Due: none

test(e2e): delegate registration
  src/domains/transaction/e2e/delegate-registration.e2e.ts
Due: yarn lint, prettier --write

chore: update snapshot
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

feat: implement functional form on the vote transaction page
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/vote/components/AddressListItem/AddressListItem.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

feat: add data for transaction review
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
Due: none

feat: submit the form to sign a vote
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.stories.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
Due: none

fix: adjust negative margins and paddings inside of modals (#2706)
  src/app/components/SearchBar/SearchBar.tsx
  src/app/components/SearchBar/__snapshots__/SearchBar.test.tsx.snap
  src/app/components/SearchResource/SearchResource.tsx
  src/app/components/SearchResource/__snapshots__/SearchResource.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/help/components/SearchHelp/__snapshots__/SearchHelp.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: none

refactor: settings adjustments
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: yarn lint, prettier --write

refactor: remove empty attr
  src/app/components/ListDivided/ListDividedItem.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: settings adjustments (#2708)
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__snapshots__/ListDivided.test.tsx.snap
  src/app/components/ListDivided/__snapshots__/ListDividedItem.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: yarn lint, prettier --write

refactor: multi payment details modal (#2707)
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.stories.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.test.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: update delegate status
  src/domains/wallet/components/WalletVote/WalletVote.tsx
Due: none

refactor: rename AddressList to AddressTable
  src/domains/vote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/vote/components/AddressList/index.ts
  src/domains/vote/components/AddressListItem/AddressListItem.stories.tsx
  src/domains/vote/components/AddressListItem/__snapshots__/AddressListItem.test.tsx.snap
  src/domains/vote/components/AddressListItem/index.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/index.ts
  src/domains/vote/components/AddressTable/AddressTable.stories.tsx
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/components/AddressTable/AddressTable.tsx
  src/domains/vote/components/AddressTable/index.ts
  src/domains/vote/pages/Votes/Votes.tsx
Due: yarn lint, prettier --write

refactor: rename DelegateList to DelegateTable
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/vote/components/DelegateList/index.ts
  src/domains/vote/components/DelegateListItem/DelegateListItem.stories.tsx
  src/domains/vote/components/DelegateListItem/__snapshots__/DelegateListItem.test.tsx.snap
  src/domains/vote/components/DelegateListItem/index.ts
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRowSkeleton.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/index.ts
  src/domains/vote/components/DelegateTable/DelegateTable.stories.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/index.ts
  src/domains/vote/pages/Votes/Votes.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
Due: none

test: add tests to the address table
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: add tests to delegate table
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: more test coverage for delegate table
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/tests/fixtures/coins/ark/delegates-devnet.json
  src/tests/fixtures/coins/ark/delegates.json
Due: prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  package.json
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/wallet/components/WalletVote/WalletVote.stories.tsx
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/utils/storybook.tsx
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/tests/fixtures/coins/ark/wallets/D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD.json
  src/tests/fixtures/transactions/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

wip
  src/domains/wallet/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

wip
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
Due: none

wip
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: add `WalletRegistrationsSkeleton`
  src/domains/wallet/components/WalletRegistrations/WalletRegistrationsSkeleton.tsx
Due: none

feat: add loading state in `WalletRegistrations`
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
Due: none

feat: add `WalletVoteSkeleton`
  src/domains/wallet/components/WalletVote/WalletVoteSkeleton.tsx
Due: none

feat: add loading state in `WalletVote`
  src/domains/wallet/components/WalletVote/WalletVote.tsx
Due: none

refactor: pass loading state in `WalletDetails` sections
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

test: add unit tests
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/components/WalletVote/WalletVote.test.tsx
Due: none

chore: update stories with loading states
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.stories.tsx
  src/domains/wallet/components/WalletVote/WalletVote.stories.tsx
Due: none

test: add e2e tests
  src/domains/wallet/e2e/wallet-details.e2e.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/WalletVote/WalletVoteSkeleton.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
