Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

chore: update description text
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: yarn lint, prettier --write

test: add full coverage
  src/domains/transaction/hooks/use-transaction.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/hooks/use-transaction.ts
Due: yarn lint, prettier --write

feat: create new `UnconfirmedTransactionTable`
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.tsx
Due: none

refactor: integrate `UnconfirmedTransactionTable` in confirm modal
  src/domains/transaction/components/ConfirmSendTransaction/ConfirmSendTransaction.tsx
Due: none

refactor: adjust `SendTransfer` transaction confirm modal props
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

refactor: changed getByTestId(Input-error) to one line
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
Due: none

fix: coursor position in input fee
  src/app/components/Input/InputCurrency.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
Due: none

fix: upadate dependencies for useLayoutEffect
  src/app/components/Input/InputCurrency.tsx
Due: none

fix: adjust vartiant classnames in tooltip
  src/app/components/Tooltip/Tooltip.styles.ts
  src/app/components/Tooltip/Tooltip.tsx
Due: yarn lint, prettier --write

feat: ui adjustments on unconfirmed transactions
  src/domains/transaction/components/ConfirmSendTransaction/ConfirmSendTransaction.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.tsx
Due: none

test: add coverage
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionTable.test.tsx
Due: none

fix: default to exchange currency from profile setting in `SearchWallet`
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
Due: none

Update src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
Due: none

fix: pass profile as prop
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
Due: none

chore: fix tests for `SearchWallet`
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
Due: none

fix: change `Fiat Value` to `Value`
  src/app/i18n/common/i18n.ts
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
Due: none

refactor: removed passing the 'variant' prop to the Tippy. Change the test for the SignIn component
  src/app/components/Input/Input.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/app/components/Tooltip/Tooltip.styles.ts
  src/app/components/Tooltip/Tooltip.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Due: yarn lint, prettier --write

refactor: replace demo env references with e2e
  package.json
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: title and descriptions on the Settings page
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

refactor: replace staging with dev
  package.json
  src/app/App.tsx
Due: prettier --write

refactor: build:e2e alias of build:ci
  package.json
Due: prettier --write

chore: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
Due: none

chore: fix build errors
  src/app/App.tsx
Due: none

wip
  src/app/components/ButtonGroup/ButtonGroup.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

fix: delegate resignation fee handling and validation
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.models.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/SummaryStep.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: none

refactor: move fee lookup to form step
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
Due: yarn lint, prettier --write

test: fix failing
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
