Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
Due: none

fix: pick random words from all words of mnemonic (#3999)
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

fix: wallet creation without user completing the process (#3997)
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
Due: none

refactor: add `StepNavigation` component
  src/app/components/StepNavigation/StepNavigation.tsx
  src/app/components/StepNavigation/index.ts
Due: yarn lint, prettier --write

refactor: update `DelegateRegistrationForm`
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
Due: none

refactor: update `SecondSignatureRegistrationForm`
  src/domains/transaction/components/SecondSignatureRegistrationForm/BackupStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/VerificationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
Due: none

refactor: update `MultiSignatureRegistrationForm`
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
Due: none

refactor: adjust icon size in `TransactionSender`
  src/domains/transaction/components/TransactionDetail/TransactionSender/TransactionSender.tsx
  src/domains/transaction/components/TransactionDetail/TransactionSender/__snapshots__/TransactionSender.test.tsx.snap
Due: none

refactor: update `SendDelegateResignation`
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/SummaryStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: yarn lint, prettier --write

refactor: update `SendRegistration`
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

refactor: update `SendIpfs`
  src/domains/transaction/pages/SendIpfs/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

refactor: misc changes
  src/app/components/StepIndicator/StepIndicator.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/pages/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

feat: implement `SettingsPageWrapper` component
  src/domains/setting/components/SettingsPageWrapper/SettingsPageWrapper.tsx
  src/domains/setting/components/SettingsPageWrapper/index.tsx
Due: none

refactor: move `Export` setting into separate page
  src/domains/setting/pages/Export/Export.test.tsx
  src/domains/setting/pages/Export/Export.tsx
  src/domains/setting/pages/Export/index.tsx
Due: none

refactor: move `General` settings into separate page
  src/domains/setting/pages/General/General.test.tsx
  src/domains/setting/pages/General/General.tsx
  src/domains/setting/pages/General/index.tsx
Due: none

refactor: move `Password` settings into separate page
  src/domains/setting/pages/Password/Password.test.tsx
  src/domains/setting/pages/Password/Password.tsx
  src/domains/setting/pages/Password/index.tsx
Due: none

refactor: remove old settings paths
  src/domains/setting/pages/Settings/General.tsx
  src/domains/setting/pages/Settings/Password.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/index.tsx
  src/domains/setting/pages/index.ts
Due: yarn lint, prettier --write

refactor: move settings into separate routes
  src/domains/setting/routing.test.tsx
  src/domains/setting/routing.ts
Due: yarn lint, prettier --write

fix: add stricter rules for settings confirmation prompt
  src/domains/setting/hooks/use-settings-menu.ts
  src/domains/setting/hooks/use-settings-prompt.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/setting/components/SettingsPageWrapper/SettingsPageWrapper.tsx
  src/domains/setting/hooks/use-settings-prompt.ts
  src/domains/setting/pages/Export/Export.test.tsx
  src/domains/setting/pages/Export/Export.tsx
  src/domains/setting/pages/General/General.test.tsx
  src/domains/setting/pages/Password/Password.test.tsx
  src/domains/setting/pages/Password/Password.tsx
  src/domains/setting/pages/index.ts
Due: yarn lint, prettier --write

fix: rendering delegate name on the initial render
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: move profile settings into separate routes (#4000)
  src/domains/setting/components/SettingsPageWrapper/SettingsPageWrapper.tsx
  src/domains/setting/components/SettingsPageWrapper/index.tsx
  src/domains/setting/hooks/use-settings-menu.ts
  src/domains/setting/hooks/use-settings-prompt.ts
  src/domains/setting/pages/Export/Export.test.tsx
  src/domains/setting/pages/Export/Export.tsx
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/Export/index.tsx
  src/domains/setting/pages/General/General.test.tsx
  src/domains/setting/pages/General/General.tsx
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/General/index.tsx
  src/domains/setting/pages/Password/Password.test.tsx
  src/domains/setting/pages/Password/Password.tsx
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/setting/pages/Password/index.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/index.tsx
  src/domains/setting/pages/index.ts
  src/domains/setting/routing.test.tsx
  src/domains/setting/routing.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/StepNavigation/StepNavigation.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/TransactionRecipients.tsx
  src/domains/transaction/components/TransactionDetail/TransactionTimestamp/TransactionTimestamp.tsx
  src/domains/transaction/components/TransactionDetail/TransactionVotes/TransactionVotes.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendIpfs/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: none

wip
  .eslintrc.js
  src/app/components/ButtonGroup/ButtonGroup.test.tsx
  src/app/components/Pagination/Pagination.tsx
  src/domains/vote/components/VotesEmpty/VotesEmpty.tsx
  src/domains/vote/components/VotesHeader/VotesHeader.tsx
  src/domains/vote/components/VotingWallets/VotingWallets.tsx
  src/domains/vote/hooks/use-vote-actions.ts
  src/utils/test-helpers.ts
Due: npm run lint:fix, yarn lint, prettier --write

Update Pagination.tsx
  src/app/components/Pagination/Pagination.tsx
Due: none

style: resolve style guide violations
  src/app/components/ButtonGroup/ButtonGroup.test.tsx
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/ButtonGroup/ButtonGroup.test.tsx
Due: none

wip
  .eslintrc.js
  src/app/components/Pagination/Pagination.tsx
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
Due: none

wip
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
Due: none

chore: remove block ID from UI (#4004)
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

wip
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateResignationDetail/DelegateResignationDetail.tsx
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/SecondSignatureDetail/SecondSignatureDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/TransactionConfirmations.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/TransactionConfirmations.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.test.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
