Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: fix tests in profile domain
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

test: fix settings tests
  src/domains/setting/hooks/use-profile-export.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none

style: resolve style guide violations
  src/domains/setting/hooks/use-profile-export.test.tsx
Due: none

test: add coverage for profile addresses hook
  src/domains/profile/hooks/use-profile-addresses.test.tsx
Due: none

test: fix failing in `WalletDetails`
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/plugins/services/message/use-sign-message-modal.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/hooks/use-profile-addresses.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/plugins/services/message/use-sign-message-modal.tsx
Due: none

test: update `TransactionTable` fixtures
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
Due: none

test: 100% coverage for src/utils
  src/utils/url-encode-root-color.test.ts
  src/utils/validations/validate-pattern.test.ts
Due: yarn lint, prettier --write

fix: adjust styles of modals background
  src/app/components/Modal/Modal.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: truncate address based on available width
  src/app/components/Address/Address.tsx
  src/app/components/TruncateMiddle/TruncateMiddle.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/hooks/use-text-truncate.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

test: fix adjust styles of modals background
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
Due: none

refactor: change drop zone background while dragging
  src/app/assets/svg/dark/dwe-file.svg
  src/app/assets/svg/dark/index.ts
  src/app/assets/svg/dark/json-file.svg
  src/app/assets/svg/index.ts
  src/app/components/Icon/Icon.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectFile/SelectFile.tsx
  src/app/components/SelectFile/__snapshots__/SelectFile.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/SelectFileStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

chore: optimize 2 SVG(s)
  src/app/assets/svg/dark/dwe-file.svg
  src/app/assets/svg/dark/json-file.svg
Due: none

refactor: add iconColor prop to wallet icons
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/app/components/WalletIcons/WalletIcons.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/WalletIcons/WalletIcons.test.tsx
Due: none

test: coverage
  src/app/components/SelectFile/SelectFile.test.tsx
  src/app/components/SelectFile/SelectFile.tsx
  src/app/components/SelectFile/__snapshots__/SelectFile.test.tsx.snap
Due: none

refactor: adjust link styles
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  filePath
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/SelectFileStep.test.tsx.snap
Due: none

wip
  src/app/components/SelectFile/SelectFile.tsx
Due: none

chore: fix build errors
  src/plugins/services/message/use-sign-message-modal.tsx
Due: none

test: fix `Votes` domain tests
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
Due: none

refactor: move booting env with fixtures in test-helpers utility module
  jest.setup.js
  src/utils/test-helpers.ts
Due: npm run lint:fix, yarn lint, prettier --write

refactor: boot env with profiles in `App` in test env
  src/app/App.tsx
Due: none

refactor: drop unused migrations modules
  src/migrations/index.ts
  src/migrations/migrations.test.ts
  src/migrations/profiles.ts
  src/migrations/utils.ts
Due: yarn lint, prettier --write

refactor: remove migrations gh action
  .github/workflows/test.yml
Due: none

style: resolve style guide violations
  src/app/App.tsx
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
Due: none

test: restore profile in dashboard tests
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

test: fix ledger connection tests
  src/app/contexts/Ledger/hooks/connection.test.tsx
Due: none

test: fix failing in hook notifications
  src/app/hooks/use-notifications.test.tsx
Due: none

test: fix transaction domain settings
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/validations/SendTransfer.test.tsx
Due: none

chore: fix app coverage
  src/app/hooks/use-fees.test.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
Due: none

test: fix failing in wallet domain
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.test.tsx
Due: none

refactor: use the same icon for dark/light mode
  src/app/assets/svg/dark/dwe-file.svg
  src/app/assets/svg/dark/index.ts
  src/app/assets/svg/dark/json-file.svg
  src/app/assets/svg/dwe-file.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/json-file.svg
  src/app/components/Icon/Icon.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectFile/SelectFile.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

chore: remove migrations from test jobs
  scripts/generate-test-workflow.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update file icons
  src/app/assets/svg/dwe-file.svg
  src/app/assets/svg/json-file.svg
Due: none
