Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: restore profile on normal & demo mode (#3230)
  jest.setup.js
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: npm run lint:fix, yarn lint, prettier --write

refactor: use external icon in `NewsCard`
  src/domains/news/components/NewsCard/NewsCard.tsx
Due: none

refactor: use external icon in transaction explorer links
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

chore: update snapshots
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  package.json
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  yarn.lock
Due: prettier --write

wip
  src/app/assets/svg/index.ts
  src/app/assets/svg/information-circle.svg
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Due: yarn lint, prettier --write

feat: fetch plugins remote
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

wip
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVoteSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

refactor: implement new create profile button design
  src/app/components/Avatar/Avatar.tsx
  src/app/components/Badge/Badge.styles.ts
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/app/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

chore: remove actions from WalletListItem
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/dashboard/components/Wallets/hooks.ts
Due: yarn lint, prettier --write

refactor: set dropdown background based on options
  src/app/components/Dropdown/Dropdown.styles.ts
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

feat: show wallet card skeletons while loading
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/WalletCardSkeleton.tsx
  src/app/components/WalletCard/index.ts
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/WalletsGrid.tsx
  src/domains/dashboard/components/Wallets/models.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/WalletCardSkeleton.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: none

wip
  src/app/App.tsx
Due: none

chore: add `staging` command (#3227)
  package.json
  src/app/App.tsx
Due: prettier --write

feat: reposition and resize dropdowns based on window size (#3204)
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/SelectDropdown/styles.ts
  src/app/hooks/click-outside.test.tsx
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: implement pagination search (#3226)
  src/app/components/Pagination/Pagination.styles.ts
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/PaginationSearch.test.tsx
  src/app/components/Pagination/PaginationSearch.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Pagination/__snapshots__/PaginationSearch.test.tsx.snap
  src/app/components/Pagination/index.tsx
  src/app/components/Pagination/models.ts
  src/app/i18n/common/i18n.ts
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Due: yarn lint, prettier --write

feat: update defaults in configuration provider
  src/app/contexts/Configuration/Configuration.tsx
Due: none

refactor: move restore logic in `useRestore` hook
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: use profile restore from `Welcome`
  src/domains/profile/components/SignIn/SignIn.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

test: add coverage
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

refactor: remove restore action from profile synchronizer hook
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Dropdown/Dropdown.tsx
Due: none

style: resolve style guide violations
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore(deps): update Platform SDK Dependencies
  package.json
  yarn.lock
Due: prettier --write

refactor: update profile wasRecentlyCreated method
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: add border to dropdowns with custom content
  src/app/components/Dropdown/Dropdown.styles.ts
  src/app/components/Dropdown/Dropdown.tsx
Due: yarn lint, prettier --write

chore(deps): update PSDK to v2.4.4
  package.json
  yarn.lock
Due: prettier --write

fix: use `MemoryPassword` to store active profiles password
  src/domains/profile/components/SignIn/SignIn.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/components/SignIn/SignIn.tsx
Due: none

wip
  package.json
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/profile/components/SignIn/SignIn.tsx
  yarn.lock
Due: yarn lint, prettier --write

fix: typo
  src/app/components/Dropdown/Dropdown.styles.ts
Due: yarn lint, prettier --write

refactor: forget password on profile sign out
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

chore: start restoring profile before entering
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

style: resolve style guide violations
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none
