Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: fix failing news e2e test
  src/domains/news/e2e/filtering.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

perf(router): render router only once
  src/router/RouterView.tsx
Due: none

ui: modal close button adjustments
  src/app/components/Modal/Modal.tsx
Due: none

feat: build entity update transaction
  package.json
  src/renderer/components/Entity/EntityLinkEditableList.vue
  src/renderer/components/Entity/EntityTable.vue
  src/renderer/components/Transaction/TransactionConfirm/Entity/TransactionConfirmEntityRegistration.vue
  src/renderer/components/Transaction/TransactionConfirm/Entity/TransactionConfirmEntityResignation.vue
  src/renderer/components/Transaction/TransactionConfirm/Entity/TransactionConfirmEntityUpdate.vue
  src/renderer/components/Transaction/TransactionConfirm/Entity/index.js
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirmEntity.vue
  src/renderer/components/Transaction/TransactionForm/Entity/EntityForm.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityResignation.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityUpdate.vue
  src/renderer/components/Transaction/TransactionForm/Entity/index.js
  src/renderer/components/Transaction/TransactionForm/FormEntity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/FormEntity/TransactionFormEntityUpdate.vue
  src/renderer/components/Transaction/TransactionForm/TransactionFormEntity.vue
  src/renderer/components/Transaction/TransactionModal.vue
  src/renderer/i18n/locales/en-US.js
  src/renderer/pages/Registrations.vue
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

test: fix tests
  src/router/RouterView.tsx
Due: none

ui: settings sidebar and icons adjustments (#3136)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/svg/index.ts
  src/app/assets/svg/lock.svg
  src/app/assets/svg/peer.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/settings-horizontal.svg
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

chore: remove legacy magistrate crypto
  __tests__/unit/services/client.spec.js
  src/renderer/services/client.js
  src/renderer/services/crypto/bridgechain-registration.builder.js
  src/renderer/services/crypto/bridgechain-resignation.builder.js
  src/renderer/services/crypto/bridgechain-update.builder.js
  src/renderer/services/crypto/business-registration.builder.js
  src/renderer/services/crypto/business-resignation.builder.js
  src/renderer/services/crypto/business-update.builder.js
  src/renderer/services/crypto/configure-magistrate-transactions.js
  src/renderer/services/crypto/transaction-builder.service.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: isolate transaction-related state `Transactions` history
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

style: resolve style guide violations
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

fix: dropdown overflow behavior
  src/renderer/components/Transaction/TransactionForm/Entity/EntityForm.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityResignation.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityUpdate.vue
  src/renderer/pages/Registrations.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat: add searchQuery state
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

feat: implement search functionality for wallets
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

refactor: implement is submitting state
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityResignation.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityUpdate.vue
  src/renderer/components/Transaction/TransactionForm/mixin.js
  src/renderer/components/Transaction/TransactionModal.vue
  src/renderer/components/utils/Loader.js
  src/renderer/pages/Registrations.vue
Due: npm run lint:fix, yarn lint, prettier --write

refactor: show the side menu item conditionally
  src/renderer/components/App/AppSidemenu/AppSidemenu.vue
Due: npm run lint:fix, yarn lint, prettier --write

refactor: remove multi signature wallets
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityUpdate.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat: implement search functionality for delegates
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

feat: create `useDashboardConfig` hook
  src/domains/dashboard/pages/Dashboard/hooks/index.ts
  src/domains/dashboard/pages/Dashboard/hooks/use-dashboard-config.ts
Due: yarn lint, prettier --write

feat: move chart logic into new `PortfolioChart` component
  src/domains/dashboard/components/PortfolioChart/PortfolioChart.test.tsx
  src/domains/dashboard/components/PortfolioChart/PortfolioChart.tsx
  src/domains/dashboard/components/PortfolioChart/index.tsx
Due: none

refactor: move wallet filters logic into hook `useWalletFilters`
  src/domains/dashboard/components/Wallets/hooks.ts
Due: yarn lint, prettier --write

feat: show empty screen when not found
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

test: increase test coverage to 100%
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

test: update snapshots
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: custom table for delegates entities
  src/renderer/assets/svg/status-active.svg
  src/renderer/assets/svg/status-standby.svg
  src/renderer/components/App/AppSidemenu/AppSidemenu.vue
  src/renderer/components/Entity/EntityTable.vue
  src/renderer/components/Entity/EntityTableCommon.vue
  src/renderer/components/Entity/EntityTableDelegate.vue
  src/renderer/components/Entity/index.js
  src/renderer/components/Transaction/TransactionForm/Entity/EntityForm.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/Entity/TransactionFormEntityUpdate.vue
  src/renderer/pages/Registrations.vue
  src/renderer/services/client.js
Due: npm run lint:fix, yarn lint, prettier --write

ui: navbar icons adjustments
  src/app/assets/svg/notification.svg
  src/app/assets/svg/qr-code.svg
  src/app/assets/svg/sent.svg
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

ui: layout/wallet controls icons adjustments
  src/app/assets/svg/filters.svg
  src/app/assets/svg/grid-view.svg
  src/app/assets/svg/import.svg
  src/app/assets/svg/list-view.svg
  src/app/assets/svg/plus.svg
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/list-view.svg
Due: none
