Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: update snapshots
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: adjust return icon
  src/app/assets/svg/return.svg
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

wip
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

wip
  package.json
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/pages/SendIpfs/SummaryStep.tsx
  src/domains/transaction/pages/SendTransfer/SummaryStep.tsx
Due: prettier --write

wip
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
Due: none

wip
  yarn.lock
Due: none

wip
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
Due: none

wip
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/Amount/Amount.tsx
Due: none

wip
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
Due: none

wip
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

chore: adjust return icon (#3909)
  src/app/assets/svg/return.svg
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowMode.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

chore: update Platform SDK dependencies (#3910)
  package.json
  src/app/components/Amount/Amount.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SummaryStep.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SummaryStep.tsx
  yarn.lock
Due: prettier --write

refactor: show borders in delegate table in dark mode (#3907)
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Table/TableCell.styles.ts
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/components/PluginUpdatesConfirmation/__snapshots__/PluginUpdatesConfirmation.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
Due: yarn lint, prettier --write

feat: add light green theme (#3901)
  src/app/components/Button/Button.styles.ts
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/styles/variables.css
  src/tailwind.config.js
  src/types/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

chore: adjust colors in delegate row
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

wip
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

refactor: show pending transactions in separate table (#3906)
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/index.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/PendingTransferRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/SignedTransactionRow.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: adjust colors in delegate row (#3911)
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

fix tests
  src/app/components/Amount/Amount.contracts.ts
  src/app/components/Amount/Amount.helpers.ts
  src/app/components/Amount/Amount.tsx
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/Balance/__snapshots__/Balance.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

fix tx domain tests
  src/app/components/Amount/Amount.helpers.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: yarn lint, prettier --write

add ignore coverage
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

add todo
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

wip
  package.json
  src/app/components/NavigationBar/components/Balance/Balance.tsx
  src/utils/assertions.test.ts
  src/utils/assertions.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/utils/assertions.test.ts
  src/utils/assertions.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/NavigationBar/components/Balance/Balance.tsx
  src/utils/assertions.test.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/components/NavigationBar/components/Balance/Balance.tsx
Due: none

feat: implement assertion functions to replace optional chaining / non-null assertions (#3912)
  package.json
  src/app/components/NavigationBar/components/Balance/Balance.tsx
  src/utils/assertions.test.ts
  src/utils/assertions.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: resizable of the textarea when disabled
  src/app/components/TextArea/TextArea.tsx
Due: none

test: update snapshots
  src/app/components/TextArea/__snapshots__/TextArea.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
