Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

refactor: adjust splash/welcome screens according to the designs
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/images/index.ts
  src/app/assets/images/welcome-banner.svg
  src/domains/profile/i18n.ts
  src/domains/profile/images/index.tsx
  src/domains/profile/images/welcome-banner.svg
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/splash/images/index.ts
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
Due: yarn lint, prettier --write

test: coverage
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
Due: none

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

refactor: hide balance if profile uses password
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
Due: none

feat: add `InputAddress` component (#2614)
  src/app/assets/svg/qrcode.svg
  src/app/components/Input/Input.stories.tsx
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/app/components/Input/__snapshots__/InputGroup.test.tsx.snap
  src/app/components/Input/index.tsx
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust splash/welcome screens according to the designs (#2638)
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/images/index.ts
  src/app/assets/images/welcome-banner.svg
  src/domains/profile/i18n.ts
  src/domains/profile/images/index.tsx
  src/domains/profile/images/welcome-banner.svg
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/splash/images/index.ts
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
Due: yarn lint, prettier --write

fix: spacing and alignment in wallet details components (#2637)
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  package.json
Due: prettier --write

wip
  .github/workflows/test.yml
Due: none

chore: rename selectAsset variations to selectNetworkInput
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

test: transaction send page
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none

test: send transaction form
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
Due: none

chore: add snapshots
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: missing transaction fixture
  src/tests/fixtures/coins/ark/transaction.json
Due: prettier --write

refactor: fix styling issues
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none

refactor: fix styling issues
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none

chore: update platform sdk dependencies
  package.json
  yarn.lock
Due: prettier --write

wip
  package.json
  src/domains/network/data.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/domains/network/data.ts
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: import all SDK packages (#2641)
  package.json
  src/app/App.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/network/data.ts
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none

wip
  src/domains/news/components/NewsCard/NewsCard.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  package.json
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#2642)
  package.json
  yarn.lock
Due: prettier --write

chore: rename `selectAsset` variations to `selectNetworkInput` (#2639)
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

fix: wait for more transactions to be rendered
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

fix: dashboard tests (#2643)
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

refactor: show required field icon by default
  src/app/components/Form/Form.stories.tsx
  src/app/components/Form/FormLabel.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.tsx
Due: none

chore: update snapshots
  src/app/components/Form/__snapshots__/FormLabel.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

wip
  package.json
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: temporarily remove eth network data
  src/domains/network/data.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
