Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: fix unit test errors (#3118)
  src/app/components/Card/Card.styles.ts
  src/app/components/Card/Card.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: yarn lint, prettier --write

feat: filter wallets based on profile setting (#3119)
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

fix: general peer settings changes (#3126)
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: none

fix: check against display type and network ids only (#3129)
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

test: fix failing
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.test.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

refactor: create function to sync wallets
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: add name validation
  src/domains/setting/components/PeerForm/PeerForm.tsx
Due: none

feat: shows an error if the host already exists for the network
  src/domains/setting/components/CreatePeer/CreatePeer.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/UpdatePeer/UpdatePeer.tsx
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
Due: none

chore: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore(deps): update sdk to 1.1.16
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: show transaction confirmation details
  src/renderer/assets/svg/business.svg
  src/renderer/assets/svg/chevron-down.svg
  src/renderer/assets/svg/delegate.svg
  src/renderer/assets/svg/module.svg
  src/renderer/assets/svg/plugin.svg
  src/renderer/assets/svg/product.svg
  src/renderer/components/Entity/EntityLinkEditableList.vue
  src/renderer/components/Entity/EntityLinkList.vue
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirm.vue
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirmEntity.vue
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirmEntity/TransactionConfirmEntityRegistration.vue
  src/renderer/components/Transaction/TransactionDetail.vue
  src/renderer/components/Transaction/TransactionForm/TransactionFormEntity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionModal.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: use custom peer in the background when enabled instead of dwallets (#3127)
  package.json
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  yarn.lock
Due: prettier --write

refactor: rename `usePortfolioChartAnimation` to `showChartAnimation` (#3130)
  src/app/components/LineChart/LineChart.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/models.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/services/Cache.ts
  src/app/services/index.ts
Due: yarn lint, prettier --write

wip
  CODEOWNERS
Due: none

wip
  src/app/services/index.ts
Due: yarn lint, prettier --write

chore: add `ItsANameToo` as code owner (#3134)
  CODEOWNERS
Due: none

wip
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

fix: select multiple news (#3112)
  src/domains/news/components/NewsCard/NewsCard.stories.tsx
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.test.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/tests/fixtures/news/page-1.json
Due: prettier --write

fix: cache expiration condition (#3133)
  src/app/services/Cache.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: build entity resignation transaction
  __tests__/unit/App.spec.js
  package.json
  src/renderer/assets/svg/delegate.svg
  src/renderer/assets/svg/link.svg
  src/renderer/assets/svg/module.svg
  src/renderer/assets/svg/msq-slim.svg
  src/renderer/components/App/AppSidemenu/AppSidemenu.vue
  src/renderer/components/Button/ButtonIconGeneric.vue
  src/renderer/components/Entity/EntityTable.vue
  src/renderer/components/Entity/index.js
  src/renderer/components/Transaction/TransactionConfirm/ConfirmEntity/TransactionConfirmEntityRegistration.vue
  src/renderer/components/Transaction/TransactionConfirm/ConfirmEntity/TransactionConfirmEntityResignation.vue
  src/renderer/components/Transaction/TransactionConfirm/ConfirmEntity/index.js
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirmEntity.vue
  src/renderer/components/Transaction/TransactionConfirm/TransactionConfirmEntity/index.js
  src/renderer/components/Transaction/TransactionForm/FormEntity/TransactionFormEntityRegistration.vue
  src/renderer/components/Transaction/TransactionForm/FormEntity/TransactionFormEntityResignation.vue
  src/renderer/components/Transaction/TransactionForm/FormEntity/TransactionFormEntityUpdate.vue
  src/renderer/components/Transaction/TransactionForm/FormEntity/index.js
  src/renderer/components/Transaction/TransactionForm/TransactionFormEntity.vue
  src/renderer/components/Transaction/TransactionForm/TransactionFormEntity/TransactionFormEntityResignation.vue
  src/renderer/components/Transaction/TransactionForm/index.js
  src/renderer/i18n/locales/en-US.js
  src/renderer/pages/Registrations.vue
  src/renderer/services/client.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

fix: validate host
  src/domains/setting/components/CreatePeer/CreatePeer.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/UpdatePeer/UpdatePeer.tsx
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: yarn lint, prettier --write

test: update peer ip
  src/domains/setting/components/CreatePeer/CreatePeer.test.tsx
  src/domains/setting/components/DeletePeer/DeletePeer.test.tsx
  src/domains/setting/components/PeerForm/PeerForm.test.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/PeerListItem/PeerListItem.test.tsx
  src/domains/setting/components/PeerListItem/__snapshots__/PeerListItem.test.tsx.snap
  src/domains/setting/components/UpdatePeer/UpdatePeer.test.tsx
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: yarn lint, prettier --write

test: add tests to validate host
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
Due: none

ui: settings sidebar and icons adjustments
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/svg/index.ts
  src/app/assets/svg/lock.svg
  src/app/assets/svg/peer.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/settings-horizontal.svg
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
