Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

handle NaN
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
Due: none

fix: missing dependency
  src/app/components/TextArea/TextArea.tsx
Due: none

update snapshot
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
Due: none

add assertions
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
Due: none

test: coverage & refactor use-wallet-import hook
  src/domains/wallet/hooks/use-wallet-import.test.tsx
Due: none

test: update snapshots
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix tests
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/LedgerReview.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.test.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
Due: none

test: coverage for wallet import by publicKey
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

fix: treat `amount` and `fee` as numbers for total amount (#3926)
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/LedgerReview.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/LedgerReview.test.tsx
  src/domains/transaction/pages/SendVote/LedgerReview.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
Due: none

feat: implement the wallet import from PublicKey (#3918)
  src/domains/wallet/hooks/use-import-options.ts
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

fix: textarea resizing (#3916)
  src/app/components/TextArea/TextArea.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

wip
  src/app/components/Button/Button.styles.ts
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/plugin/components/PluginUninstallConfirmation/__snapshots__/PluginUninstallConfirmation.test.tsx.snap
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/components/ResetProfile/__snapshots__/ResetProfile.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust styles of wallet header buttons
  src/app/components/Input/Input.tsx
  src/app/components/Tooltip/Tooltip.styles.ts
  src/app/components/Tooltip/Tooltip.test.tsx
  src/app/components/Tooltip/Tooltip.tsx
  src/app/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust styles of question mark icon
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: remove tooltips from profile image selection
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: remove tooltips from profile image selection (#3930)
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: adjust styles of question mark icon (#3928)
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: adjust styles of wallet header buttons (#3929)
  src/app/components/Input/Input.tsx
  src/app/components/Tooltip/Tooltip.styles.ts
  src/app/components/Tooltip/Tooltip.test.tsx
  src/app/components/Tooltip/Tooltip.tsx
  src/app/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/transaction/hooks/use-wallet-signatory.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/TransactionDetail/TransactionMemo/TransactionMemo.tsx
Due: none

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: none

wip
  package.json
Due: prettier --write

wip
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMemo/__snapshots__/TransactionMemo.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
Due: yarn lint, prettier --write

wip
  yarn.lock
Due: none

style: resolve style guide violations
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#3934)
  package.json
  yarn.lock
Due: prettier --write

fix: set broadcasting errors as error message when it fails (#3933)
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

fix: properly wrap memo (#3932)
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMemo/TransactionMemo.tsx
  src/domains/transaction/components/TransactionDetail/TransactionMemo/__snapshots__/TransactionMemo.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: reorganise signing method conditionals based on their preferred usage (#3931)
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  package.json
Due: prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
