Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: fix failing contact domain
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

test: fix failing in hooks
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-notifications.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-profile-utils.test.tsx
Due: yarn lint, prettier --write

chore: update to psdk v5.0.8
  package.json
  yarn.lock
Due: prettier --write

fix: add profile in env on import save
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
Due: none

style: resolve style guide violations
  src/app/hooks/use-profile-utils.test.tsx
Due: none

chore: update snapshots
  src/app/components/Collapse/CollapseToggleButton.test.tsx
  src/app/components/Collapse/__snapshots__/CollapseToggleButton.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Collapse/CollapseToggleButton.test.tsx
Due: none

fix: adjust transaction row width
  src/app/hooks/use-text-truncate.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

style: resolve style guide violations
  src/app/hooks/use-text-truncate.tsx
Due: none

chore: update snapshots
  src/app/hooks/use-text-truncate.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

refactor: add magistrate aggregate option
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.test.tsx
Due: none

fix: accessibility of password visibility icon
  src/app/components/Input/InputPassword.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: disable transaction filter when profile has no wallets (#3679)
  src/app/components/Collapse/CollapseToggleButton.test.tsx
  src/app/components/Collapse/CollapseToggleButton.tsx
  src/app/components/Collapse/__snapshots__/CollapseToggleButton.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: none

feat: implementing Profile Created modal (#3674)
  src/domains/profile/components/ProfileCreated/ProfileCreated.tsx
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
Due: none

wip
  src/app/App.tsx
Due: none

wip
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write

wip
  src/app/assets/svg/currencies/index.ts
Due: yarn lint, prettier --write

wip
  src/app/assets/svg/currencies/ada.svg
  src/app/assets/svg/currencies/atom.svg
  src/app/assets/svg/currencies/avax.svg
  src/app/assets/svg/currencies/dot.svg
  src/app/assets/svg/currencies/eos.svg
  src/app/assets/svg/currencies/luna.svg
  src/app/assets/svg/currencies/nano.svg
  src/app/assets/svg/currencies/neo.svg
  src/app/assets/svg/currencies/sol.svg
  src/app/assets/svg/currencies/trx.svg
  src/app/assets/svg/currencies/xlm.svg
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/app/App.tsx
Due: none

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/app/assets/svg/currencies/ada.svg
  src/app/assets/svg/currencies/ark.svg
  src/app/assets/svg/currencies/atom.svg
  src/app/assets/svg/currencies/avax.svg
  src/app/assets/svg/currencies/btc.svg
  src/app/assets/svg/currencies/dot.svg
  src/app/assets/svg/currencies/eos.svg
  src/app/assets/svg/currencies/eth.svg
  src/app/assets/svg/currencies/luna.svg
  src/app/assets/svg/currencies/nano.svg
  src/app/assets/svg/currencies/neo.svg
  src/app/assets/svg/currencies/sol.svg
  src/app/assets/svg/currencies/trx.svg
  src/app/assets/svg/currencies/xlm.svg
Due: none

style: resolve style guide violations
  src/domains/network/data.ts
Due: yarn lint, prettier --write

feat: enable AVAX integration (#3686)
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write

feat: enable XRP integration (#3688)
  src/app/App.tsx
Due: none

feat: enable DOT integration (#3692)
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write

feat: enable XLM integration (#3683)
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write
