Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

style: resolve style guide violations
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: cover entity update action in `MyRegistrations` listings
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
Due: none

test: fix `EntityRegistrationForm` coverage after required steps in `AuthenticationStep`
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
Due: none

style: resolve style guide violations
  src/app/hooks/validations.ts
Due: yarn lint, prettier --write

test: fix `different act` error and move tests from `EntityRegistrationForm` to `SendEntityRegistration`
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

chore: change developer to module
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: change desktop plugin to plugin
  src/renderer/components/Wallet/WalletAddress.vue
  src/renderer/i18n/locales/en-US.js
  src/renderer/mixins/transaction-types.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: correct default fees in `SendEntityRegistration`
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: none

feat: add product registration, resignation and update
  src/renderer/components/Wallet/WalletAddress.vue
  src/renderer/i18n/locales/en-US.js
  src/renderer/mixins/transaction-types.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: use common validation rules name `entityRegistration`
  src/app/hooks/validations.ts
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/validations/EntityRegistration.ts
  src/domains/transaction/validations/index.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.test.tsx
Due: none

chore: fix build errors
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
Due: none

refactor: remove subtype check
  src/renderer/mixins/transaction-types.js
Due: npm run lint:fix, yarn lint, prettier --write

test: add full coverage
  src/domains/transaction/components/EntityRegistrationForm/Step2.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

chore: add snapshots
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/__snapshots__/EntityRegistrationForm.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

chore: update undefined labels
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: merge final step component for `SendEntityRegistration` and `SendEntityUpdate`
  src/domains/transaction/components/EntityRegistrationForm/TransactionSentStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/Step3.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/pages/SendEntityUpdate/Step4.tsx
Due: yarn lint, prettier --write

feat: add i18n in `SendEntityUpdate`
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/EntityRegistrationForm/TransactionSentStep.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/EntityRegistrationForm/TransactionSentStep.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

chore: fix build errors
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: none

feat: use entity update as fee
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: none

feat: add dynamic tx type to get fee
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
Due: none

feat: dynamic fee for entity update
  src/domains/transaction/pages/SendEntityUpdate/Step1.tsx
Due: none

feat: consume ipfs fees
  src/domains/transaction/pages/SendIpfs/Step1.tsx
Due: none

chore: add type for transaction fee
  src/domains/transaction/pages/SendVote/Step1.tsx
Due: none

fix: typo in type
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: none

tests: update send entity update
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

tests: update ipfs snapshot
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

tests: remove fixed content expectation
  src/domains/news/e2e/filtering.e2e.ts
Due: yarn lint, prettier --write

feat: get the balance per coin
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

refactor: use NetworkIcon in wallet card and list
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/network/components/NetworkIcon/NetworkIcon.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/__snapshots__/EntityRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

style: resolve style guide violations
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: none

fix: icons in news components
  src/app/components/FilterNetwork/FilterNetwork.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.test.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/data.ts
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

refactor: use NetworkIcon in wallet card and list (#2836)
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/network/components/NetworkIcon/NetworkIcon.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/__snapshots__/EntityRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none
