Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: adjust styles of receive funds address
  src/app/components/Address/Address.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
Due: none

fix: show unconfirmed tx modal when submitting with Enter (#3791)
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: globally mock fs (#3789)
  jest.setup.js
  src/app/hooks/use-files.test.tsx
  src/plugins/services/filesystem/FileSystemPluginService.test.ts
  src/utils/electron-utils.test.ts
Due: npm run lint:fix, yarn lint, prettier --write

feat: update TableCell to support compact row height (#3788)
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Table/TableCell.styles.ts
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: yarn lint, prettier --write

refactor: handle automatic signout and screenshot protection in profile synchronizer (#3785)
  src/app/hooks/use-automatic-signout.test.ts
  src/app/hooks/use-automatic-signout.ts
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-screenshot-protection.test.ts
  src/app/hooks/use-screenshot-protection.ts
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
  src/router/index.tsx
Due: yarn lint, prettier --write

refactor: show sender alias in input (#3783)
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: exclude used networks from dropdown (#3784)
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/contact/i18n.ts
Due: yarn lint, prettier --write

refactor: replace button with span in plugin card (#3781)
  src/app/assets/svg/update.svg
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
Due: none

fix: adjust styles of external links (#3782)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: truncate recipient address in unconfirmed tx modal (#3786)
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

feat: add common sign method in transaction builder
  src/domains/transaction/hooks/use-transaction-builder.ts
Due: yarn lint, prettier --write

refactor: use signatory in delegate resignation
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
Due: none

refactor: use signatory in ipfs
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
Due: none

refactor: use signatory in send transfer
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

refactor: use signatory in vote
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

refactor: use signatory in message signer hook
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.ts
Due: yarn lint, prettier --write

refactor: use signatory in multisignature detail
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
Due: none

refactor: use signatory in multisignature registration
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
Due: none

refactor: update manuall installation disclaimer
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

chore: fix build errors
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
Due: none

test: implement clipboard button
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

test: update network config in fixtures
  src/tests/fixtures/env/storage.json
Due: prettier --write

refactor: adjust pulling slip44 config values
  src/app/contexts/Ledger/hooks/connection.ts
  src/tests/fixtures/env/storage-mainnet.json
Due: yarn lint, prettier --write

feat: add well confirmed tootip in wallets confirmation column
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowConfirmation.tsx
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

refactor: adjust network manifests
  src/app/hooks/use-network-options.test.tsx
  src/domains/network/data.ts
Due: yarn lint, prettier --write

chore: fix tests in network domain
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
Due: none

test: fix failing in contact domain
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

chore: fix failing in profile domain
  src/domains/profile/hooks/use-profile-addresses.test.tsx
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  src/tests/fixtures/profile/import/profile.dwe
Due: none

test: fix failing in setting domain
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none

feat: enforce password validation
  custom.d.ts
  package.json
  src/app/i18n/common/i18n.ts
  src/app/validations/password.test.tsx
  src/app/validations/password.ts
Due: yarn lint, prettier --write

test: fix failing in wallet details
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

chore: update psdk to v8.1.5
  package.json
  yarn.lock
Due: prettier --write

update tests
  src/app/validations/password.test.tsx
  src/app/validations/password.ts
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.test.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.test.tsx
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  yarn.lock
Due: yarn lint, prettier --write

reword pwned to leaked
  src/app/i18n/common/i18n.ts
  src/app/validations/password.test.tsx
  src/app/validations/password.ts
Due: yarn lint, prettier --write

update tests
  src/app/validations/password.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
Due: yarn lint, prettier --write

fix tests coverage
  src/app/validations/password.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none
