Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: add coverage for pending transactions hook
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.test.tsx
Due: none

chore: fix build errors
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.domain.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

refactor: update `SendTransfer`
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

refactor: pass error message to `ErrorStep` component ipfs and delegate resignation
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

refactor: show skeleton while loading transaction expiration
  src/domains/transaction/pages/SendTransfer/LedgerReview.test.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
Due: none

wip
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/LedgerReview.test.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
Due: none

chore: adjust hover color of notification icon
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: add translation for authentication by secret
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

chore: adjust hover color of notification icon (#4023)
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/setting/pages/Export/__snapshots__/Export.test.tsx.snap
  src/domains/setting/pages/General/__snapshots__/General.test.tsx.snap
  src/domains/setting/pages/Password/__snapshots__/Password.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: show skeleton while loading transaction expiration (#4022)
  src/domains/transaction/pages/SendTransfer/LedgerReview.test.tsx
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/LedgerReview.test.tsx.snap
Due: none

refactor: pass error message to `ErrorStep` component ipfs and delegate resignation (#4021)
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
Due: none

chore: add translation for authentication by secret (#4024)
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

fix: adjustments on pending multisignature transactions (#4020)
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.contracts.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.domain.ts
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/PendingTransactionsTable.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/__snapshots__/PendingTransactionsTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.test.tsx
  src/domains/transaction/components/TransactionTable/PendingTransactionsTable/hooks/use-pending-transactions.ts
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: yarn lint, prettier --write

wip
  package.json
Due: prettier --write

wip
  yarn.lock
Due: none

chore: update Platform SDK dependencies (#4025)
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
Due: none

wip
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
Due: none

wip
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

fix: show second signature field for multi-signature participant signing (#4026)
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
Due: none

wip
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: update invalid mnemonic expectations for IPFS signing (#4027)
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: none

wip
  src/app/assets/images/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/wallet/e2e/common.ts
Due: yarn lint, prettier --write

fix: switch to system theme when returning from create profile
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

fix: switch to system theme when returning from import profile
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
