Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: update tooltip copy in delegates table explorer link
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
Due: none

wip
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ImportProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

update icon
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

refactor: fix act errors in `WalletHeader` tests
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update icon and tooltip copy in delegates table explorer link (#3829)
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

refactor: persist profile when skipping tutorial
  src/domains/dashboard/hooks/use-tutorial.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: yarn lint, prettier --write

chore: adjust tests
  src/domains/dashboard/hooks/use-tutorial.test.tsx
Due: none

refactor: adjust styles of plugin navigation bar items
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/styles.ts
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

refactor: fix act errors in `WalletHeader` tests (#3830)
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

chore: update snapshots
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

fix: reset all profile statuses when not in profile domain
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: adjust styles of control buttons
  src/app/components/ControlButton/ControlButton.tsx
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Header/HeaderSearchBar/__snapshots__/HeaderSearchBar.test.tsx.snap
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: none

feat: sync exchange rates when saving settings
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

fix: make profile balance hook reactive to converted balance updates
  src/app/hooks/use-profile-balance.ts
Due: yarn lint, prettier --write

refactor: show loading state in balance when profile is syncing
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

chore: fix build errors
  src/app/hooks/use-profile-balance.ts
Due: yarn lint, prettier --write

fix: focus styles of sender button
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
Due: none

wip
  package.json
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/utils.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

wip
  src/app/hooks/use-profile-balance.ts
Due: yarn lint, prettier --write

fix: denominate fees when normalizing
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

fix: get fee currency decimals from coin config
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

wip
  package.json
Due: prettier --write

wip
  src/domains/network/data.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: modal scrollbar and scrollable modal overlay
  src/app/components/Modal/Modal.test.tsx
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/index.tsx
  src/app/components/Modal/utils.ts
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  src/app/hooks/use-network-options.test.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/network/data.ts
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/data.ts
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: yarn lint, prettier --write

chore: use currency decimals enum
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

wip
  package.json
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

fix: space around modal for smaller resolution
  src/app/components/Modal/Modal.tsx
Due: none

chore: update psdk to v8.9.7
  package.json
  yarn.lock
Due: prettier --write

feat: update AuthenticationStep to ask for key based on wallet import method
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/hooks/use-wallet-signatory.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/components/SignMessage/FormStep.tsx
Due: yarn lint, prettier --write

refactor: pass satoshi units in `TotalAmountBox` in `SendTransfer`
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
Due: none

test: adjust failing in `SendTransfer`
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none
