Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/tests/fixtures/wallets/DABCrsfEqhtdzmBrE2AU5NNmdUFCGXKEkr.json
Due: yarn lint, prettier --write

wip
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/tests/fixtures/coins/ark/devnet/wallets/DABCrsfEqhtdzmBrE2AU5NNmdUFCGXKEkr.json
  src/utils/testing-library.tsx
Due: prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/tests/fixtures/coins/ark/devnet/wallets/DABCrsfEqhtdzmBrE2AU5NNmdUFCGXKEkr-basic.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
Due: none

wip
  package.json
  src/domains/wallet/hooks/use-wallet-import.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/hooks/use-wallet-import.ts
Due: yarn lint, prettier --write

wip
  package.json
  src/domains/wallet/hooks/use-import-options.test.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

wip
  package.json
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/hooks/use-wallet-signatory.ts
  src/domains/transaction/validations/Authentication.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none

wip
  src/domains/wallet/components/SignMessage/FormStep.tsx
Due: none

fix: hide delegate registration if wallet is resigned delegate
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

wip
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
Due: yarn lint, prettier --write

wip
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

fix: hide delegate registration if wallet is resigned delegate (#3996)
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

wip
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
Due: none

wip
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
Due: none

wip
  src/domains/transaction/validations/Authentication.test.tsx
Due: none

feat: implement wallet import and usage with `secret` (#3990)
  package.json
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.ts
  src/domains/wallet/hooks/use-import-options.test.ts
  src/domains/wallet/hooks/use-import-options.ts
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  yarn.lock
Due: yarn lint, prettier --write

fix: wallet creation without user completing the process
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

wip
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

wip
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

Update src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

fix: only revert to system theme on sign out (#3998)
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

tests
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
Due: none

Update MnemonicVerification.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none
