Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

Update HttpClient.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

refactor: add structure for url validation
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.stories.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/LinkList/LinkList.stories.tsx
  src/domains/transaction/entity/providers.test.ts
  src/domains/transaction/entity/providers.ts
Due: yarn lint, prettier --write

wip
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

feat: sync wallet data (#2748)
  package.json
  src/__snapshots__/index.test.ts.snap
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/services/Scheduler.test.ts
  src/app/services/Scheduler.ts
  src/app/services/index.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/tests/fixtures/env/storage.json
  src/tests/fixtures/exchange/cryptocompare.json
  src/utils/testing-library.tsx
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/utils/testing-library.tsx
Due: none

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  package.json
Due: prettier --write

wip
  src/app/services/HttpClient.ts
  src/app/services/Scheduler.ts
Due: yarn lint, prettier --write

refactor: add more validations
  src/domains/transaction/entity/providers.test.ts
  src/domains/transaction/entity/providers.ts
Due: yarn lint, prettier --write

refactor: fix update registration link format
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.tsx
Due: none

fix: disable eslint atm
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
Due: none

fix: correct transaction success title
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/TransactionSuccessful.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
Due: none

fix(deps): update dependency @fortawesome/vue-fontawesome to v2
  package.json
  yarn.lock
Due: prettier --write

refactor: update e2e transaction tests
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

refactor: update e2e transaction routing tests
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: fix scheduler loop and refactor to class
  src/app/services/Scheduler.test.ts
  src/app/services/Scheduler.ts
Due: yarn lint, prettier --write

feat: sync all fees at initialize
  src/app/App.tsx
Due: none

tests: update typo error
  src/app/services/Scheduler.test.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

test: add e2e tests for ipfs transaction
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

test: should show an error if an invalid IPFS hash is entered
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

test: should fail IPFS submission
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

test: should show an error if wrong mnemonic
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/e2e/multiple-transaction.e2e.ts
  src/domains/transaction/e2e/single-transaction.e2e.ts
Due: yarn lint, prettier --write

refactor: combine SearchWallet and SearchAddress components
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/profile/components/SearchAddress/SearchAddress.stories.tsx
  src/domains/profile/components/SearchAddress/SearchAddress.test.tsx
  src/domains/profile/components/SearchAddress/SearchAddress.tsx
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/profile/components/SearchAddress/index.ts
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/i18n.ts
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.models.ts
  src/domains/wallet/components/SearchWallet/SearchWallet.stories.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: yarn lint, prettier --write

feat: sync fees using scheduler (#2777)
  src/app/App.tsx
  src/app/services/Scheduler.test.ts
  src/app/services/Scheduler.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/e2e.yml
Due: none

wip
  .github/workflows/e2e.yml
  package.json
Due: prettier --write

chore: fix transaction success title typo (#2774)
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/TransactionSuccessful.test.tsx.snap
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
Due: yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
  .gitignore
  src/app/App.tsx
Due: none

wip
  src/domains/contact/e2e/delete-contact.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/contact/e2e/contacts-routing.e2e.ts
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/delete-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/e2e/news-routing.e2e.ts
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/vote/e2e/votes.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
