Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
Due: yarn lint, prettier --write

wip
  src/domains/setting/hooks/use-profile-export.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/components/ResetProfile/ResetProfile.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/available-settings/Export.tsx
Due: none

wip
  src/domains/dashboard/components/PortfolioChart/hooks.ts
Due: yarn lint, prettier --write

fix: use `fromAddressWithLedgerPath` when importing ledger wallets
  src/app/contexts/Ledger/hooks/connection.ts
  src/domains/setting/hooks/use-profile-export.ts
Due: yarn lint, prettier --write

Update src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/NotificationTransactionItem.tsx
Due: none

wip
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
Due: none

wip
  src/app/contexts/Ledger/hooks/connection.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
Due: none

chore: revert layout effect in `App` (#3675)
  src/app/App.tsx
Due: none

refactor: group magistrate types in transaction filter
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Due: yarn lint, prettier --write

fix: remove entity transaction types
  src/domains/transaction/hooks/use-transaction-types.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/hooks/use-transaction-types.ts
Due: yarn lint, prettier --write

feat: add `Open in Explorer` option to wallet dropdown
  src/app/assets/svg/index.ts
  src/app/assets/svg/open-explorer.svg
  src/app/components/Dropdown/Dropdown.tsx
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

chore: optimize 1 SVG(s)
  src/app/assets/svg/open-explorer.svg
Due: none

wip
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

wip
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/hooks/use-transaction-types.test.tsx
Due: none

fix: disable transaction filter when profile has no wallets
  src/app/components/Collapse/CollapseToggleButton.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Collapse/CollapseToggleButton.tsx
  src/domains/transaction/components/FilterTransactions/FilterTransactions.tsx
Due: none

refactor: disable pagination for search results on votes page (#3618)
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

feat: add `Open in Explorer` option to wallet dropdown (#3678)
  src/app/assets/svg/index.ts
  src/app/assets/svg/open-explorer.svg
  src/app/components/Dropdown/Dropdown.tsx
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

wip
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

wip
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
Due: none

wip
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
Due: none

fix: accessibility password input on tabbing (#3671)
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
Due: none

chore: update psdk to v5.0.5
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Due: none

wip
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/hooks/use-transaction.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
Due: yarn lint, prettier --write

wip
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/components/SignMessage/FormStep.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

wip
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/hooks/use-wallet-sync.ts
Due: yarn lint, prettier --write

wip
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/components/ResetProfile/ResetProfile.tsx
Due: none

wip
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/domains/dashboard/components/PortfolioChart/hooks.ts
  src/domains/setting/hooks/use-profile-export.ts
  src/domains/setting/pages/Settings/available-settings/Export.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: yarn lint, prettier --write

fix: adjust transaction aggregate method names
  src/domains/transaction/hooks/use-profile-transactions.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
