Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test(e2e): update wallet card address id
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: adjust tests for `Settings`
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

fix: update fixture in `TransactionSend`
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

feat: add input file to upload avatar
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

test: use default mocks for tests provided by testing-library
  src/app/App.test.tsx
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/hooks/env.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/news/pages/News/News.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/utils/testing-library.tsx
Due: none

feat: implement profile deleting
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

refactor: replace hardcoded fixture profile id pulling it from function
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/hooks/env.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/help/pages/Article/Article.test.tsx
  src/domains/help/pages/Faq/Faq.test.tsx
  src/domains/help/pages/Main/Main.test.tsx
  src/domains/news/pages/News/News.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore: update `Registration` snapshot
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/App.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
Due: none

refactor: use fixture in `ImportWallet`
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

refactor: remove unused identity.ts
  src/tests/fixtures/identity.ts
Due: yarn lint, prettier --write

chore: update snapshots for `ImportWallet`
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

refactor: remove data.ts from default env stub
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/utils/testing-library.tsx
Due: none

feat: show image preview when uploading
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

refactor: use empty fixture with default profileId in `CreateWallet`
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

refactor: delete unused fixture `env/data.json`
  src/tests/fixtures/env/data.json
Due: prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
Due: none

feat: set avatar in profile and update electron openFile to work with other encoders
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

feat(dashboard): wip - load transactions from profile wallets
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/tests/fixtures/coins/ark/transactions.json
Due: prettier --write

feat: implement avatar uploading in settings page
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

style: resolve style guide violations
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.stories.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.stories.tsx
Due: none

feat(tests): wip - wrap assertions and finders with wait for due to async operations
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

feat: add avatar image to profile card
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

test(e2e): update wallet card addresses
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
Due: yarn lint, prettier --write

refactor: registrations stubs truthy until implemented
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

wip
  package.json
  src/domains/contact/components/ContactListItem/ContactListItem.test.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/SearchContact/SearchContact.stories.tsx
  src/domains/contact/components/SearchContact/SearchContact.test.tsx
  src/domains/contact/components/SearchContact/SearchContact.tsx
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/profile/components/SelectRecipient/SelectRecipient.stories.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.stories.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.stories.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  yarn.lock
Due: yarn lint, prettier --write

test: fix plugin failures with console.log
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
Due: none

test: fix root render test failure
  src/index.test.ts
Due: yarn lint, prettier --write

wip
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/DeleteContact/DeleteContact.stories.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.stories.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/data.ts
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.stories.tsx
Due: yarn lint, prettier --write

wip
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

test: add tests to upload avatar image in create profile
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

test: add tests to upload avatar image in profile settings
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

chore: update Platform SDK dependencies (#2569)
  package.json
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  yarn.lock
Due: prettier --write

chore: use `jest-circus` as test-runner (#2565)
  package.json
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/index.test.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
Due: none

chore: additional fixes after merge
  src/domains/help/pages/Main/Main.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
Due: none
