Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

chore: remove background color from InputAddonEnd
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

feat: add loading skeleton to the delegate table
  src/domains/transaction/routing.ts
  src/domains/vote/components/DelegateList/DelegateList.tsx
  src/domains/vote/components/DelegateListItem/DelegateListItem.tsx
  src/domains/vote/components/DelegateListItem/DelegateListItemSkeleton.tsx
Due: yarn lint, prettier --write

refactor: change form test id
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
Due: none

refactor: remove unused checks
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
Due: none

test: temp skip reg test & update snapshot
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

chore: add delegate registration fixture
  src/tests/fixtures/coins/ark/transactions/delegate-registration.json
Due: prettier --write

test: delegate registration form
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
Due: none

chore: update registration snapshot
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
Due: none

refactor: update the delegate table and some tweaks
  src/domains/vote/components/DelegateList/DelegateList.tsx
  src/domains/vote/components/DelegateListItem/DelegateListItem.tsx
  src/domains/vote/components/DelegateListItem/DelegateListItemSkeleton.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

refactor: detail modal vote (#2698)
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/IpfsDetail/IpfsDetail.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.stories.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

ci: remove CodeQL analysis
  .github/workflows/codeql-analysis.yml
Due: none

ci: remove CodeQL analysis (#2703)
  .github/workflows/codeql-analysis.yml
Due: none

refactor: change avatar button color on hover (#2701)
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

chore: remove background color from InputAddonEnd (#2702)
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

wip
  src/electron/index.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: fix login/sign in terminology
  package.json
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/i18n.ts
  src/domains/profile/middleware.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/tests/fixtures/env/storage.json
  src/utils/storybook.tsx
  yarn.lock
Due: yarn lint, prettier --write

chore: increase sign in timeout to 60 seconds
  src/domains/profile/components/SignIn/SignIn.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

chore: fix login/sign in terminology (#2704)
  package.json
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/i18n.ts
  src/domains/profile/middleware.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/tests/fixtures/env/storage.json
  src/utils/storybook.tsx
  yarn.lock
Due: yarn lint, prettier --write

test: fix failing
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

wip
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

chore: increase sign in timeout to 60 seconds (#2705)
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/components/SignIn/SignIn.tsx
Due: none

wip
  config-overrides.js
  package.json
  src/app/App.tsx
  src/domains/network/data.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

refactor: add route redirection action in registration tables
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
Due: none

chore: optional on action callback in registration tables
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
Due: none

refactor: feed delegates table with profiles delegate wallets
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

chore: use only register action
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
Due: none

fix: adjust negative margins and paddings inside of modals
  src/app/components/SearchBar/SearchBar.tsx
  src/app/components/SearchBar/__snapshots__/SearchBar.test.tsx.snap
  src/app/components/SearchResource/SearchResource.tsx
  src/app/components/SearchResource/__snapshots__/SearchResource.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/help/components/SearchHelp/__snapshots__/SearchHelp.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/profile/components/SearchAddress/__snapshots__/SearchAddress.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: none

refactor: update vote routes
  src/domains/transaction/routing.ts
  src/domains/vote/routing.ts
Due: yarn lint, prettier --write

test: add additional wallet mock
  src/utils/testing-library.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
