Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: add address format component (#2072)
  src/app/components/Address/Address.stories.tsx
  src/app/components/Address/Address.tsx
  src/app/components/Address/__tests__/Address.spec.tsx
  src/app/components/Address/__tests__/__snapshots__/Address.spec.tsx.snap
  src/app/components/Address/index.ts
  src/app/components/Address/utils.ts
Due: yarn lint, prettier --write

chore: update snapshot with i18n change
  src/__tests__/__snapshots__/index.spec.ts.snap
Due: none

test: update snapshots affected by form label padding
  src/app/components/Form/__tests__/__snapshots__/FormLabel.spec.tsx.snap
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
Due: none

test: name wallet modal
  src/app/components/Modal/__tests__/ModalNameWallet.spec.tsx
  src/app/components/Modal/__tests__/__snapshots__/ModalNameWallet.spec.tsx.snap
Due: none

refactor: on save method passed to form
  src/app/components/Modal/ModalNameWallet.tsx
Due: none

test: fix missing save prop
  src/app/components/Modal/__tests__/ModalNameWallet.spec.tsx
Due: none

test: increase profile card tests
  src/domains/profile/components/ProfileCard/__tests__/ProfileCard.spec.tsx
Due: none

refactor: rename & move wallet name modal
  src/app/components/Modal/Modal.stories.tsx
  src/app/components/Modal/index.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallets/components/UpdateWalletName/__tests__/UpdateWalletName.spec.tsx
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
  src/domains/wallets/components/UpdateWalletName/index.tsx
Due: none

refactor: make callbacks any type
  src/app/components/Modal/Modal.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.tsx
Due: none

test: update snapshot for wallet name update
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
Due: none

fix: sign message component with modal close callback
  src/domains/wallets/components/SignMessage/SignMessage.tsx
Due: none

feat: add wallet card component
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__tests__/WalletCard.spec.tsx
  src/app/components/WalletCard/__tests__/__snapshots__/WalletCard.spec.tsx.snap
  src/app/components/WalletCard/index.ts
Due: yarn lint, prettier --write

fix: dropdown background color
  src/app/components/Dropdown/Dropdown.tsx
Due: none

chore: fix card labels
  src/app/components/WalletCard/WalletCard.stories.tsx
Due: none

feat: add WalletMnemonicVerification component
  .storybook/main.js
  config-overrides.js
  package.json
  src/app/components/Tabs/Tabs.tsx
  src/app/components/Tabs/__tests__/Tabs.spec.tsx
  src/app/components/Tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/MnemonicVerification.stories.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationOptions.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationProgress.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerification.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationOptions.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationProgress.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/__snapshots__/MnemonicVerificationProgress.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/__tests__/utils/shuffleOptions.spec.ts
  src/domains/wallets/components/MnemonicVerification/index.ts
  src/domains/wallets/components/MnemonicVerification/utils/shuffleOptions.ts
  src/domains/wallets/pages/ImportWallet/ImportWallet.tsx
  src/resources/assets/svg/checkmark.svg
  src/resources/assets/svg/index.ts
  src/tailwind.config.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: add options and callback props to profile card settings
  src/domains/profile/components/ProfileCard/ProfileCard.stories.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__tests__/ProfileCard.spec.tsx
  src/domains/profile/components/ProfileCard/__tests__/__snapshots__/ProfileCard.spec.tsx.snap
Due: none

feat: add verify message component
  src/domains/wallets/components/VerifyMessage/VerifyMessage.stories.tsx
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/VerifyMessage.spec.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/index.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  .storybook/main.js
  config-overrides.js
  src/domains/wallets/components/MnemonicVerification/__tests__/utils/shuffleOptions.spec.ts
  src/domains/wallets/components/MnemonicVerification/index.ts
  src/domains/wallets/components/MnemonicVerification/utils/shuffleOptions.ts
  src/resources/assets/svg/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

chore: remove default alert title
  src/app/components/Alert/Alert.tsx
  src/app/components/Alert/__tests__/__snapshots__/Alert.spec.tsx.snap
Due: none

chore: small UI tweaks, update snapshots
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
Due: none

fix: emit wallet card option selection
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.tsx
Due: none

test: fix coverage
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerification.spec.tsx
Due: none

feat: default fill publick key, update snapshot
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
Due: none

test: fix coverage and some tweaks
  src/domains/profile/components/ProfileCard/ProfileCard.stories.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__tests__/ProfileCard.spec.tsx
  src/domains/profile/components/ProfileCard/__tests__/__snapshots__/ProfileCard.spec.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

chore: add msq icon
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/resources/assets/svg/index.ts
  src/resources/assets/svg/msq.svg
Due: yarn lint, prettier --write

test: update welcome page snapshot
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
Due: none

feat: contact us modal
  src/domains/help/components/ContactUs/ContactUs.tsx
Due: none

refactor: remove hidden overflow from modal
  src/app/components/Modal/Modal.tsx
Due: none

feat: add social icons
  src/resources/assets/svg/discord.svg
  src/resources/assets/svg/send.svg
  src/resources/assets/svg/slack.svg
  src/resources/assets/svg/twitter.svg
Due: none

feat: add contact export & storybook
  src/domains/help/components/ContactUs/ContactUs.stories.tsx
  src/domains/help/components/ContactUs/index.tsx
Due: none

chore: add translation messages
  src/i18n/locales/en-US/messages.ts
Due: yarn lint, prettier --write

chore: update svg export
  src/resources/assets/svg/index.ts
Due: yarn lint, prettier --write

test: update index snapshot
  src/__tests__/__snapshots__/index.spec.ts.snap
Due: none

test: update snapshots with modal change
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
Due: none

test: contact us component
  src/domains/help/components/ContactUs/__tests__/ContactUs.spec.tsx
  src/domains/help/components/ContactUs/__tests__/__snapshots__/ContactUs.spec.tsx.snap
Due: none

chore: fallback to ecdsa from tx schnorr signing
  src/renderer/services/ledger-service.js
Due: npm run lint:fix, yarn lint, prettier --write

dep(ledger-transport): update version 1.1.1 -> 1.1.2
  package.json
  yarn.lock
Due: prettier --write

fix: update create profile page
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__tests__/CreateProfile.spec.tsx
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
Due: none

fix: remove errors variable
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

fix: update create profile page (#2081)
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__tests__/CreateProfile.spec.tsx
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
Due: none
