Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: increase coverage
  src/utils/e2e-utils.test.ts
Due: yarn lint, prettier --write

refactor: use `BlockfolioSignal` type in `NewsCard`
  src/domains/news/components/NewsCard/NewsCard.stories.tsx
  src/domains/news/components/NewsCard/NewsCard.tsx
Due: none

refactor: handle and emit search and category change actions on `NewsOptions`
  src/domains/news/components/NewsOptions/NewsOptions.stories.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
Due: none

refactor: integrate blockfolio singals in `News` page
  src/domains/news/pages/News/News.tsx
Due: none

refactor: drop unused news mock data
  src/domains/news/data.ts
Due: yarn lint, prettier --write

feat: add coins mocks for news list
  src/domains/news/data.ts
Due: yarn lint, prettier --write

test: add blockfolio fixture
  src/tests/fixtures/news/blockfolio.json
Due: prettier --write

test: add blockfolio fixture tests
  src/domains/news/pages/News/News.test.tsx
Due: none

wip
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/News.stories.tsx
Due: none

test: add tests to the InputAddress component
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
Due: none

chore: update InputAddress tests
  src/app/components/Input/Input.stories.tsx
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

feat: add simple error/success alerts
  src/app/i18n/common/i18n.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/Password.tsx
Due: yarn lint, prettier --write

refactor: input password test id
  src/app/components/Input/InputPassword.tsx
Due: none

test: remove redundant checks
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
Due: none

chore: update snapshots
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

wip (test): transaction send page
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
Due: none

refactor: remove unused transaction send props
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
Due: none

refactor: trigger validation on other password field
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/Password.tsx
Due: yarn lint, prettier --write

wip
  src/app/services/Cache.test.ts
  src/app/services/Cache.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

Update HttpClient.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  src/app/services/index.ts
Due: yarn lint, prettier --write

wip
  src/app/services/Cache.test.ts
Due: yarn lint, prettier --write

feat: cache HTTP requests based on their URL (#2635)
  src/app/services/Cache.test.ts
  src/app/services/Cache.ts
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  src/app/services/index.ts
Due: yarn lint, prettier --write

chore: update fixture data (#2633)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/tests/fixtures/coins/ark/wallets/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb.json
  src/tests/fixtures/env/storage.json
Due: prettier --write

refactor: conditionally show external icon on `Link`
  src/app/components/Link/Link.tsx
Due: none

feat: hightlight link in `NewsCard` text
  src/domains/news/components/NewsCard/NewsCard.tsx
Due: none

test: fix plugin e2e
  src/domains/plugin/e2e/plugins-routing.e2e.ts
Due: yarn lint, prettier --write

build: make all packages as external (#2634)
  .github/workflows/test.yml
  .storybook/main.js
  .testcafe-electron-rc
  .testcafe-electron-rc.js
  .testcaferc.json
  config-overrides.js
  package.json
  public/electron.js
  public/menu.js
  src/app/App.tsx
  src/domains/contact/e2e/contacts-routing.e2e.ts
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/delete-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
  src/electron/index.js
  src/tailwind.config.js
  src/utils/e2e-utils.test.ts
  src/utils/e2e-utils.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
Due: prettier --write

wip
  package.json
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

refactor: use register prop instead of formcontext
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

refactor: include method and data in cache key (#2636)
  package.json
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: validation field name
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

chore: update tests and some tweaks
  src/app/components/Input/InputAddress.test.tsx
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/__snapshots__/InputAddress.test.tsx.snap
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

fix: spacing and alignment in wallet details components
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
