Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

chore: add exchange images
  src/domains/exchange/images/exchange-cards-banner.svg
  src/domains/exchange/images/index.ts
  src/domains/exchange/images/no-exchanges-banner.svg
Due: yarn lint, prettier --write

refactor: tailwind add 20px border
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: add exchange card component
  src/domains/exchange/components/ExchangeCard/ExchangeCard.stories.tsx
  src/domains/exchange/components/ExchangeCard/ExchangeCard.test.tsx
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/index.ts
Due: yarn lint, prettier --write

feat: add exchange page
  src/domains/exchange/pages/Exchange/Exchange.stories.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.tsx
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/exchange/pages/Exchange/index.tsx
Due: none

style: remove empty first line
  src/domains/exchange/components/ExchangeCard/ExchangeCard.stories.tsx
Due: none

test: update snapshots
  src/__snapshots__/index.test.ts.snap
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/domains/contacts/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contacts/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contacts/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugins/components/InstallPlugin/__snapshots__/InstallPlugin.test.tsx.snap
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
  src/domains/search/components/SearchModal/__snapshots__/SearchModal.test.tsx.snap
  src/domains/settings/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/settings/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SelectDelegate/__snapshots__/SelectDelegate.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/wallets/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallets/components/LedgerWallet/__snapshots__/LedgerWallet.test.tsx.snap
  src/domains/wallets/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallets/components/SelectAccount/__snapshots__/SelectAccount.test.tsx.snap
  src/domains/wallets/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallets/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallets/components/VerifyMessageStatus/__snapshots__/VerifyMessageStatus.test.tsx.snap
  src/domains/wallets/components/WalletUpdate/__snapshots__/WalletUpdate.test.tsx.snap
Due: none

refactor: remove unused dropdown callback
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
Due: none

refactor: update exchange card story with on click
  src/domains/exchange/components/ExchangeCard/ExchangeCard.stories.tsx
Due: none

refactor: update add exchange card story with callback
  src/domains/exchange/components/ExchangeCard/ExchangeCard.stories.tsx
Due: none

refactor: fix linting
  src/domains/exchange/pages/Exchange/Exchange.stories.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.tsx
Due: none

chore: update permissions
  src/app/i18n/common/i18n.ts
  src/app/i18n/helpers/index.ts
  src/domains/settings/i18n.ts
Due: yarn lint, prettier --write

chore: update main snapshot
  src/__snapshots__/index.test.ts.snap
Due: none

feat: add advanced mode model component
  src/domains/settings/components/AdvancedMode/AdvancedMode.stories.tsx
  src/domains/settings/components/AdvancedMode/AdvancedMode.test.tsx
  src/domains/settings/components/AdvancedMode/AdvancedMode.tsx
  src/domains/settings/components/AdvancedMode/__snapshots__/AdvancedMode.test.tsx.snap
  src/domains/settings/components/AdvancedMode/index.ts
Due: yarn lint, prettier --write

wip
  src/app/components/Address/Address.tsx
  src/domains/contacts/pages/Contacts/Contacts.stories.tsx
  src/domains/contacts/pages/Contacts/Contacts.tsx
Due: none

feat: advanced mode disclaimer (#2230)
  src/__snapshots__/index.test.ts.snap
  src/app/i18n/common/i18n.ts
  src/app/i18n/helpers/index.ts
  src/domains/settings/components/AdvancedMode/AdvancedMode.stories.tsx
  src/domains/settings/components/AdvancedMode/AdvancedMode.test.tsx
  src/domains/settings/components/AdvancedMode/AdvancedMode.tsx
  src/domains/settings/components/AdvancedMode/__snapshots__/AdvancedMode.test.tsx.snap
  src/domains/settings/components/AdvancedMode/index.ts
  src/domains/settings/i18n.ts
Due: yarn lint, prettier --write

feat: add blacklist plugin modal (#2228)
  src/__snapshots__/index.test.ts.snap
  src/app/i18n/common/i18n.ts
  src/domains/plugins/components/AddBlacklistPlugin/AddBlacklistPlugin.stories.tsx
  src/domains/plugins/components/AddBlacklistPlugin/AddBlacklistPlugin.test.tsx
  src/domains/plugins/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugins/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugins/components/AddBlacklistPlugin/index.ts
  src/domains/plugins/i18n.ts
Due: yarn lint, prettier --write

feat: add HeaderSearchBar component (#2225)
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Header/Header.stories.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Header/HeaderSearchBar/__snapshots__/HeaderSearchBar.test.tsx.snap
  src/app/components/Header/HeaderSearchBar/index.ts
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
  src/app/hooks/click-outside.ts
  src/app/hooks/debounce.ts
  src/app/hooks/index.ts
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallets/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: yarn lint, prettier --write

feat: add best plugins modal (#2226)
  src/__snapshots__/index.test.ts.snap
  src/domains/plugins/components/BestPlugins/BestPlugins.stories.tsx
  src/domains/plugins/components/BestPlugins/BestPlugins.test.tsx
  src/domains/plugins/components/BestPlugins/BestPlugins.tsx
  src/domains/plugins/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugins/components/BestPlugins/index.ts
  src/domains/plugins/i18n.ts
Due: yarn lint, prettier --write

feat: blacklist plugins modal (#2227)
  src/__snapshots__/index.test.ts.snap
  src/app/components/Header/Header.tsx
  src/domains/plugins/components/BlacklistPlugins/BlacklistPlugins.stories.tsx
  src/domains/plugins/components/BlacklistPlugins/BlacklistPlugins.test.tsx
  src/domains/plugins/components/BlacklistPlugins/BlacklistPlugins.tsx
  src/domains/plugins/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/plugins/components/BlacklistPlugins/index.ts
  src/domains/plugins/i18n.ts
Due: yarn lint, prettier --write

chore: optimize 3 SVG(s)
  src/domains/exchange/images/changenow-logo.svg
  src/domains/exchange/images/exchange-cards-banner.svg
  src/domains/exchange/images/no-exchanges-banner.svg
Due: none

chore: optimize 2 SVG(s)
  src/domains/exchange/images/exchange-cards-banner.svg
  src/domains/exchange/images/no-exchanges-banner.svg
Due: none

style: resolve style guide violations
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Slider/Slider.tsx
  src/domains/contacts/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contacts/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contacts/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/Exchange.tsx
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugins/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugins/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugins/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/plugins/components/FeaturedPlugins/__snapshots__/FeaturedPlugins.test.tsx.snap
  src/domains/plugins/components/InstallPlugin/__snapshots__/InstallPlugin.test.tsx.snap
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
  src/domains/search/components/SearchModal/__snapshots__/SearchModal.test.tsx.snap
  src/domains/settings/components/AdvancedMode/__snapshots__/AdvancedMode.test.tsx.snap
  src/domains/settings/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/settings/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SelectDelegate/__snapshots__/SelectDelegate.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/wallets/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallets/components/LedgerWallet/__snapshots__/LedgerWallet.test.tsx.snap
  src/domains/wallets/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallets/components/SelectAccount/__snapshots__/SelectAccount.test.tsx.snap
  src/domains/wallets/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallets/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallets/components/VerifyMessageStatus/__snapshots__/VerifyMessageStatus.test.tsx.snap
  src/domains/wallets/components/WalletUpdate/__snapshots__/WalletUpdate.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#2231)
  package.json
  yarn.lock
Due: prettier --write

feat: add `Support` main page
  src/__snapshots__/index.test.ts.snap
  src/app/i18n/helpers/index.ts
  src/domains/support/data.ts
  src/domains/support/i18n.tsx
  src/domains/support/pages/Main/Main.stories.tsx
  src/domains/support/pages/Main/Main.test.tsx
  src/domains/support/pages/Main/Main.tsx
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/support/pages/Main/index.ts
Due: yarn lint, prettier --write

feat: add `FAQ` portfolio page
  src/__snapshots__/index.test.ts.snap
  src/domains/support/data.ts
  src/domains/support/i18n.tsx
  src/domains/support/pages/Faq/Faq.stories.tsx
  src/domains/support/pages/Faq/Faq.test.tsx
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Faq/index.ts
Due: yarn lint, prettier --write

feat: add `Article` page component
  src/__snapshots__/index.test.ts.snap
  src/domains/support/data.ts
  src/domains/support/i18n.tsx
  src/domains/support/pages/Article/Article.stories.tsx
  src/domains/support/pages/Article/Article.test.tsx
  src/domains/support/pages/Article/Article.tsx
  src/domains/support/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/support/pages/Article/index.ts
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/support/pages/Article/Article.tsx
  src/domains/support/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Main/Main.tsx
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
Due: none

feat: add support page icons
  src/app/assets/svg/article.svg
  src/app/assets/svg/exchange.svg
  src/app/assets/svg/eye-tag.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/plugins.svg
  src/app/assets/svg/portfolio-tag.svg
  src/app/assets/svg/portfolio.svg
  src/app/assets/svg/profile.svg
Due: yarn lint, prettier --write

feat: use new svg icons
  src/domains/support/data.ts
  src/domains/support/pages/Article/Article.tsx
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Main/Main.tsx
Due: yarn lint, prettier --write

chore: fix plugins icon
  src/app/assets/svg/plugins.svg
Due: none

chore: ui adjustments
  src/domains/support/data.ts
  src/domains/support/i18n.tsx
  src/domains/support/pages/Article/Article.stories.tsx
  src/domains/support/pages/Article/Article.styles.ts
  src/domains/support/pages/Article/Article.tsx
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Main/Main.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/__snapshots__/index.test.ts.snap
  src/domains/support/pages/Article/Article.test.tsx
  src/domains/support/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
Due: none

chore: optimize 7 SVG(s)
  src/app/assets/svg/article.svg
  src/app/assets/svg/exchange.svg
  src/app/assets/svg/eye-tag.svg
  src/app/assets/svg/plugins.svg
  src/app/assets/svg/portfolio-tag.svg
  src/app/assets/svg/portfolio.svg
  src/app/assets/svg/profile.svg
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/exchange.svg
Due: none

style: resolve style guide violations
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Main/Main.tsx
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
Due: none

feat: support page components (#2211)
  src/__snapshots__/index.test.ts.snap
  src/app/assets/svg/article.svg
  src/app/assets/svg/exchange.svg
  src/app/assets/svg/eye-tag.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/plugins.svg
  src/app/assets/svg/portfolio-tag.svg
  src/app/assets/svg/portfolio.svg
  src/app/assets/svg/profile.svg
  src/app/i18n/helpers/index.ts
  src/domains/support/data.ts
  src/domains/support/i18n.tsx
  src/domains/support/pages/Article/Article.stories.tsx
  src/domains/support/pages/Article/Article.styles.ts
  src/domains/support/pages/Article/Article.test.tsx
  src/domains/support/pages/Article/Article.tsx
  src/domains/support/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/support/pages/Article/index.ts
  src/domains/support/pages/Faq/Faq.stories.tsx
  src/domains/support/pages/Faq/Faq.test.tsx
  src/domains/support/pages/Faq/Faq.tsx
  src/domains/support/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/support/pages/Faq/index.ts
  src/domains/support/pages/Main/Main.stories.tsx
  src/domains/support/pages/Main/Main.test.tsx
  src/domains/support/pages/Main/Main.tsx
  src/domains/support/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/support/pages/Main/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
