Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix: use active wallet name
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

chore: update snapshots
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

wip
  .eslintrc.js
  package.json
  src/domains/transaction/components/LedgerListener/LedgerListener.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

test: update e2e tests
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

Update src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

style: resolve style guide violations
  src/app/components/Checkbox/__snapshots__/Checkbox.test.tsx.snap
  src/app/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#2590)
  package.json
  yarn.lock
Due: prettier --write

feat: add application error display
  src/app/App.tsx
  src/app/assets/images/index.ts
  src/app/i18n/helpers/index.ts
  src/domains/error/i18n.ts
  src/domains/error/images/cannot-connect-banner.svg
  src/domains/error/images/error-banner.svg
  src/domains/error/images/index.ts
  src/domains/error/pages/ApplicationError/ApplicationError.stories.tsx
  src/domains/error/pages/ApplicationError/ApplicationError.test.tsx
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/ApplicationError/index.ts
  src/domains/error/pages/Offline/Offline.stories.tsx
  src/domains/error/pages/Offline/Offline.test.tsx
  src/domains/error/pages/Offline/Offline.tsx
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/error/pages/Offline/index.ts
  src/domains/error/pages/index.ts
  src/domains/offline/i18n.ts
Due: yarn lint, prettier --write

chore: optimize 1 SVG(s)
  src/domains/error/images/error-banner.svg
Due: none

fix: resolve node-hid bindings not found
  config-overrides.js
  package.json
  src/domains/transaction/components/LedgerListener/LedgerListener.ts
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
Due: none

test: add e2e tests for contact deletion in `Contacts` page
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/e2e/delete-contact.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

test: add contact deletion tests (#2592)
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/e2e/delete-contact.e2e.ts
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: yarn lint, prettier --write

refactor: add default value and two way binding on `SelectNetwork`
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
Due: none

feat: add maxlength validation in `ContactForm` name field
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/i18n.ts
Due: yarn lint, prettier --write

fix: reset network selection when address is added
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

feat: redirect when idle
  src/app/App.tsx
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
Due: none

fix: add history to deps array
  src/app/App.tsx
Due: none

refactor: add i18n to auto logoff setting
  src/app/i18n/common/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

wip
  package.json
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  yarn.lock
Due: prettier --write

feat: add application error display (#2591)
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/images/index.ts
  src/app/i18n/helpers/index.ts
  src/domains/error/i18n.ts
  src/domains/error/images/cannot-connect-banner.svg
  src/domains/error/images/error-banner.svg
  src/domains/error/images/index.ts
  src/domains/error/pages/ApplicationError/ApplicationError.stories.tsx
  src/domains/error/pages/ApplicationError/ApplicationError.test.tsx
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/ApplicationError/index.ts
  src/domains/error/pages/Offline/Offline.stories.tsx
  src/domains/error/pages/Offline/Offline.test.tsx
  src/domains/error/pages/Offline/Offline.tsx
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/error/pages/Offline/index.ts
  src/domains/error/pages/index.ts
  src/domains/offline/i18n.ts
Due: yarn lint, prettier --write

chore: update Platform SDK dependencies (#2594)
  package.json
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  yarn.lock
Due: prettier --write

fix: disallow empty name with spaces
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

test: update tests
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
Due: yarn lint, prettier --write

chore: fix exhaustive deps
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
Due: none

chore: update Platform SDK dependencies (#2595)
  package.json
  yarn.lock
Due: prettier --write

fix: `SelectNetwork` exhaustive deps
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
Due: none

feat: render with provided errors
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

chore: add tests
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
Due: none

chore: update snapshots
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
Due: none

fix: trim spaces in contact name
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

style: resolve style guide violations
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

chore: fix exhaustive deps
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

refactor: update Votes page
  src/domains/vote/pages/Votes/Votes.stories.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: fix tests on contact save
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
