Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
  src/domains/offline/pages/Offline/Offline.tsx
  src/domains/offline/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

refactor: transaction pages
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.test.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.tsx
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.test.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.tsx
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.test.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.tsx
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/transaction/pages/index.ts
  src/domains/transaction/routing.ts
  src/router/index.tsx
Due: yarn lint, prettier --write

fix: build errors
  src/domains/offline/pages/Offline/Offline.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

refactor: settings pages
  src/app/components/Layout/components/Page/Page.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: page sidebar adjustments
  src/app/components/Layout/components/Page/Page.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Layout/components/Page/Page.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

chore: fix plugin icon
  src/app/assets/svg/plugin.svg
Due: none

refactor: place wallet transactions in same section
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: create `AddRecipient` component
  src/domains/transaction/components/AddRecipient/AddRecipient.stories.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.styles.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/index.ts
Due: yarn lint, prettier --write

refactor: ui adjustments on `RecipientList`
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.tsx
Due: yarn lint, prettier --write

refactor: remove th from `RecipientList`
  src/domains/transaction/components/RecipientList/RecipientList.styles.ts
Due: yarn lint, prettier --write

test: add coverage
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
Due: none

chore: add snapshots
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

feat: create `AddRecipient` (#2444)
  src/domains/transaction/components/AddRecipient/AddRecipient.stories.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.styles.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AddRecipient/index.ts
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.styles.ts
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
Due: none

refactor: add dynamic options in `ContactListItem`
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
Due: none

feat: export `ContactListItem` types in models.ts
  src/domains/contact/components/ContactListItem/ContactListItem.models.ts
Due: yarn lint, prettier --write

test: add coverage for `ContactListItem`
  src/domains/contact/components/ContactListItem/ContactListItem.test.tsx
Due: none

refactor: expose options and actions in `SearchContact` modal
  src/domains/contact/components/SearchContact/SearchContact.stories.tsx
  src/domains/contact/components/SearchContact/SearchContact.tsx
Due: none

chore: update snapshots
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
Due: none

feat: add dynamic title and description
  src/domains/contact/components/SearchContact/SearchContact.test.tsx
  src/domains/contact/components/SearchContact/SearchContact.tsx
Due: none

style: resolve style guide violations
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
Due: none

test: improve environment context usage
  jest.setup.js
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
  src/app/components/Layout/Layout.test.tsx
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/env.test.tsx
  src/app/hooks/env.ts
  src/app/index.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/tests/fixtures/env/data.json
  src/tests/fixtures/identity.ts
  src/tests/mocks/StubStorage/StubStorage.ts
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: add `hideHeader` prop on `Table
  src/app/components/Table/Table.test.tsx
  src/app/components/Table/Table.tsx
Due: none

refactor: handle row click
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

refactor: add `isCompact` prop on `TransactionTable`
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: add `TransactionCompactRow` component
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

refactor: update `WalletDetails` to use `TransactionTable`
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/index.ts
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/data.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/data.ts
Due: yarn lint, prettier --write

refactor: update `Notifications` to use `TransactionTable`
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/Notifications.test.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/models.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: yarn lint, prettier --write

refactor: update `Dashboard` to use `TransactionTable`
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: yarn lint, prettier --write

chore: remove `TransactionListItem`
  src/app/components/NavigationBar/NavigationBar.stories.tsx
  src/app/components/TransactionListItem/TransactionListItem.stories.tsx
  src/app/components/TransactionListItem/TransactionListItem.test.tsx
  src/app/components/TransactionListItem/TransactionListItem.tsx
  src/app/components/TransactionListItem/__snapshots__/TransactionListItem.test.tsx.snap
  src/app/components/TransactionListItem/index.ts
  src/app/components/TransactionListItem/models.ts
Due: yarn lint, prettier --write

refactor: pagination alignment fixes in `PluginGrid`
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
Due: none

fix: remove unused prop
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

chore: add top utilities story
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.stories.tsx
Due: none

feat: add top utilities view more link in `PluginManager`
  src/domains/plugin/pages/PluginManager/PluginManager.stories.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

chore: update snapshots
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
