Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  src/app/App.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginInfo/PluginInfo.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

refactor: polish the plugin detail page
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginInfo/PluginInfo.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

fix: failing build
  src/app/App.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginInfo/PluginInfo.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

wip
  src/app/assets/svg/index.ts
  src/app/assets/svg/verified.svg
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

wip
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/app/components/WalletIcons/WalletIcons.tsx
  src/app/components/WalletIcons/index.ts
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: yarn lint, prettier --write

refactor: encrypt protected profiles before persist (#3241)
  package.json
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: add external icon to `Learn more` link (#3242)
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

fix: remove external icon from transaction rows (#3243)
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: use i18n keys in `TransactionRowInfo` (#3244)
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowInfo.tsx
Due: none

test: fix e2e
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/tests/fixtures/plugins/downloads/@dated/transaction-export-plugin.json
  src/tests/fixtures/plugins/registry-response.json
  src/tests/fixtures/plugins/registry/@dated/transaction-export-plugin.json
  src/utils/e2e-utils.ts
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  jest.setup.js
  package.json
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

fix: save profiles before dumping them (#3246)
  jest.setup.js
  package.json
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: extract profile utility functions in `useProfileUtils`
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: save active profile before persist
  src/app/contexts/Environment/Environment.tsx
Due: none

fix: use sdk to retrieve profile passwords on profile save
  src/app/contexts/Environment/Environment.tsx
Due: none

refactor: drop getProfilePassword in `useProfileUtils`
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

test: add full coverage for `EnvironmentProvider`
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
Due: none

style: resolve style guide violations
  src/app/contexts/Environment/Environment.test.tsx
Due: none

chore: fix build errors
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: adjust `useProfileUtils` deps
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: remove spaces from truncation methods
  src/app/components/TruncateEnd/TruncateEnd.tsx
  src/app/components/TruncateMiddle/TruncateMiddle.tsx
Due: none

fix: prevent saving profile or persisting in demo
  src/app/contexts/Environment/Environment.tsx
Due: none

fix: reduce max character limit to 16 in `SearchWallet`
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
Due: none

refactor: use isMultisignature method on transaction
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
Due: none

refactor: use isMultisignature method on transaction (#3249)
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: none

test: fix failing
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.test.tsx
Due: none

feat: list plugins from npm
  package.json
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.test.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.test.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.ts
  src/tests/fixtures/plugins/all-npm-plugins.json
  src/tests/fixtures/plugins/downloads/@dated/transaction-export-plugin.json
  src/tests/fixtures/plugins/plugin-test-custom-button/package.json
  src/tests/fixtures/plugins/registry-response.json
  src/tests/fixtures/plugins/registry/@dated/transaction-export-plugin.json
  src/utils/e2e-utils.ts
  src/utils/testing-library.tsx
  yarn.lock
Due: yarn lint, prettier --write

refactor: save active profile before persist (#3247)
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: adjust `SearchWallet` UI (#3238)
  src/app/components/Address/Address.tsx
  src/app/components/Address/__snapshots__/Address.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/TruncateEnd/TruncateEnd.test.tsx
  src/app/components/TruncateEnd/TruncateEnd.tsx
  src/app/components/TruncateEnd/index.ts
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionSender/__snapshots__/TransactionSender.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionVotes/__snapshots__/TransactionVotes.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: yarn lint, prettier --write

fix: failing tests
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

test: fix failing
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/utils/testing-library.tsx
Due: none
