Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: add `SelectAsset` in send transaction form (#2282)
  src/app/components/SelectAsset/SelectAsset.tsx
  src/app/components/SelectAsset/__snapshots__/SelectAsset.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.stories.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/TransactionSend.stories.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

refactor: add empty mode to `WalletRegistrations`
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.stories.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
Due: none

fix: toggle button in bottom sheet menu
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/TransactionSendIPFS/__snapshots__/TransactionSendIPFS.spec.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
Due: none

feat: add first step
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.stories.tsx
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.test.tsx
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
  src/domains/myvote/components/VoteTransactionSend/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

feat: add `SelectAsset` in `TransactionSendIPFS` modal (#2284)
  src/domains/transaction/pages/TransactionSendIPFS/TransactionSendIPFS.stories.tsx
  src/domains/transaction/pages/TransactionSendIPFS/TransactionSendIPFS.tsx
  src/domains/transaction/pages/TransactionSendIPFS/__snapshots__/TransactionSendIPFS.spec.tsx.snap
Due: none

refactor: add empty mode to `WalletRegistrations` (#2285)
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.stories.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
Due: none

feat: add delegate list to my votes page (#2278)
  src/domains/myvote/components/AddressList/AddressList.stories.tsx
  src/domains/myvote/components/AddressListItem/AddressListItem.tsx
  src/domains/myvote/components/AddressListItem/__snapshots__/AddressListItem.test.tsx.snap
  src/domains/myvote/components/DelegateList/DelegateList.stories.tsx
  src/domains/myvote/components/DelegateList/DelegateList.test.tsx
  src/domains/myvote/components/DelegateList/DelegateList.tsx
  src/domains/myvote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/myvote/components/DelegateList/index.ts
  src/domains/myvote/components/DelegateListItem/DelegateListItem.stories.tsx
  src/domains/myvote/components/DelegateListItem/DelegateListItem.test.tsx
  src/domains/myvote/components/DelegateListItem/DelegateListItem.tsx
  src/domains/myvote/components/DelegateListItem/__snapshots__/DelegateListItem.test.tsx.snap
  src/domains/myvote/components/DelegateListItem/index.ts
  src/domains/myvote/data.ts
Due: yarn lint, prettier --write

feat: add empty placeholder for `Notifications` (#2283)
  src/app/assets/svg/index.ts
  src/app/assets/svg/placeholder.svg
  src/app/components/NavigationBar/NavigationBar.stories.tsx
  src/app/components/NavigationBar/NavigationBar.styles.ts
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/Notifications.stories.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/models.ts
Due: yarn lint, prettier --write

feat: additions on dashboard stories (#2264)
  src/app/components/TransactionListItem/TransactionListItem.tsx
  src/app/components/TransactionListItem/__snapshots__/TransactionListItem.test.tsx.snap
  src/app/components/TransactionListItem/models.ts
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.stories.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

feat: add fee component
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

test: add tests for first step
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.test.tsx
  src/domains/myvote/components/VoteTransactionSend/__snapshots__/VoteTransactionSend.test.tsx.snap
Due: none

test: link collection
  src/domains/transaction/components/LinkCollection/LinkCollection.stories.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

chore: update snapshots from merge
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/myvote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/myvote/components/AddressListItem/__snapshots__/AddressListItem.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

chore: optimize 3 SVG(s)
  src/app/assets/svg/business.svg
  src/app/assets/svg/chevron-up.svg
  src/app/assets/svg/send.svg
Due: none

style: resolve style guide violations
  src/app/components/Form/FormLabel.tsx
  src/app/components/Form/__snapshots__/FormLabel.test.tsx.snap
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/TransactionSendIPFS/__snapshots__/TransactionSendIPFS.spec.tsx.snap
  src/domains/transaction/pages/VoteForDelegate/__snapshots__/VoteForDelegate.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

feat: add VoteList component
  src/domains/myvote/components/VoteList/VoteList.stories.tsx
  src/domains/myvote/components/VoteList/VoteList.test.tsx
  src/domains/myvote/components/VoteList/VoteList.tsx
  src/domains/myvote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/myvote/components/VoteList/index.ts
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.stories.tsx
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: yarn lint, prettier --write

feat: add votes
  src/domains/myvote/components/VoteList/VoteList.tsx
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

fix: remove duplicate business entry
  src/app/assets/svg/index.ts
Due: yarn lint, prettier --write

feat: add buttons for steps
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

chore: add link icons
  src/app/assets/svg/bitbucket.svg
  src/app/assets/svg/facebook.svg
  src/app/assets/svg/github.svg
  src/app/assets/svg/gitlab.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/instagram.svg
  src/app/assets/svg/linkedin.svg
  src/app/assets/svg/medium.svg
  src/app/assets/svg/npm.svg
  src/app/assets/svg/reddit.svg
Due: yarn lint, prettier --write

refactor: add first border width variant
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: link list component
  src/domains/transaction/components/LinkList/LinkList.stories.tsx
  src/domains/transaction/components/LinkList/LinkList.test.tsx
  src/domains/transaction/components/LinkList/LinkList.tsx
  src/domains/transaction/components/LinkList/__snapshots__/LinkList.test.tsx.snap
  src/domains/transaction/components/LinkList/index.ts
Due: yarn lint, prettier --write

feat: add second step
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

refactor: font weight & dropdown colour of link collection
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
Due: none

style: resolve style guide violations
  src/domains/myvote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/myvote/components/VoteTransactionSend/__snapshots__/VoteTransactionSend.test.tsx.snap
Due: none

fix: referenced wrong font weights array
  src/app/components/Address/Address.tsx
Due: none

chore: update snapshots again
  src/app/components/Address/__snapshots__/Address.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/TransactionListItem/__snapshots__/TransactionListItem.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/myvote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/myvote/components/AddressListItem/__snapshots__/AddressListItem.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/TransactionSendIPFS/__snapshots__/TransactionSendIPFS.spec.tsx.snap
  src/domains/transaction/pages/VoteForDelegate/__snapshots__/VoteForDelegate.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

chore: optimize 6 SVG(s)
  src/app/assets/svg/bitbucket.svg
  src/app/assets/svg/gitlab.svg
  src/app/assets/svg/instagram.svg
  src/app/assets/svg/medium.svg
  src/app/assets/svg/npm.svg
  src/app/assets/svg/reddit.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkList/LinkList.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

feat: add third step
  src/app/assets/svg/send.svg
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

chore: update bitbucket icon
  src/app/assets/svg/bitbucket.svg
Due: none

feat: add fourth step
  src/domains/myvote/components/VoteTransactionSend/VoteTransactionSend.tsx
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/send.svg
Due: none
