Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: update Platform SDK dependencies (#3809)
  package.json
  yarn.lock
Due: prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#3810)
  package.json
  yarn.lock
Due: prettier --write

feat: add explorer link to delegates table
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRowSkeleton.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

revert: remove await for better performance
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

update icon
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

fix: reset profile status when signing out
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

fix: handle profile restore status in profile synchronizer when switching urls
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

test: fix failing
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

wip
  src/app/components/Input/Input.test.tsx
  src/app/components/Input/Input.tsx
  src/app/components/Input/__snapshots__/Input.test.tsx.snap
Due: none

chore: fix build errors
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

fix: sync balance in navigation bar
  src/app/components/NavigationBar/components/Balance/Balance.tsx
  src/app/hooks/use-profile-balance.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

test: fix coverage
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

chore: wallet import options depending on the network
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: none

refactor: move disclaimer to plugin manager (#3792)
  src/domains/plugin/components/ManualInstallationDisclaimer/ManualInstallationDisclaimer.test.tsx
  src/domains/plugin/components/ManualInstallationDisclaimer/ManualInstallationDisclaimer.tsx
  src/domains/plugin/components/ManualInstallationDisclaimer/__snapshots__/ManualInstallationDisclaimer.test.tsx.snap
  src/domains/plugin/components/ManualInstallationDisclaimer/index.ts
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/setting/components/AdvancedMode/AdvancedMode.test.tsx
  src/domains/setting/components/AdvancedMode/index.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

feat: add explorer link to delegates table (#3811)
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.test.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRow.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/DelegateRowSkeleton.tsx
  src/domains/vote/components/DelegateTable/DelegateRow/__snapshots__/DelegateRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/DelegateTable.test.tsx
  src/domains/vote/components/DelegateTable/DelegateTable.tsx
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: update psdk to v8.3.0
  package.json
  yarn.lock
Due: prettier --write

test: fix wallet fixtures
  src/tests/fixtures/env/storage.json
Due: prettier --write

update save-settings e2e test, update snapshots
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/Balance/__snapshots__/Balance.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

test: fix failing in plugins domain
  src/plugins/services/profile/ProfilePluginService.test.tsx
Due: none

wip
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
Due: none

test: fix failing in transaction domain
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
Due: none

test: fix update profile import fixtures
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  src/tests/fixtures/profile/import/profile.dwe
Due: none

chore: update snapshots
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: update Platform SDK Dependencies (#3815)
  package.json
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/plugins/services/profile/ProfilePluginService.test.tsx
  src/tests/fixtures/env/storage.json
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  src/tests/fixtures/profile/import/profile.dwe
  yarn.lock
Due: prettier --write

wip
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/wallet/e2e/common.ts
  src/tests/fixtures/coins/ark/mainnet/node-fees.json
  src/tests/fixtures/coins/ark/mainnet/transaction-fees.json
  src/tests/fixtures/coins/ark/mainnet/wallets/AThxYTVgpzZfW7K6UxyB8vBZVMoPAwQS3D.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test(signed-transactions): revert previous snapshot
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
Due: none

wip: cleanup, update tests
  src/app/components/Input/InputRange.tsx
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-fees.ts
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.test.tsx
  src/domains/transaction/components/TotalAmountBox/TotalAmountBox.tsx
  src/domains/transaction/components/TotalAmountBox/__snapshots__/TotalAmountBox.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/LedgerReview.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/LedgerReview.tsx
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/LedgerReview.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/transaction/utils.test.ts
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

refactor: use address component in recipient dropdown
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/SelectDropdownInput.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/SelectDropdown/styles.ts
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/ProfileFormStep.test.tsx
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/e2e/common.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

update SendTransfer test
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix SendTransactionForm test
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
Due: none

fix tests
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Due: none

still fix tests
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
Due: none

chore: much banging, wow
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
Due: none
