Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: failing tests
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

chore: remove `yarn:dev` command (#3254)
  package.json
Due: prettier --write

fix: show correct balance upon selecting `SendAll` in transaction forms (#3252)
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/validations/SendTransfer.ts
Due: yarn lint, prettier --write

fix: empty dropdown options groups (#3258)
  src/app/components/Dropdown/Dropdown.tsx
Due: none

fix: focus on search icon (#3262)
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Input/Input.tsx
Due: none

sdk 2.6.0
  package.json
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/plugins/context/PluginManagerProvider.tsx
Due: none

chore: fix `PluginsCategory` snapshots
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

test: fix failing in `PluginManager`
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

test: fix failing in `plugin-configuration`
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

test: fix `PluginManagerProvider` tests
  src/plugins/context/PluginManagerProvider.test.tsx
Due: none

chore: update snapshots
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

test: fix logo path for `plugin-configuration` in tests
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

test(e2e): add mocks
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test(unit): add full coverage
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/plugins/core/configuration/plugin-configuration.test.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

feat: plugin listing (#3261)
  package.json
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/app/services/HttpClient.ts
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.test.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.test.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/plugin-configuration.ts
  src/tests/fixtures/plugins/all-npm-plugins.json
  src/tests/fixtures/plugins/downloads/@dated/transaction-export-plugin.json
  src/tests/fixtures/plugins/plugin-test-custom-button/package.json
  src/tests/fixtures/plugins/registry-response.json
  src/tests/fixtures/plugins/registry/@dated/transaction-export-plugin.json
  src/utils/e2e-utils.ts
  src/utils/testing-library.tsx
  yarn.lock
Due: yarn lint, prettier --write

feat: provide loading state in `PluginManager`
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

feat: create `PluginCardSkeleton`
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.tsx
Due: none

feat: use skeletons in `PluginGrid
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
Due: none

test: cover `PluginCardSkeleton`
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.test.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCardSkeleton.test.tsx.snap
Due: none

test: add known wallets mock
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: increase icon size
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletIcons/WalletIcons.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
Due: none

fix: adjust loading state in `PluginGrid`
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
Due: none

chore: update snapshots
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCardSkeleton.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

feat: handle known addresses (#3245)
  src/app/assets/svg/index.ts
  src/app/assets/svg/verified.svg
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/components/WalletIcons/WalletIcons.test.tsx
  src/app/components/WalletIcons/WalletIcons.tsx
  src/app/components/WalletIcons/index.ts
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/app/hooks/use-profile-synchronizer.ts
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: fix ipfs button
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCardSkeleton.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
Due: none

fix: logic for Show more button in the wallets list
  .gitignore
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/domains/dashboard/components/Wallets/hooks.test.tsx
  src/domains/dashboard/components/Wallets/hooks.ts
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
Due: yarn lint, prettier --write

test(e2e): use i18n in common file
  src/domains/wallet/e2e/common.ts
Due: yarn lint, prettier --write

feat: add loading state in plugins (#3263)
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.test.tsx
  src/domains/plugin/components/PluginCard/PluginCardSkeleton.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCardSkeleton.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/plugins/context/PluginManagerProvider.tsx
Due: none

refactor: use consistent `Send` buttons in transaction forms (#3260)
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

chore: remove labelExtra prop from `TransactionDetail`
  src/domains/transaction/components/TransactionDetail/TransactionDetail.test.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
Due: none

refactor: ipfs adjustments
  src/domains/transaction/pages/SendIpfs/FormStep.tsx
  src/domains/transaction/validations/SendIpfs.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
Due: none

feat: sort transaction notification in descending order
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

test: add coverage
  src/app/hooks/use-notifications.test.tsx
Due: none
