Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: provide env context in `UpdateContact` story
  src/domains/contact/components/UpdateContact/UpdateContact.stories.tsx
Due: none

style: resolve style guide violations
  src/domains/contact/components/UpdateContact/UpdateContact.stories.tsx
Due: none

refactor: remove proxy store
  src/app/App.tsx
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/use-store.test.tsx
  src/app/hooks/use-store.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  yarn.lock
Due: yarn lint, prettier --write

fix: unregister the passphrase to not include it in the form
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

refactor: include contact addresses on update
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
Due: none

test: improve tests to check updated addresses
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
Due: none

chore: update snapshots
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
Due: none

wip
  package.json
  src/app/App.test.tsx
  src/app/services/HttpClient.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/tests/fixtures/env/data.json
  yarn.lock
Due: yarn lint, prettier --write

wip
  cypress.json
  cypress/support/index.js
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: npm run lint:fix, yarn lint, prettier --write

chore: add wallet card test id
  src/app/components/WalletCard/WalletCard.tsx
Due: none

chore(tests): add default submit on settings
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
Due: none

feat(e2e): update invoke script
  package.json
Due: prettier --write

chore(tests): update snapshots
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: reorganize e2e files
  src/domains/dashboard/e2e/dashboard-routing.e2e.js
  src/domains/dashboard/e2e/navbar-routing.e2e.js
  src/domains/plugin/e2e/plugins-routing.e2e.js
  src/domains/profile/e2e/create-profile-action.e2e.js
  src/domains/profile/e2e/create-profile-routing.e2e.js
  src/domains/profile/e2e/welcome-screen.e2e.js
  src/domains/setting/e2e/settings-routing.e2e.js
  src/domains/transaction/e2e/transactions-routing.e2e.js
  src/domains/wallet/e2e/create-wallet-action.e2e.js
  src/domains/wallet/e2e/import-wallet-action.e2e.js
  src/domains/wallet/e2e/wallets-routing.e2e.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: regex for e2e files
  package.json
Due: prettier --write

fix(network-modal): enforce numeric slip44
  src/renderer/components/Network/NetworkModal.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat: implement contact update (#2523)
  package.json
  src/domains/contact/components/UpdateContact/UpdateContact.stories.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  yarn.lock
Due: prettier --write

wip
  package.json
Due: prettier --write

wip
  yarn.lock
Due: none

feat: import wallet by address (#2524)
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

test: increase coverage
  src/app/contexts/Environment/Environment.test.tsx
Due: none

test: ignore dev env
  src/app/App.tsx
  src/app/contexts/Environment/Environment.tsx
Due: none

chore: remove @types/node-fetch
  package.json
  yarn.lock
Due: prettier --write

Update transactions-routing.e2e.js
  src/domains/transaction/e2e/transactions-routing.e2e.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: reactive environment context (#2506)
  package.json
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/env.test.tsx
  src/app/hooks/env.ts
  src/app/services/HttpClient.ts
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/e2e/dashboard-routing.e2e.js
  src/domains/dashboard/e2e/navbar-routing.e2e.js
  src/domains/plugin/e2e/plugins-routing.e2e.js
  src/domains/profile/e2e/create-profile-action.e2e.js
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/e2e/settings-routing.e2e.js
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/transaction/e2e/transactions-routing.e2e.js
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/e2e/create-wallet-action.e2e.js
  src/domains/wallet/e2e/import-wallet-action.e2e.js
  src/domains/wallet/e2e/wallets-routing.e2e.js
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/tests/fixtures/env/data.json
  src/tests/fixtures/env/storage.json
  src/tests/mocks/StubStorage/StubStorage.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: update webpack config (#2517)
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore(deps): update dependency css-loader to v4
  package.json
  yarn.lock
Due: prettier --write

Update package.json
  package.json
Due: prettier --write

test(e2e): add tests to import a wallet using mnemonic or address
  src/domains/wallet/e2e/import-wallet-action.e2e.js
Due: npm run lint:fix, yarn lint, prettier --write

test(e2e): add tests to import a wallet using mnemonic or address (#2528)
  src/domains/wallet/e2e/import-wallet-action.e2e.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/tests/fixtures/env/storage.json
Due: prettier --write

wip
  src/tests/fixtures/env/data.json
Due: prettier --write

style: resolve style guide violations
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none
