Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix: increase z-index in `HeaderSearchBar` (#3311)
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

fix: make secondary navbar in `PluginManager` sticky (#3310)
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

refactor: adjustments in spinner component (#3309)
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/app/components/Spinner/Spinner.styles.ts
  src/app/components/Spinner/Spinner.test.tsx
  src/app/components/Spinner/Spinner.tsx
  src/app/components/Spinner/__snapshots__/Spinner.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/LedgerConfirmation/LedgerConfirmation.tsx
  src/domains/transaction/components/LedgerConfirmation/__snapshots__/LedgerConfirmation.test.tsx.snap
  src/domains/wallet/components/Ledger/LedgerWaitingDevice.tsx
  src/domains/wallet/components/Ledger/__snapshots__/LedgerWaitingDevice.test.tsx.snap
  src/domains/wallet/images/dark/waiting-ledger-device.svg
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerConnectionStep.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/dashboard/components/Wallets/WalletsGrid.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsGrid.test.tsx.snap
Due: none

chore: remove unused dependencies (#3308)
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/components/ConfirmSendTransaction/__snapshots__/ConfirmSendTransaction.test.tsx.snap
Due: none

chore: fix snapshots
  src/domains/dashboard/components/Wallets/WalletsGrid.test.tsx
Due: none

chore: remove plugin review section (#3318)
  src/domains/plugin/components/Comments/Comments.test.tsx
  src/domains/plugin/components/Comments/Comments.tsx
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/Comments/components/Reply/Reply.test.tsx
  src/domains/plugin/components/Comments/components/Reply/Reply.tsx
  src/domains/plugin/components/Comments/components/Reply/__snapshots__/Reply.test.tsx.snap
  src/domains/plugin/components/Comments/components/Reply/index.ts
  src/domains/plugin/components/Comments/index.tsx
  src/domains/plugin/components/ReviewBox/ReviewBox.test.tsx
  src/domains/plugin/components/ReviewBox/ReviewBox.tsx
  src/domains/plugin/components/ReviewBox/__snapshots__/ReviewBox.test.tsx.snap
  src/domains/plugin/components/ReviewBox/components/StarsCounters/StarsCounters.test.tsx
  src/domains/plugin/components/ReviewBox/components/StarsCounters/StarsCounters.tsx
  src/domains/plugin/components/ReviewBox/components/StarsCounters/__snapshots__/StarsCounters.test.tsx.snap
  src/domains/plugin/components/ReviewBox/components/StarsCounters/index.tsx
  src/domains/plugin/components/ReviewBox/index.ts
  src/domains/plugin/data.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsGrid.test.tsx.snap
Due: none

chore: fill color to currentColor
  src/app/assets/svg/report.svg
Due: none

fix: report non-installed packages
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/report.svg
Due: none

fix: display dashboard wallets as soon as they are loaded (#3312)
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/WalletsGrid.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/routing.test.tsx
Due: none

feat: launch button on details page for installed plugins (#3314)
  src/domains/plugin/components/PluginHeader/PluginHeader.test.tsx
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

chore: change cross-slim svg markup
  src/app/assets/svg/cross-slim.svg
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/cross-slim.svg
Due: none

feat: integrate transaction confirmation modal in `SendTransfer`
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

refactor: verify for required keywords
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/schema.ts
Due: yarn lint, prettier --write

test: fix failing
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/core/plugin-controller-repository.test.ts
Due: yarn lint, prettier --write

test: fix failing
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/plugins/context/PluginManagerProvider.test.tsx
Due: none

feat: allow plugins manual installation from urls (#3301)
  src/app/assets/svg/cross-slim.svg
  src/domains/plugin/components/PluginHeader/PluginHeader.test.tsx
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.test.tsx
  src/domains/plugin/components/PluginManualInstallModal/PluginManualInstallModal.tsx
  src/domains/plugin/components/PluginManualInstallModal/__snapshots__/PluginManualInstallModal.test.tsx.snap
  src/domains/plugin/components/PluginManualInstallModal/index.ts
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/schema.ts
  src/plugins/core/plugin-controller-repository.test.ts
Due: yarn lint, prettier --write

feat: create `useTransaction` hook
  src/domains/transaction/hooks/use-transaction.ts
Due: yarn lint, prettier --write

feat: implement unconfirmed check when sending transaction
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

chore: update confirmation description
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

chore: upd snapshot
  src/domains/plugin/components/PluginManualInstallModal/__snapshots__/PluginManualInstallModal.test.tsx.snap
Due: none

wip
  src/app/components/SelectDropdown/SelectDropdown.tsx
Due: none

wip
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

chore: removed comments
  src/app/contexts/Ledger/hooks/connection.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/components/CreatePeer/CreatePeer.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
Due: none

chore: added setAmount
  src/app/components/Input/InputCurrency.tsx
Due: none

chore: update test
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

chore: set correct brackets order
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

chore: fixed missed brakets type
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

wip
  src/app/contexts/Ledger/hooks/connection.ts
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.ts
Due: yarn lint, prettier --write

test: add coverage for use transaction hook
  src/domains/transaction/hooks/use-transaction.test.tsx
Due: none

chore: added test for InputDefault component. Updated SignIn test
  src/app/components/Input/InputDefault.test.tsx
  src/app/components/Input/InputErrorMessage.tsx
  src/app/components/Input/__snapshots__/InputDefault.test.tsx.snap
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

feat: report plugin (#3313)
  src/app/assets/svg/report.svg
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

wip
  src/app/components/ButtonGroup/ButtonGroup.test.tsx
  src/app/components/ButtonGroup/ButtonGroup.tsx
  src/app/components/ButtonGroup/__snapshots__/SelectionBar.test.tsx.snap
  src/app/components/ButtonGroup/index.ts
  src/app/components/ButtonGroup/useSelectionState.tsx
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/useSelectionState.tsx
  src/app/hooks/use-fees.ts
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Due: yarn lint, prettier --write

wip
  src/app/components/Input/InputRange.tsx
  src/app/hooks/use-currency-display.test.tsx
  src/app/hooks/use-currency-display.ts
Due: yarn lint, prettier --write

test: add full coverage for `SendTransfer`
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
