Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: add i18n to wallet domain
  src/app/components/Table/Table.stories.tsx
  src/app/components/WalletListItem/WalletListItem.stories.tsx
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/wallet/components/MnemonicVerification/MnemonicVerificationOptions.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerificationProgress.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.stories.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.stories.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletUpdate/WalletUpdate.tsx
  src/domains/wallet/components/WalletVote/WalletVote.stories.tsx
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/components/BlacklistPlugins/BlacklistPlugins.tsx
  src/domains/plugin/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/setting/components/CustomPeers/CustomPeers.tsx
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Table/Table.stories.tsx
  src/domains/news/components/BlockfolioAd/BlockfolioAd.tsx
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.tsx
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/__snapshots__/BlockchainTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: coverage
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

wip
  cypress/integration/navbar-routing.spec.js
  cypress/integration/setting-routing.spec.js
  cypress/integration/transactions-routing.spec.js
  cypress/integration/wallet-create.spec.js
  cypress/integration/wallet-details.spec.js
  cypress/integration/wallet-import.spec.js
  cypress/integration/wallets-routing.spec.js
  package.json
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

fix: correct network
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
Due: none

fix: add i18n common form labels
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

test: modify tests
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

test: update snapshots
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: none

test: correct network
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
Due: none

test: adjust e2e tests
  cypress/integration/wallet-details.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

Update src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

fix: add suggestions
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

chore: update snapshot
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: none

feat: implement wallet labeling (#2514)
  cypress/integration/wallet-details.spec.js
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/App.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/env.ts
  src/app/hooks/use-store.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: yarn lint, prettier --write

feat: implement verify message (#2516)
  src/app/i18n/common/i18n.ts
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/VerifyMessage.stories.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

chore: update SignMessage component
  src/domains/wallet/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

feat: delete contact in `DeleteContact` component
  src/app/components/DeleteResource/DeleteResource.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.stories.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
Due: none

test: add contact deletion unit tests
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
Due: none

test: add tests in `Contacts` page
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

feat: implement contact deletion in `Contacts` page
  src/app/i18n/common/i18n.ts
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: yarn lint, prettier --write

test: add coverage for `Contacts`
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

chore: update snapshots
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
Due: none

fix: resolve type issues
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: none

fix: correct contact list item action value type
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: none

feat: add submit function to sign message
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

feat: implement contact deletion (#2519)
  src/app/components/DeleteResource/DeleteResource.tsx
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/contact/components/DeleteContact/DeleteContact.stories.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.tsx
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
Due: yarn lint, prettier --write

test: add tests for sign message
  src/domains/wallet/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

wip
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none

refactor: update downshift
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

wip
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/transaction/data.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/codeql-analysis.yml
  package.json
  src/domains/transaction/data.ts
Due: yarn lint, prettier --write

chore: upgrade `swiper`
  package.json
  src/app/components/Slider/Slider.tsx
  yarn.lock
Due: prettier --write

chore: upgrade `react-table`
  package.json
  yarn.lock
Due: prettier --write
