Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix: resize wallet type icons in list view
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

Update src/app/hooks/validations.test.tsx
  src/app/hooks/validations.test.tsx
Due: none

feat: persist the type of view (grid & list)
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

test: update snapshots
  src/domains/dashboard/components/Wallets/Wallets.tsx
Due: none

test: add test to change wallet view type from grid to list
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

feat: show delegate names in recipient column
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/tailwind.config.js
  src/tests/fixtures/transactions/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

feat: prepend amounts with sign
  src/app/components/Amount/Amount.tsx
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.tsx
  src/domains/transaction/components/TransactionDetail/TransactionAmount/__snapshots__/TransactionAmount.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowAmount.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
Due: none

test: coverage
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
Due: none

refactor: make `defaultValue` optional in `InputFee`
  src/domains/transaction/components/DelegateResignationForm/FormStep.tsx
  src/domains/transaction/components/EntityResignationSteps/FormStep.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

chore: fix fee validation error messages
  src/domains/transaction/i18n.ts
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

refactor: add entity registration title per type
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: yarn lint, prettier --write

feat: add plugin and product entity registration options
  src/domains/transaction/pages/SendEntityRegistration/Step1.tsx
Due: none

test: adjust unit tests
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

chore: fix e2e tests
  src/domains/transaction/e2e/delegate-registration.e2e.ts
Due: yarn lint, prettier --write

chore: require title in `EntityRegistrationForm`
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

fix: wait wallet to sync when importing
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

feat: add Skeleton component
  src/app/components/Skeleton/Skeleton.test.tsx
  src/app/components/Skeleton/Skeleton.tsx
  src/app/components/Skeleton/__snapshots__/Skeleton.test.tsx.snap
  src/app/components/Skeleton/index.ts
Due: yarn lint, prettier --write

feat: add random number hook
  src/app/hooks/index.ts
  src/app/hooks/use-random-number.ts
Due: yarn lint, prettier --write

refactor: adjust skeletons on wallet details page
  src/app/components/Table/TableCell.styles.ts
  src/app/components/Table/TableCell.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrationsSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVoteSkeleton.tsx
  src/styles/app.css
  src/styles/skeletons.css
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowSkeleton.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrationsSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVoteSkeleton.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

feat: persist the type of view (grid & list) (#3022)
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

feat: add missing aip36 registrations (#2999)
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/Step1.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: yarn lint, prettier --write

refactor: handle`InputFee` state and types (#3014)
  src/app/components/Input/InputRange.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-currency-display.test.tsx
  src/app/hooks/use-currency-display.ts
  src/app/hooks/validations.test.tsx
  src/app/hooks/validations.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/steps/FormStep.tsx
  src/domains/transaction/components/DelegateResignationForm/FormStep.tsx
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
  src/domains/transaction/components/EntityResignationSteps/FormStep.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/InputFee/hooks.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityRegistration/Step1.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/Step1.tsx
  src/domains/transaction/validations/Common.ts
  src/domains/transaction/validations/MultiSignatureRegistration.ts
  src/domains/transaction/validations/SendIpfs.ts
  src/domains/transaction/validations/SendTransfer.ts
  src/domains/transaction/validations/SendVote.ts
  src/domains/transaction/validations/index.ts
Due: yarn lint, prettier --write

feat: show delegate names in recipient column (#3023)
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
  src/tailwind.config.js
  src/tests/fixtures/transactions/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

fix: resize wallet type icons in list view (#3021)
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

test: mock useRandomNumber hook
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

test: coverage
  src/app/hooks/use-random-number.test.ts
Due: yarn lint, prettier --write

wip
  src/app/hooks/index.ts
  src/app/hooks/use-previous.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write

fix: alignment of card icons
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Card/Card.tsx
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/Card/__snapshots__/CardControl.test.tsx.snap
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Card/Card.tsx
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/Card/__snapshots__/CardControl.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

chore: increase dashboard transactions page limit to 30
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
