Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: properly align and style plugin progress bars
  src/app/components/Tooltip/Tooltip.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-theme-name.test.tsx
  src/app/hooks/use-theme-name.ts
  src/app/hooks/use-theme.test.tsx
  src/app/hooks/use-theme.ts
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginImage/PluginImage.styles.ts
  src/domains/plugin/components/PluginImage/PluginImage.test.tsx
  src/domains/plugin/components/PluginImage/PluginImage.tsx
  src/domains/plugin/components/PluginImage/__snapshots__/PluginImage.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: yarn lint, prettier --write

fix: use https for wallets.ark.io (#3478)
  config/networks/mainnet.json
  src/renderer/store/modules/network.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

wip
  src/app/assets/svg/edit.svg
  src/domains/transaction/components/TransactionDetail/TransactionDetail.styles.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
Due: yarn lint, prettier --write

chore: optimize 1 SVG(s)
  src/app/assets/svg/edit.svg
Due: none

wip
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: handle empty fee input
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/hooks.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

feat: implement profile export (#3410)
  src/app/assets/svg/export.svg
  src/app/assets/svg/index.ts
  src/app/i18n/common/i18n.ts
  src/domains/setting/hooks/use-profile-export.test.tsx
  src/domains/setting/hooks/use-profile-export.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Export.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/index.ts
Due: yarn lint, prettier --write

refactor: properly align and style plugin progress bars (#3479)
  src/app/components/Tooltip/Tooltip.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-theme-name.test.tsx
  src/app/hooks/use-theme-name.ts
  src/app/hooks/use-theme.test.tsx
  src/app/hooks/use-theme.ts
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginImage/PluginImage.styles.ts
  src/domains/plugin/components/PluginImage/PluginImage.test.tsx
  src/domains/plugin/components/PluginImage/PluginImage.tsx
  src/domains/plugin/components/PluginImage/__snapshots__/PluginImage.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: yarn lint, prettier --write

deps: update Platform SDK dependencies
  package.json
  yarn.lock
Due: prettier --write

fix: typo
  src/app/hooks/use-currency-display.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
Due: none

test: coverage
  src/app/hooks/use-validation.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

test: coverage
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: adjustments on profile import hook
  src/domains/profile/hooks/use-profile-import.ts
Due: yarn lint, prettier --write

feat: add file selection step with drag and drop or browser dialog
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
Due: none

feat: add new `ProcessingImportStep`
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.tsx
Due: none

feat: create `FilePreview` component
  src/domains/profile/components/FilePreview/FilePreview.tsx
Due: none

feat: create `ErrorStep`
  src/domains/profile/pages/ImportProfile/ErrorStep.tsx
Due: none

refactor: adjust `PasswordModal`
  src/domains/profile/components/PasswordModal/PasswordModal.tsx
Due: none

wip
  src/domains/profile/components/FilePreview/index.ts
Due: yarn lint, prettier --write

feat: add common profile import models
  src/domains/profile/pages/ImportProfile/models.ts
Due: yarn lint, prettier --write

feat: add profile form as final step
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
Due: none

feat: implement profile import steps
  src/app/i18n/common/i18n.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
Due: yarn lint, prettier --write

refactor: remove deprecated profile import component
  src/domains/profile/components/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/components/ImportProfile/ImportProfile.tsx
  src/domains/profile/components/ImportProfile/index.ts
Due: yarn lint, prettier --write

feat: ability to import wallet by private key and WIF
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/components/FilePreview/FilePreview.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
  src/domains/profile/pages/index.tsx
  src/domains/profile/routing.ts
Due: yarn lint, prettier --write

refactor: show loading state during wallet creation (#3477)
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/Step1.tsx
Due: none

chore: use `Header` component in create profile (#3476)
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

fix: custom validation
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: none

test: increase coverage
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

feat: add copy column in `Contacts` (#3466)
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

refactor: adjust multiple wallet import to new design (#3465)
  src/app/assets/svg/edit.svg
  src/app/components/Input/Input.test.tsx
  src/app/components/Input/Input.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.styles.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

refactor: don\'t assign NaN to display
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/hooks.tsx
Due: none

fix: get rid of range conflict warning
  src/app/components/Input/InputRange.tsx
  src/app/hooks/use-currency-display.ts
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write
