Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: add TimeAgo component
  src/__snapshots__/index.test.ts.snap
  src/app/i18n/common/i18n.ts
  src/domains/plugin/components/Comments/Comments.stories.tsx
  src/domains/plugin/components/Comments/Comments.tsx
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/Comments/components/Reply/Reply.tsx
  src/domains/plugin/components/Comments/components/Reply/__snapshots__/Reply.test.tsx.snap
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.test.tsx
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.tsx
  src/domains/plugin/components/Comments/components/TimeAgo/__snapshots__/TimeAgo.test.tsx.snap
  src/domains/plugin/components/Comments/components/TimeAgo/index.ts
  src/domains/plugin/components/Comments/utils.test.ts
  src/domains/plugin/components/Comments/utils.ts
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: yarn lint, prettier --write

refactor: add LayoutControls component
  src/app/assets/svg/grid.svg
  src/app/assets/svg/list.svg
  src/app/components/LayoutControls/LayoutControls.test.tsx
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/app/components/LayoutControls/index.ts
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.test.tsx
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/components/PluginManagerControls/PluginManagerControls.test.tsx
  src/domains/plugin/components/PluginManagerControls/PluginManagerControls.tsx
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

chore: add placeholder props for the HeaderSearchBar component
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

fix: fill in the recipient with the address
  src/renderer/components/Transaction/TransactionForm/TransactionFormTransfer.vue
Due: npm run lint:fix, yarn lint, prettier --write

fix: increase coverage
  src/domains/plugin/components/Comments/utils.test.ts
  src/domains/plugin/components/Comments/utils.ts
Due: yarn lint, prettier --write

test: mock date globally (#2309)
  jest.setup.js
  package.json
  src/domains/plugin/components/Comments/Comments.test.tsx
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/Comments/components/Reply/Reply.test.tsx
  src/domains/plugin/components/Comments/components/Reply/__snapshots__/Reply.test.tsx.snap
  src/domains/plugin/components/Comments/utils.test.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: npm run lint:fix, yarn lint, prettier --write

refactor: add LayoutControls component (#2312)
  src/app/assets/svg/grid.svg
  src/app/assets/svg/list.svg
  src/app/components/LayoutControls/LayoutControls.test.tsx
  src/app/components/LayoutControls/LayoutControls.tsx
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/app/components/LayoutControls/index.ts
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.test.tsx
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/components/PluginManagerControls/PluginManagerControls.test.tsx
  src/domains/plugin/components/PluginManagerControls/PluginManagerControls.tsx
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

feat: resign registration page (#2310)
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.stories.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.test.tsx
  src/domains/transaction/pages/ResignRegistration/ResignRegistration.tsx
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/index.ts
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: yarn lint, prettier --write

chore: add theme selection to stories (#2308)
  .storybook/main.js
  .storybook/preview.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: fix select ui in transaction send form (#2305)
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.styles.ts
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
Due: none

chore: add placeholder props for the `HeaderSearchBar` component (#2313)
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
Due: none

feat: add more asset icons
  src/app/assets/svg/currencies/lsk.svg
  src/app/assets/svg/currencies/xrp.svg
  src/app/assets/svg/index.ts
Due: yarn lint, prettier --write

feat: add `xl` size in `Circle`
  src/app/components/Circle/Circle.styles.ts
  src/app/components/Circle/Circle.tsx
Due: yarn lint, prettier --write

fix: increase asset icon size
  src/app/components/SelectAsset/SelectAsset.stories.tsx
  src/app/components/SelectAsset/SelectAsset.tsx
Due: none

feat: add new assets in domain transaction components
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.stories.tsx
  src/domains/transaction/pages/Registration/Registration.stories.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.stories.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.stories.tsx
Due: none

test: update snapshots
  src/app/components/SelectAsset/__snapshots__/SelectAsset.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

refactor: flatten method
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.tsx
Due: none

chore: optimize 2 SVG(s)
  src/app/assets/svg/currencies/lsk.svg
  src/app/assets/svg/currencies/xrp.svg
Due: none

refactor: loop over periods
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.tsx
Due: none

refactor: add new assets in `SelectAsset` (#2315)
  src/app/assets/svg/currencies/lsk.svg
  src/app/assets/svg/currencies/xrp.svg
  src/app/assets/svg/index.ts
  src/app/components/Circle/Circle.styles.ts
  src/app/components/Circle/Circle.tsx
  src/app/components/SelectAsset/SelectAsset.stories.tsx
  src/app/components/SelectAsset/SelectAsset.tsx
  src/app/components/SelectAsset/__snapshots__/SelectAsset.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.stories.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.stories.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.stories.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.stories.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.tsx
Due: none

feat: add TimeAgo component (#2311)
  src/__snapshots__/index.test.ts.snap
  src/app/i18n/common/i18n.ts
  src/domains/plugin/components/Comments/Comments.stories.tsx
  src/domains/plugin/components/Comments/Comments.tsx
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/Comments/components/Reply/Reply.tsx
  src/domains/plugin/components/Comments/components/Reply/__snapshots__/Reply.test.tsx.snap
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.test.tsx
  src/domains/plugin/components/Comments/components/TimeAgo/TimeAgo.tsx
  src/domains/plugin/components/Comments/components/TimeAgo/__snapshots__/TimeAgo.test.tsx.snap
  src/domains/plugin/components/Comments/components/TimeAgo/index.ts
  src/domains/plugin/components/Comments/utils.test.ts
  src/domains/plugin/components/Comments/utils.ts
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: yarn lint, prettier --write

fix: dash svg viewbox
  src/app/assets/svg/dash.svg
Due: none

refactor: allow additional classes on dropdown
  src/app/components/Dropdown/Dropdown.tsx
Due: none

chore: update plugin list item story path
  src/domains/plugin/components/PluginListItem/PluginListItem.stories.tsx
Due: none

refactor: plugin list item dropdown button
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
Due: none

refactor: change size of wallet header dropdown button
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
Due: none

refactor: allow link class for all elements
  src/styles/base.css
Due: none

chore: reference i18n keys in tests instead of hardcoded values (#2304)
  src/__snapshots__/index.test.ts.snap
  src/app/components/Clipboard/Clipboard.test.tsx
  src/app/components/Collapse/CollapseToggleButton.test.tsx
  src/app/components/Collapse/CollapseToggleButton.tsx
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK (#2316)
  package.json
  yarn.lock
Due: prettier --write

refactor: update `Avatar` component to use svg
  src/app/components/Avatar/Avatar.stories.tsx
  src/app/components/Avatar/Avatar.test.tsx
  src/app/components/Avatar/Avatar.tsx
  src/app/components/Avatar/__snapshots__/Avatar.test.tsx.snap
Due: none

chore: update snapshots
  src/app/components/Avatar/Avatar.tsx
  src/app/components/Avatar/__snapshots__/Avatar.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/__snapshots__/BlockchainTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/vote/components/AddressListItem/__snapshots__/AddressListItem.test.tsx.snap
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/vote/components/DelegateListItem/__snapshots__/DelegateListItem.test.tsx.snap
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/vote/components/VoteList/__snapshots__/VoteList.test.tsx.snap
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: allow avatar shadow colour override
  src/app/components/Avatar/Avatar.tsx
Due: none

style: resolve style guide violations
  src/app/components/SelectAsset/SelectAsset.tsx
  src/app/components/SelectAsset/__snapshots__/SelectAsset.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none
