Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: fix overlapping act errors
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
Due: none

wip
  package.json
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
Due: prettier --write

refactor: move `bootFromObject` to beforeAll
  src/app/hooks/env.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/help/pages/Article/Article.test.tsx
  src/domains/news/pages/News/News.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore: update `Settings` snapshot
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

test: fix based on sdk change
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/wallet/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

test: update snapshots
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

wip
  package.json
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  yarn.lock
Due: prettier --write

wip: read fixture from evn stub
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/hooks/env.test.tsx
  src/domains/contact/components/DeleteContact/DeleteContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/exchange/pages/Exchange/Exchange.test.tsx
  src/domains/help/pages/Article/Article.test.tsx
  src/domains/help/pages/Faq/Faq.test.tsx
  src/domains/help/pages/Main/Main.test.tsx
  src/domains/news/pages/News/News.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/pages/Registration/Registration.test.tsx
  src/domains/transaction/pages/SendIPFSTransaction/SendIPFSTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.test.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/utils/testing-library.tsx
Due: none

feat: add `DeleteProfile` component
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/DeleteProfile/DeleteProfile.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/i18n.ts
Due: yarn lint, prettier --write

refactor: implement modal in page
  src/domains/profile/components/DeleteProfile/DeleteProfile.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

test: fix failing
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

test: fix failing
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
Due: none

fix: storybook util based on sdk change
  src/utils/storybook.tsx
Due: none

refactor: catch votes 404
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

refactor: check wallet has data
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

test: update based on changes
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: use os.homedir() to get the default path
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/utils/electron-utils.test.ts
Due: yarn lint, prettier --write

feat: implement profile deleting (#2567)
  src/domains/profile/components/DeleteProfile/DeleteProfile.test.tsx
  src/domains/profile/components/DeleteProfile/DeleteProfile.tsx
  src/domains/profile/components/DeleteProfile/__snapshots__/DeleteProfile.test.tsx.snap
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

wip
  jest.setup.js
  package.json
Due: npm run lint:fix, yarn lint, prettier --write

test: update tests
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/help/pages/Faq/Faq.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
Due: none

feat: implement avatar uploading (#2568)
  src/domains/profile/components/ProfileCard/ProfileCard.test.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

refactor: allow disabling select network options
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
Due: none

refactor: block network switching while generating wallet
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

fix: removing wallet that should be saved
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

test: step 1 network switching
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
Due: none

test: update to check for wallet after save
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
Due: none

test: update snaps
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

fix: refactor unit tests for `CreateWallet`
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

chore: fix `CreateWallet` snapshot
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

wip: fix acts overlaping in `AddRecipient`
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
Due: none

refactor: fix `SelectRecipient` tests
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
Due: none

refactor: fix `SendTransactionForm` tests
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
Due: none

refactor: fix `Contacts` tests
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

wip
  package.json
  src/app/contexts/Environment/Environment.test.tsx
  src/app/contexts/Environment/Environment.tsx
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
  yarn.lock
Due: prettier --write

refactor: additional fixes on `Contacts` tests
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

refactor: fix `SelectAddress` tests
  src/domains/profile/components/SelectAddress/SelectAddress.test.tsx
Due: none

refactor(types): update notification props
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/models.ts
Due: yarn lint, prettier --write

chore(storybook): update transactions for notification story data
  src/app/components/Notifications/Notifications.stories.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
