Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

refactor: include smartbridge only in ark networks
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
Due: none

test: add coverage
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

fix: save current profile instance during profile creation (#3280)
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/Settings.models.ts
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: yarn lint, prettier --write

fix: correct avatar in sign message modal (#3283)
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
Due: none

fix: launch from home section
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

chore: trigger snapshot update
  src/app/components/Form/FormHelperText.tsx
Due: none

wip
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

refactor: dynamic data in plugin header component
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.test.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/routing.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

fix: don't show pagination for just 1 page
  src/app/components/Pagination/Pagination.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginGrid/PluginGrid.test.tsx
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

refactor: add padding only if multi recipients are supported
  src/app/components/Form/SubForm.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

chore: update snapshots
  src/app/components/Form/__snapshots__/SubForm.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: remove console.log
  src/app/components/Pagination/Pagination.tsx
Due: none

fix: retrieve and set `LedgerIndex` as `WalletData`
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/contexts/Ledger/hooks/connection.ts
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
Due: yarn lint, prettier --write

refactor: enable back button on ledger import
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
Due: none

chore: snapshot troubles
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
Due: none

refactor: rename `LedgerIndex` to `LedgerPath`
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/contexts/Ledger/hooks/connection.test.tsx
  src/app/contexts/Ledger/hooks/connection.ts
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: make use of the spinner `isLoading` prop
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

fix: do not show button icon while loading
  src/app/components/Button/Button.tsx
Due: none

chore: update snapshots
  src/app/components/Button/Button.tsx
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Button/Button.tsx
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

chore: update homebrew install mechanism
  README.md
Due: prettier --write

chore: update contribution guidelines url
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

refactor: dynamic data in plugin info component
  src/domains/plugin/components/PluginHeader/PluginHeader.test.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/components/PluginInfo/PluginInfo.test.tsx
  src/domains/plugin/components/PluginInfo/PluginInfo.tsx
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/plugins/context/PluginManagerProvider.tsx
Due: none

test: fix e2e
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/components/PluginInfo/PluginInfo.tsx
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

wip
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  scripts/generate-test-workflow.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: keep send-all amount selection in form state
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

refactor: recalculate amount upon fee change
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

test: add coverage
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

ci: run unit/feature tests in separate jobs by scope (#3285)
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  scripts/generate-test-workflow.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: update contribution guidelines url (#3292)
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

chore: update homebrew install mechanism (#3291)
  README.md
Due: prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

refactor: change network prop in `ReceiveFunds`
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.models.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
