Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

chore: remove duplicate mnemonic validation
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
Due: none

refactor: adjust styles of import success step
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore: remove unecessary snapshot
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
Due: none

fix: exclude entity name from signEntityUpdate input data
  src/domains/transaction/pages/SendEntityUpdate/utils.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

test: adjust e2e tests
  src/domains/transaction/e2e/common.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: none

test: adjust e2e tests
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test: adjust e2e tests
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test: add e2e tests to send a vote transaction
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

refactor: add `Select All` button to news options
  src/app/i18n/common/i18n.ts
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/components/NewsOptions/components/SelectCategory/SelectCategory.stories.tsx
  src/domains/news/data.ts
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

wip
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

test: adjust e2e tests
  src/domains/news/e2e/filtering.e2e.ts
Due: yarn lint, prettier --write

refactor: transfer form adjustments
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.stories.tsx
  src/domains/transaction/components/RecipientList/RecipientList.test.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/TransactionSuccessful/TransactionSuccessful.tsx
  src/domains/transaction/components/TransactionSuccessful/__snapshots__/TransactionSuccessful.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/Step1.tsx
  src/domains/transaction/pages/SendTransfer/Step2.tsx
  src/domains/transaction/pages/SendTransfer/Step4.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: yarn lint, prettier --write

refactor: show multi payment amount
  src/domains/transaction/pages/SendTransfer/Step4.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: add e2e tests to send a vote transaction (#2853)
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

refactor: add `Select All` button to news options (#2852)
  src/app/i18n/common/i18n.ts
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/components/NewsOptions/components/SelectCategory/SelectCategory.stories.tsx
  src/domains/news/data.ts
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust recipient list margins
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/Step2.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
Due: none

chore(deps): update SDK to 0.9.363
  package.json
  yarn.lock
Due: prettier --write

refactor: catch and show broadcast error in trasnsaction send
  src/domains/transaction/pages/SendEntityUpdate/utils.ts
Due: yarn lint, prettier --write

chore: spy console log on tests for `SendEntityResignation`
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
Due: none

test: add coverage
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

chore: add debug and todo
  src/app/components/Input/InputCurrency.test.tsx
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
Due: none

fix: fix controlled input mode
  src/app/components/Input/InputCurrency.test.tsx
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/EntityRegistrationForm/FormStep.tsx
  src/domains/transaction/components/InputFee/InputFee.stories.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/pages/SendVote/Step1.tsx
Due: none

fix: wip detail with floated values
  src/app/components/Input/InputCurrency.tsx
Due: none

test: add failed test to check controlled input
  src/app/components/Input/InputCurrency.test.tsx
Due: none

fix: wip fix deletion (0) and integer values
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/InputFee/InputFee.stories.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

chore: fix storybook duplicated title warning
  src/app/components/SelectDropdown/SelectDropdown.stories.tsx
Due: none

chore: adjust minimum logic
  src/app/components/Input/InputRange.tsx
Due: none

tests: update snapshots
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
Due: none

chore: remove debug
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/InputFee/InputFee.stories.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

fix: enable all three input modes
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
