Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: fix build errors
  src/domains/dashboard/components/FilterWallets/hooks.ts
Due: yarn lint, prettier --write

fix: buttons focus only in tabbing no onclick
  package.json
  src/app/App.tsx
  src/styles/app.css
  src/styles/focus-visible.css
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

feat: add plugin view page
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginView/index.ts
  src/domains/plugin/pages/index.ts
  src/domains/plugin/routing.ts
Due: yarn lint, prettier --write

test: increase coverage
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/loader/fs/loader-fs.test.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
Due: none

fix: correct dashboard filter indicator (#3273)
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

chore: upgrade Platform SDK dependencies (#3269)
  .github/workflows/build.yml
  .github/workflows/draft-artifacts.yml
  .github/workflows/e2e.yml
  .github/workflows/format.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  package.json
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  yarn.lock
Due: prettier --write

refactor: remove outdated todos in transaction builder (#3274)
  src/domains/transaction/hooks/use-transaction-builder.ts
Due: yarn lint, prettier --write

fix: buttons focus only in tabbing no onclick (#3275)
  package.json
  src/app/App.tsx
  src/styles/app.css
  src/styles/focus-visible.css
  yarn.lock
Due: prettier --write

fix: route with queryParams
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/routing.ts
Due: yarn lint, prettier --write

test: increase coverage
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

wip
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/plugin-configuration.ts
Due: yarn lint, prettier --write

refactor: delegate registration adjustments
  src/domains/transaction/components/DelegateRegistrationForm/ReviewStep.tsx
Due: none

refactor: multisignature registration adjustments
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/ReviewStep.tsx
Due: none

refactor: second signature registration adjustments
  src/domains/transaction/components/SecondSignatureRegistrationForm/ReviewStep.tsx
Due: none

fix: vote list alignments
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/vote/components/VoteList/VoteList.tsx
  src/styles/base.css
Due: none

refactor: various input and form adjustments
  src/app/components/Input/InputAddress.tsx
  src/app/components/Input/InputCounter.tsx
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/ReviewStep.tsx
  src/domains/transaction/pages/SendIpfs/ReviewStep.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/ReviewStep.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

fix: do not activate filter button when changing view type
  package.json
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: yarn lint, prettier --write

chore: revert coverage command changes
  package.json
Due: prettier --write

style: resolve style guide violations
  src/app/components/Form/FormHelperText.tsx
  src/app/components/Form/__snapshots__/FormHelperText.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
Due: none

test: coverage
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

fix: save current profile instance during profile creation
  src/app/contexts/Environment/Environment.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/Settings.models.ts
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: yarn lint, prettier --write

wip
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: none

refactor: enable initial back button on transaction forms (#3270)
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

fix: do not activate filter button when changing view type (#3279)
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: yarn lint, prettier --write

fix: logic for Show more button in the wallets list (#3277)
  .gitignore
  src/domains/dashboard/components/Wallets/hooks.test.tsx
  src/domains/dashboard/components/Wallets/hooks.ts
Due: yarn lint, prettier --write

feat: install plugin from provider (#3271)
  package.json
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/electron/plugins.ts
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/plugin-configuration.ts
  src/plugins/core/configuration/schema.ts
  src/plugins/core/plugin-controller-repository.ts
  src/plugins/loader/fs/loader-fs-handler.test.ts
  src/plugins/loader/fs/loader-fs-handler.ts
  src/plugins/loader/fs/loader-fs-ipc.ts
  src/plugins/loader/fs/loader-fs.test.ts
  src/plugins/loader/fs/loader-fs.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/plugins/context/PluginManagerProvider.tsx
Due: none

chore: update snapshots
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

wip
  package.json
  src/domains/transaction/pages/SendVote/SendVote.tsx
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

fix: correct signatory avatar in sign message modal
  src/domains/wallet/components/SignMessage/SignMessage.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
Due: none
