Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: adjust wallet import with encrypted wif
  src/domains/wallet/hooks/use-wallet-import.ts
Due: yarn lint, prettier --write

test: fix failing in `WalletDetails` page
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
Due: none

text: fix failing in `ImportWallet`
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  package.json
  src/app/App.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/setting/hooks/use-profile-export.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

test: fix failing in `Votes`
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/pages/Votes/Votes.test.tsx
Due: none

test: fix coverage in profile domain
  src/domains/profile/hooks/use-profile-addresses.test.tsx
Due: none

test: fix coverage for `AddressRow`
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
Due: none

test: fix failing in `WalletListItem`
  src/app/components/WalletListItem/WalletListItem.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/WalletListItem/WalletListItem.test.tsx
Due: none

test: fix coverage for notifications
  src/app/hooks/use-notifications.test.tsx
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/hooks/use-notifications.test.tsx
Due: none

test: fix ledger scan coverage
  src/app/contexts/Ledger/hooks/scanner.test.tsx
Due: none

style: resolve style guide violations
  src/app/contexts/Ledger/hooks/scanner.test.tsx
Due: none

feat: ability to manually refresh wallet data
  src/app/assets/svg/index.ts
  src/app/assets/svg/reload.svg
  src/app/hooks/use-observer.ts
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

chore: optimize 1 SVG(s)
  src/app/assets/svg/reload.svg
Due: none

style: resolve style guide violations
  package.json
  src/app/App.tsx
  src/app/hooks/use-observer.ts
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

fix: add wallet in profile when created
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

test: fix failing in `CreateWallet` page
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

test: fix failing in `LedgerScanStep`
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerScanStep.test.tsx
Due: none

fix: warning icon position in Textarea
  src/app/components/Input/Input.tsx
Due: none

fix: adjust style of JSON signature field on focus
  src/domains/wallet/components/SignMessage/SignedStep.tsx
Due: none

style: resolve style guide violations
  package.json
  src/app/App.tsx
Due: prettier --write

fix: accessibility of password visibility icon (#3680)
  package.json
  src/app/App.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__snapshots__/InputPassword.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

test: fix failing in `LedgerTabs`
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
Due: none

fix: JSON field type in the Verify Message modal (#3698)
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

test: fix failing in `EncryptionPasswordStep`
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
Due: none

test: fix failing in `SignMessage`
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: none

test: fix failing in message signing
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/components/SignMessage/hooks/use-message-signer.test.tsx
Due: none

test: fix `ReceiveFundsForm`
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
Due: none

wip
  src/domains/contact/e2e/common.ts
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/news/e2e/common.ts
  src/domains/plugin/e2e/common.ts
  src/domains/profile/e2e/common.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/setting/e2e/common.ts
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/e2e/ipfs-transaction-multisig.e2e.ts
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
  src/domains/transaction/e2e/single-transfer-multisig.e2e.ts
  src/domains/transaction/e2e/vote-transaction-multisig.e2e.ts
  src/domains/transaction/e2e/vote-transaction.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
Due: yarn lint, prettier --write

fix: adjust border radius of dropdown
  src/app/components/Dropdown/Dropdown.styles.ts
Due: yarn lint, prettier --write

test: adjust border radius of dropdown
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: adjust currency icons
  src/app/assets/svg/currencies/ada.svg
  src/app/assets/svg/currencies/ark.svg
  src/app/assets/svg/currencies/atom.svg
  src/app/assets/svg/currencies/avax.svg
  src/app/assets/svg/currencies/btc.svg
  src/app/assets/svg/currencies/dot.svg
  src/app/assets/svg/currencies/eos.svg
  src/app/assets/svg/currencies/eth.svg
  src/app/assets/svg/currencies/lsk.svg
  src/app/assets/svg/currencies/luna.svg
  src/app/assets/svg/currencies/nano.svg
  src/app/assets/svg/currencies/neo.svg
  src/app/assets/svg/currencies/sol.svg
  src/app/assets/svg/currencies/trx.svg
  src/app/assets/svg/currencies/xlm.svg
  src/app/assets/svg/currencies/xrp.svg
Due: none

chore: optimize 2 SVG(s)
  src/app/assets/svg/currencies/luna.svg
  src/app/assets/svg/currencies/xlm.svg
Due: none
