Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

style: resolve style guide violations
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

chore: update snaphosts
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

fix: absolute position of header search within modals
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
Due: none

refactor: dynamic red dot positioning
  src/app/components/ControlButton/ControlButton.tsx
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

test: coverage
  src/app/components/ControlButton/ControlButton.test.tsx
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
Due: none

test: fix act warnings in `Settings`
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

style: resolve style guide violations
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none

chore: update husky from 4 to 6 (#3591)
  .husky/.gitignore
  .husky/pre-commit
  package.json
  yarn.lock
Due: prettier --write

wip
  src/electron/index.ts
  yarn.lock
Due: yarn lint, prettier --write

fix: adjust plugin header width
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

refactor: adjust interpolation of empty text on votes page
  src/domains/vote/i18n.ts
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust interpolation of empty text on votes page (#3595)
  src/domains/vote/i18n.ts
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

fix: adjust plugin header width (#3594)
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

test: fix act warnings in `Settings` (#3593)
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: handle transactions actions and state in `useProfileTransactions` hook
  src/app/hooks/index.ts
  src/app/hooks/use-profile-transactions.ts
Due: yarn lint, prettier --write

refactor: use profile transactions hook api in `TransactionTable`
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

refactor: prevent multiple rerenders in `TransactionTable`
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

refactor: memoize `TransactionRow`
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
Due: none

test: add coverage
  src/app/hooks/use-profile-transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

fix: check if profile uses test networks to filter selected wallets
  src/domains/dashboard/hooks/use-wallet-config.ts
Due: yarn lint, prettier --write

fix: adjust `useProfileTransactions` actions for empty wallets
  src/app/hooks/use-profile-transactions.ts
Due: yarn lint, prettier --write

test: fix errors
  src/app/hooks/use-profile-transactions.test.tsx
  src/app/hooks/use-profile-transactions.ts
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: yarn lint, prettier --write

test: fix profile synchronizer act errors
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

chore: remove profiler from `TransactionTable`
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

style: resolve style guide violations
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

refactor: move `Transactions` in transaction domain
  src/app/hooks/index.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/Transactions/index.tsx
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
Due: none

wip
  src/electron/index.ts
Due: yarn lint, prettier --write

fix: adjust question mark button in transfer form
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: yarn lint, prettier --write

wip
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

refactor: adjust toasts to new design
  src/app/components/Alert/Alert.tsx
  src/app/components/Button/Button.styles.ts
  src/app/services/ToastService.ts
  src/app/services/ToastService.tsx
  src/styles/toasts.css
Due: yarn lint, prettier --write

refactor: optimize transactions table in Dashboard (#3590)
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/domains/dashboard/hooks/use-wallet-config.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/Transactions/Transactions.test.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/Transactions/index.tsx
  src/domains/transaction/hooks/use-profile-transactions.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
Due: yarn lint, prettier --write

fix: adjust question mark button in transfer form (#3596)
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none
