Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
  src/app/assets/svg/currencies/egld.svg
Due: none

Update App.tsx
  src/app/App.tsx
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/currencies/egld.svg
Due: none

style: resolve style guide violations
  package.json
  src/app/App.tsx
Due: prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  package.json
Due: prettier --write

chore: install `@arkecosystem/platform-sdk-egld` (#3399)
  package.json
  src/app/App.tsx
  src/app/assets/svg/currencies/egld.svg
  src/app/assets/svg/currencies/index.ts
  src/domains/network/data.ts
  yarn.lock
Due: yarn lint, prettier --write

build: remove the E2E flag for production build
  package.json
Due: prettier --write

fix: covered transaction router to 100%
  src/domains/transaction/routing.test.tsx
Due: none

fixed: cover transaction untils to 100%
  src/domains/transaction/utils.test.ts
Due: yarn lint, prettier --write

fixed: covered SendTransfer to 100%
  src/domains/transaction/validations/SendTransfer.test.tsx
Due: none

fixed: cover domains/transaction to 100%
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/validations/Common.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: ensure connection to sign transactions with ledger
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/components/Ledger/LedgerWaitingApp.tsx
  src/domains/wallet/components/Ledger/LedgerWaitingDevice.tsx
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

build: remove the E2E flag for production build (#3400)
  package.json
Due: prettier --write

test: increase `src/domains/transaction` coverage to 100% (#3401)
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/routing.test.tsx
  src/domains/transaction/utils.test.ts
  src/domains/transaction/validations/Common.test.tsx
  src/domains/transaction/validations/SendTransfer.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: move transaction history toggle to settings page
  src/app/components/FilterNetwork/FilterNetwork.tsx
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/app/contexts/Configuration/Configuration.test.tsx
  src/app/contexts/Configuration/__snapshots__/Configuration.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/FilterWallets/FilterWallets.test.tsx
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/hooks.test.tsx
  src/domains/dashboard/components/FilterWallets/hooks.ts
  src/domains/dashboard/components/FilterWallets/models.ts
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.test.tsx
  src/domains/dashboard/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/hooks/use-dashboard-config.test.tsx
  src/domains/dashboard/pages/Dashboard/hooks/use-dashboard-config.ts
  src/domains/dashboard/pages/Dashboard/models.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: yarn lint, prettier --write

test: cover restoration error and redirection
  src/app/App.test.tsx
  src/app/App.tsx
Due: none

style: resolve style guide violations
  src/app/App.test.tsx
Due: none

test: adapt SendVote and SendIpfs
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

fix: sync filtered packages across tabs
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

refactor: display only title in the plugin view page
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
Due: none

chore: remove unused variable
  src/domains/plugin/pages/PluginView/PluginView.tsx
Due: none

test: increase coverage
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
Due: none

refactor: remove from `Page`
  src/app/components/Layout/components/Page/Page.test.tsx
  src/app/components/Layout/components/Page/Page.tsx
Due: none

refactor: remove from all domains
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/domains/plugin/pages/PluginView/PluginView.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

refactor: delete `Breadcrumbs` component
  src/app/components/Breadcrumbs/Breadcrumbs.test.tsx
  src/app/components/Breadcrumbs/Breadcrumbs.tsx
  src/app/components/Breadcrumbs/index.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/app/components/Breadcrumbs/__snapshots__/Breadcrumbs.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: remove gray background from general `Page` component
  src/app/components/Layout/components/Page/Page.tsx
Due: none

refactor: remove margin top by default in `Section` component
  src/app/components/Layout/components/Section/Section.tsx
Due: none

chore: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/Layout/components/Section/__snapshots__/Section.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/PortfolioChart/__snapshots__/PortfolioChart.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: fix build errors
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
Due: none

refactor: reduce navbar height
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/NotificationsDropdown.tsx
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: use danger variant in profile reset button
  src/domains/profile/components/ResetProfile/ResetProfile.tsx
Due: none

refactor: change profile reset modal description
  src/domains/profile/i18n.ts
Due: yarn lint, prettier --write

refactor: remove arrow from user icon
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

test: add coverage
  src/app/components/Layout/components/Section/Section.test.tsx
  src/app/components/Layout/components/Section/__snapshots__/Section.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
