Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix: check if the extra styles of the network is not undefined (#2913)
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

fix: open external links to the blockfolio app (#2917)
  src/domains/news/components/BlockfolioAd/BlockfolioAd.tsx
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

refactor: filter networks on input (#2915)
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: improve amount and send max in send transfer (#2910)
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.stories.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/Step1.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write

feat: search for a news when pressing the enter key on the input (#2912)
  src/app/components/Modal/Modal.test.tsx
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.test.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
Due: none

fix: show exchange currency in navbar (#2911)
  src/app/components/Icon/Icon.test.tsx
  src/app/components/Icon/Icon.tsx
  src/app/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

refactor(notifications): use env as hook parameter
  src/app/hooks/notifications.ts
Due: yarn lint, prettier --write

refactor: filter unique unseen transactions to add as notifications
  src/app/hooks/notifications.ts
Due: yarn lint, prettier --write

chore: fix notification fixture defaults
  src/tests/fixtures/env/storage.json
Due: prettier --write

chore: provide env param in synchronizer
  src/app/hooks/use-synchronizer.tsx
Due: none

test: add notifications hook coverage
  src/app/hooks/notifications.test.tsx
Due: none

refactor: adjustments to entity / delegate resignation
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.test.tsx
  src/domains/transaction/components/DelegateResignationForm/FormStep.tsx
  src/domains/transaction/components/DelegateResignationForm/ReviewStep.tsx
  src/domains/transaction/components/DelegateResignationForm/SummaryStep.tsx
  src/domains/transaction/components/DelegateResignationForm/index.ts
  src/domains/transaction/components/EntityResignationSteps/FormStep.tsx
  src/domains/transaction/components/EntityResignationSteps/ReviewStep.tsx
  src/domains/transaction/components/EntityResignationSteps/Step1/EntityFirstStep.tsx
  src/domains/transaction/components/EntityResignationSteps/Step1/index.tsx
  src/domains/transaction/components/EntityResignationSteps/Step2/EntitySecondStep.tsx
  src/domains/transaction/components/EntityResignationSteps/Step2/index.ts
  src/domains/transaction/components/EntityResignationSteps/Step4/EntityFourthStep.tsx
  src/domains/transaction/components/EntityResignationSteps/Step4/index.ts
  src/domains/transaction/components/EntityResignationSteps/SummaryStep.tsx
  src/domains/transaction/components/TransactionDetail/TransactionDetail.styles.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/Step1.tsx
  src/domains/transaction/pages/SendEntityResignation/Step2.tsx
  src/domains/transaction/pages/SendEntityResignation/Step4.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/index.ts
  src/domains/transaction/routing.ts
Due: yarn lint, prettier --write

chore: fix exhaustive deps errors
  src/app/hooks/notifications.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Notifications/NotificationItem.tsx
  src/app/components/Notifications/__snapshots__/NotificationItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
Due: none

test: increase coverage
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: cleanup synchronizer
  src/app/hooks/use-synchronizer.tsx
Due: none

test: fix fixture
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
Due: none

refactor: import wallet and sync data in background (#2916)
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/utils/testing-library.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/EntityResignationSteps/FormStep.tsx
  src/domains/transaction/components/EntityResignationSteps/SummaryStep.tsx
Due: none

test: add e2e spec
  src/domains/wallet/e2e/wallet-details.e2e.ts
Due: yarn lint, prettier --write

wip
  src/app/hooks/use-synchronizer.test.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: sync fees to new network
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

deps: update sdk
  package.json
  yarn.lock
Due: prettier --write

feat: ensure step to be divisible by max in `InputRange`
  src/app/components/Input/InputRange.tsx
  src/app/components/Input/utils.ts
Due: yarn lint, prettier --write

chore: adjust step prop in `MultiSignatureRegistrationForm` and `SecondSignatureRegistrationForm` forms
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step1.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/Step1.tsx
Due: none

refactor: adjust step prop in `DelegateRegistrationForm` `FormStep`
  src/domains/transaction/components/DelegateRegistrationForm/steps/FormStep.tsx
Due: none

test: align `InputFee` step and max props
  src/app/components/Input/InputRange.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
Due: none

chore: update snapshots
  src/app/components/Input/__snapshots__/InputRange.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Input/utils.ts
Due: yarn lint, prettier --write

test: unit test adjustments
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/EntityTable/EntityTableRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/EntityTable/__snapshots__/EntityTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/EntityTable/__snapshots__/EntityTableRowItem.test.tsx.snap
  src/domains/transaction/components/EntityResignationSteps/EntityResignationSteps.models.ts
  src/domains/transaction/components/EntityResignationSteps/FormStep.tsx
  src/domains/transaction/e2e/entity-update.e2e.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.models.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: yarn lint, prettier --write

test: e2e test adjustments
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
Due: yarn lint, prettier --write

refactor: show loader while fetching transaction
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
Due: none

chore: uncomment line
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
Due: none

fix: entity table dropdown
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/EntityTable/EntityTableRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/EntityTable/__snapshots__/EntityTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/EntityTable/__snapshots__/EntityTableRowItem.test.tsx.snap
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
Due: yarn lint, prettier --write

test: add entity mocks
  src/tests/fixtures/coins/ark/transactions/business-registrations.json
  src/tests/fixtures/coins/ark/transactions/empty-search.json
  src/tests/fixtures/coins/ark/transactions/plugin-registrations.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test: add more wallet mocks
  src/tests/fixtures/coins/ark/wallets/D9YiyRYMBS2ofzqkufjrkB9nHofWgJLM7f.json
  src/tests/fixtures/coins/ark/wallets/DFJ5Z51F1euNNdRUQJKQVdG4h495LZkc6T.json
  src/tests/fixtures/coins/ark/wallets/DKrACQw7ytoU2gjppy3qKeE2dQhZjfXYqu.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test: coverage
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
