Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

style: resolve style guide violations
  src/app/components/Card/__snapshots__/CardControl.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

wip
  .github/workflows/test.yml
Due: none

wip
  src/domains/search/components/SearchBarFilters/SearchBarFilters.test.tsx
  src/domains/search/components/SearchBarOptions/SearchBarOptions.test.tsx
  src/domains/wallets/components/ReceiveFunds/ReceiveFunds.test.tsx
Due: none

chore: setup `eslint-plugin-unused-imports` for eslint rules (#2173)
  .eslintrc.js
  .github/workflows/test.yml
  package.json
  src/app/components/Clipboard/Clipboard.tsx
  src/app/components/Input/InputGroup.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/search/components/SearchBar/SearchBar.stories.tsx
  src/domains/search/components/SearchBar/SearchBar.tsx
  src/domains/search/components/SearchBarFilters/SearchBarFilters.stories.tsx
  src/domains/search/components/SearchBarFilters/SearchBarFilters.test.tsx
  src/domains/search/components/SearchBarOptions/SearchBarOptions.stories.tsx
  src/domains/search/components/SearchBarOptions/SearchBarOptions.test.tsx
  src/domains/search/components/SearchModal/SearchModal.stories.tsx
  src/domains/transaction/components/Recipient/Recipient.stories.tsx
  src/domains/transaction/components/Recipient/Recipient.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/wallets/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallets/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallets/components/SelectAccount/SelectAccount.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

test: add HTTP tests that cover actual behaviours (#2174)
  package.json
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

ci: setup `actions/cache@v2` to cache `node_modules` (#2175)
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: none

wip
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

chore: add missing `@types/*` dependencies (#2176)
  package.json
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  package.json
Due: prettier --write

chore: install development-only packages as `devDependencies` (#2178)
  package.json
Due: prettier --write

wip
  .eslintignore
  .github/workflows/draft-artifacts.yml
  entitlements.mac.plist
  package.json
  scripts/notarize.js
  scripts/version-artifacts.sh
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .github/workflows/draft-artifacts.yml
Due: none

wip
  .github/workflows/draft-artifacts.yml
  .github/workflows/publish-release.yml
Due: none

ci: setup artifact drafting (#2179)
  .eslintignore
  .github/workflows/draft-artifacts.yml
  .github/workflows/publish-release.yml
  entitlements.mac.plist
  package.json
  scripts/notarize.js
  scripts/version-artifacts.sh
Due: npm run lint:fix, yarn lint, prettier --write

merge base branch
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
Due: none

fix build issues
  src/app/components/Icon/Icon.tsx
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.stories.tsx
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
Due: none

feat: vote for delegate page (#2164)
  src/app/assets/svg/index.ts
  src/app/assets/svg/transaction_successful.svg
  src/app/components/Address/Address.test.tsx
  src/app/components/Address/Address.tsx
  src/app/components/Clipboard/Clipboard.tsx
  src/app/components/Clipboard/index.tsx
  src/app/components/Icon/Icon.tsx
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.stories.tsx
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/VoteForDelegate.spec.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
  src/domains/transaction/pages/VoteForDelegate/index.tsx
Due: yarn lint, prettier --write

feat(deps): add downshift package
  package.json
  yarn.lock
Due: prettier --write

refactor: remove navbar from profiles
  src/app/assets/svg/msq.svg
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: none

test: update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/msq.svg
Due: none

wip
  .eslintrc.js
  .storybook/config-overrides.js
  .storybook/main.js
  config-overrides.js
  package.json
  src/__snapshots__/index.test.ts.snap
  src/domains/transaction/components/LedgerListener/LedgerListener.models.ts
  src/domains/transaction/components/LedgerListener/LedgerListener.state.ts
  src/domains/transaction/components/LedgerListener/LedgerListener.ts
  src/domains/transaction/components/LedgerListener/index.ts
  src/electron/index.js
  src/index.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: update all snapshots
  src/__snapshots__/index.test.ts.snap
  src/app/components/Modal/__snapshots__/Modal.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Table/__snapshots__/Table.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugins/components/InstallPlugin/__snapshots__/InstallPlugin.test.tsx.snap
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
  src/domains/search/components/SearchBar/__snapshots__/SearchBar.test.tsx.snap
  src/domains/search/components/SearchModal/__snapshots__/SearchModal.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SelectDelegateModal/__snapshots__/SelectDelegateModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/wallets/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallets/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallets/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallets/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallets/components/VerifyMessageStatus/__snapshots__/VerifyMessageStatus.test.tsx.snap
  src/domains/wallets/components/WalletUpdate/__snapshots__/WalletUpdate.test.tsx.snap
Due: none

refactor: remove redundant property on modals
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.test.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.test.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
Due: none

test: update cypress tests
  cypress/integration/startup.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: reduce modal side padding
  src/app/components/Modal/Modal.tsx
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/search/components/SearchBar/SearchBar.tsx
  src/domains/search/components/SearchModal/SearchModal.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
Due: none

chore: add search and link icons
  src/app/assets/svg/index.ts
  src/app/assets/svg/link.svg
  src/app/assets/svg/search.svg
Due: yarn lint, prettier --write

refactor: add larger width for modal
  src/app/components/Modal/Modal.tsx
Due: none

refactor: overflow hidden on modals
  src/app/components/Modal/Modal.tsx
Due: none

chore: add translations
  src/app/i18n/common/i18n.ts
  src/domains/transaction/i18n.tsx
Due: yarn lint, prettier --write

fix: remove redundant class
  src/app/components/Table/Table.tsx
Due: none

refactor: add search icon as default for search bar
  src/domains/search/components/SearchBar/SearchBar.tsx
Due: none

feat: add select delegate modal
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.stories.tsx
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.test.tsx
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.tsx
  src/domains/transaction/components/SelectDelegateModal/index.ts
Due: yarn lint, prettier --write

wip
  src/app/components/Table/Table.tsx
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.tsx
Due: none
