Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: apply default props to wallet details
  src/domains/wallet/pages/WalletDetails/WalletDetails.stories.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/data.ts
Due: yarn lint, prettier --write

feat: make wallet card redirect to details using to the wallet id
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
Due: none

feat: update wallets component to use id
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/data.ts
Due: yarn lint, prettier --write

feat: update dashboard page
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

feat: update wallet registrations
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
Due: none

feat: update wallet header
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
Due: none

tests: update snapshots
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

tests: fix profile being created every test
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

tests: increase coverage
  src/app/App.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

feat: update activeProfile hook in test environment
  src/app/hooks/env.ts
Due: yarn lint, prettier --write

feat: add create/import routes
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/wallet/pages/index.ts
  src/domains/wallet/routing.ts
Due: yarn lint, prettier --write

test: update layout tests
  src/app/components/Layout/Layout.test.tsx
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: none

feat: add back navigation using breadcrumbs
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

fix: mock matchMedia for tests
  src/setupTests.ts
Due: yarn lint, prettier --write

tests(import-wallet): add routing wrapper
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

tests(create-wallet): add routing wrapper
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

chore: remove unnecessary env override
  src/app/App.test.tsx
Due: none

fix: typo
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
Due: none

tests: update snapshots
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: cover import and create actions
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

refactor: ui adjustments on plugin pages (#2432)
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/styles.ts
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: yarn lint, prettier --write

tests(coverage): add istanbul ignore
  src/app/hooks/env.ts
Due: yarn lint, prettier --write

test(e2e): add wallets routing journey
  cypress/integration/wallets-routing.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: import statement
  src/domains/wallet/pages/WalletDetails/WalletDetails.stories.tsx
Due: none

fix: hooks non exhaustive deps
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

fix: taget black rel security risk
  src/domains/wallet/components/WalletVote/WalletVote.tsx
Due: none

fix: href value
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

fix: some tweaks in the search bar
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/images/blockfolio-banner.png
  src/domains/news/images/download-app-store.svg
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

test: update snapshots
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: none

feat: add wallets routing (#2433)
  cypress/integration/wallets-routing.spec.js
  src/app/components/Layout/Layout.test.tsx
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/app/hooks/env.ts
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/data.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/WalletVote.tsx
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/WalletDetails.stories.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/data.ts
  src/domains/wallet/pages/WalletDetails/index.ts
  src/domains/wallet/pages/index.ts
  src/domains/wallet/routing.ts
  src/router/index.tsx
  src/setupTests.ts
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/news/components/NewsOptions/NewsOptions.tsx
Due: none

chore: center align pagination in `PluginsList`
  src/domains/plugin/components/PluginList/PluginList.tsx
Due: none

chore: add bottom spacing in `PluginManager` container
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

feat: add `News` page (#2413)
  src/app/assets/images/index.ts
  src/app/assets/svg/blockfolio.svg
  src/app/assets/svg/index.ts
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/news/components/BlockfolioAd/BlockfolioAd.stories.tsx
  src/domains/news/components/BlockfolioAd/BlockfolioAd.test.tsx
  src/domains/news/components/BlockfolioAd/BlockfolioAd.tsx
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/BlockfolioAd/index.tsx
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/components/NewsOptions/NewsOptions.stories.tsx
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/components/NewsOptions/components/SelectCategory/SelectCategory.tsx
  src/domains/news/components/NewsOptions/components/SelectCategory/__snapshots__/SelectCategory.test.tsx.snap
  src/domains/news/data.ts
  src/domains/news/i18n.ts
  src/domains/news/images/blockfolio-banner.png
  src/domains/news/images/download-app-store.svg
  src/domains/news/images/download-google-play.svg
  src/domains/news/images/index.ts
  src/domains/news/pages/News/News.stories.tsx
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/news/pages/News/index.ts
Due: yarn lint, prettier --write

chore: add snapshots
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

chore: plugins ui adjustments (#2437)
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
Due: none

refactor: dashboard wallet story padding
  src/domains/dashboard/components/Wallets/Wallets.stories.tsx
Due: none

feat(routing): add routing to news domain
  src/domains/news/pages/index.ts
  src/domains/news/routing.ts
  src/router/index.tsx
Due: yarn lint, prettier --write
