Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

deps: update Platform SDK dependencies
  package.json
  yarn.lock
Due: prettier --write

chore: update snapshots
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

deps: update Platform SDK dependencies (#3522)
  package.json
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: prettier --write

refactor: hide network options on form step
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: adjust size of votes filter button
  src/domains/vote/components/VotesFilter/VotesFilter.tsx
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

chore: update i18n text in title suffic
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.tsx
Due: none

chore: fix test titles
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.test.tsx
Due: none

chore: update snapshot
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.tsx
Due: none

fix: use queryparams to build deeplink props
  package.json
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-deeplink.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: yarn lint, prettier --write

test: fix failing
  src/app/hooks/use-deeplink.ts
Due: yarn lint, prettier --write

fix: remove single test flag
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

feat: allow plugins to use modals
  src/plugins/core/plugin-controller-repository.ts
  src/tests/fixtures/plugins/packages/plugin-test-custom-button/package.json
  src/tests/fixtures/plugins/packages/plugin-test-launch/index.js
  src/tests/fixtures/plugins/packages/plugin-test-launch/package.json
Due: npm run lint:fix, yarn lint, prettier --write

test: increase coverage
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-deeplink.ts
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: yarn lint, prettier --write

refactor: update verify message modal
  src/app/components/Toggle/Toggle.test.tsx
  src/app/components/Toggle/Toggle.tsx
  src/app/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  src/app/hooks/use-validation.ts
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/components/VerifyMessageStatus/VerifyMessageStatus.tsx
  src/domains/wallet/components/VerifyMessageStatus/__snapshots__/VerifyMessageStatus.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/validations/VerifyMessage.ts
  src/domains/wallet/validations/index.ts
Due: yarn lint, prettier --write

test: adjust e2e tests
  src/domains/wallet/e2e/verify-message-action.e2e.ts
Due: yarn lint, prettier --write

refactor: get rid of act warnings in sign message tests
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: none

fix: replace function with ternary
  src/app/components/Toggle/Toggle.tsx
  src/app/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: ignore form context in header search bar
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Input/Input.tsx
Due: none

test: fix `Header` coverage
  src/app/components/Header/Header.test.tsx
  src/app/components/Header/Header.tsx
  src/app/components/Header/__snapshots__/Header.test.tsx.snap
Due: none

test: add coverage for `EncryptPasswordStep`
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.test.tsx
Due: none

fix: catch and populate assertion error in encryptedWif promise
  src/domains/wallet/hooks/use-wallet-import.ts
Due: yarn lint, prettier --write

test: add coverage for `ImportWallet` page
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

test: add coverage for `CreateWallet` page
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/EncryptPasswordStep/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/EncryptPasswordStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.test.tsx
Due: none

chore: adjust method description
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

test(unit): fix failing
  src/domains/wallet/e2e/common.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test: add coverage for `EncryptPassword` validations
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.test.tsx
  src/domains/wallet/validations/EncryptPassword.test.tsx
Due: none

refactor: rename `CreateWallet` steps by context and split tests per step
  src/domains/wallet/pages/CreateWallet/ConfirmPassphrase.test.tsx
  src/domains/wallet/pages/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.test.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.tsx
Due: none

chore: update snapshots
  src/domains/wallet/pages/CreateWallet/ConfirmPassphrase.test.tsx
  src/domains/wallet/pages/CreateWallet/ConfirmPassphraseStep.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SelectNetworkStep.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.test.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.test.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SelectNetworkStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
Due: none

refactor: update verify message modal (#3525)
  src/app/components/Toggle/Toggle.test.tsx
  src/app/components/Toggle/Toggle.tsx
  src/app/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  src/app/hooks/use-validation.ts
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/components/VerifyMessageStatus/VerifyMessageStatus.tsx
  src/domains/wallet/components/VerifyMessageStatus/__snapshots__/VerifyMessageStatus.test.tsx.snap
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/validations/VerifyMessage.ts
  src/domains/wallet/validations/index.ts
Due: yarn lint, prettier --write

refactor: ignore form context in header search bar (#3527)
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Input/Input.tsx
Due: none

refactor: get rid of act warnings in sign message tests (#3526)
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: none

refactor: hide network options on form step (#3523)
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/SelectNetwork.test.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: adjustments to export settings (#3521)
  src/domains/setting/hooks/use-profile-export.test.tsx
  src/domains/setting/hooks/use-profile-export.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Export.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: yarn lint, prettier --write

refactor: initial fee validation on registration forms (#3516)
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: none

refactor: switch positions of plugin size and version (#3514)
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/PluginSpecs.tsx
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

Restore ImportWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

fix: do not reset fee when going back in vote form (#3518)
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none
