Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

chore: update Platform SDK (#2017)
  package.json
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/domain/profile/pages/CreateProfile.test.ts
  src/renderer/domain/profile/pages/CreateProfile.vue
  src/renderer/domain/profile/pages/__snapshots__/CreateProfile.test.ts.snap
  src/renderer/domain/profile/routes.ts
  src/renderer/support/plugins/env.test.ts
  src/types.d.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: some tweaks in style
  src/renderer/app/components/ListDivided/ListDivided.vue
  src/renderer/app/components/ListDivided/ListDividedItem.vue
Due: npm run lint:fix, yarn lint, prettier --write

test: add more tests for ListDivided components
  src/renderer/app/components/ListDivided/ListDividedItem.test.ts
  src/renderer/app/components/ListDivided/__snapshots__/ListDividedItem.test.ts.snap
Due: yarn lint, prettier --write

wip
  .eslintrc.json
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabPanel.vue
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .babelrc
  .storybook/tsconfig.json
  package.json
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.test.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/__snapshots__/Tabs.test.ts.snap
  src/renderer/app/components/Tabs/index.ts
  src/renderer/app/components/Tabs/useTab.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .babelrc
  .storybook/.babelrc
  .storybook/main.js
  .storybook/preview.ts
  package.json
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/useTab.ts
  src/renderer/main.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.test.ts
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/renderer/app/components/ListDivided/ListDividedItem.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat: add tabs component (#2018)
  .babelrc
  .eslintrc.json
  .storybook/.babelrc
  .storybook/main.js
  .storybook/preview.ts
  .storybook/tsconfig.json
  package.json
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.test.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/__snapshots__/Tabs.test.ts.snap
  src/renderer/app/components/Tabs/index.ts
  src/renderer/app/components/Tabs/useTab.ts
  src/renderer/main.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: add ListDivided to the storybook
  src/renderer/app/components/ListDivided/ListDivided.stories.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/format.yml
Due: none

ci: apply eslint and prettier rules (#2020)
  .github/workflows/format.yml
Due: none

style: resolve style guide violations
  .storybook/main.js
  .storybook/preview.ts
  src/renderer/app/components/ListDivided/ListDivided.stories.ts
  src/renderer/app/components/ListDivided/ListDivided.vue
  src/renderer/app/components/ListDivided/ListDividedItem.test.ts
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.test.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/index.ts
  src/renderer/app/components/Tabs/useTab.ts
  src/renderer/main.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: some improvements to the `ListDivided` component (#2019)
  .storybook/main.js
  .storybook/preview.ts
  src/renderer/app/components/ListDivided/ListDivided.stories.ts
  src/renderer/app/components/ListDivided/ListDivided.vue
  src/renderer/app/components/ListDivided/ListDividedItem.test.ts
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/app/components/ListDivided/__snapshots__/ListDividedItem.test.ts.snap
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.stories.ts
  src/renderer/app/components/Tabs/Tabs.test.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/index.ts
  src/renderer/app/components/Tabs/useTab.ts
  src/renderer/main.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .electron-vue/webpack.renderer.config.js
  .storybook/preview.ts
  jest.config.js
  package.json
  src/renderer/app/App.vue
  src/renderer/app/SplashScreen.vue
  src/renderer/app/components/Alert/Alert.vue
  src/renderer/app/components/Button/Button.vue
  src/renderer/app/components/Form/FormError.vue
  src/renderer/app/components/ListDivided/ListDivided.vue
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/app/components/ListDivided/types.ts
  src/renderer/app/components/Navbar/Navbar.vue
  src/renderer/app/components/SvgIcon/SvgIcon.vue
  src/renderer/app/components/Tabs/Tab.vue
  src/renderer/app/components/Tabs/TabList.vue
  src/renderer/app/components/Tabs/TabPanel.vue
  src/renderer/app/components/Tabs/Tabs.test.ts
  src/renderer/app/components/Tabs/Tabs.vue
  src/renderer/app/components/Tabs/useTab.ts
  src/renderer/app/components/Toggle/Toggle.vue
  src/renderer/app/router/index.ts
  src/renderer/app/store/index.ts
  src/renderer/domain/profile/pages/CreateProfile.vue
  src/renderer/domain/profile/pages/ProfileWelcome.vue
  src/renderer/domain/wallet/components/WalletMnemonicList.vue
  src/renderer/main.js
  src/renderer/registerComponentHooks.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .electron-vue/webpack.renderer.config.js
  src/renderer/app/components/ListDivided/ListDividedItem.vue
  src/renderer/domain/profile/pages/ProfileWelcome.vue
  src/renderer/main.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  src/renderer/support/services/http.ts
  yarn.lock
Due: yarn lint, prettier --write

feat: add `Circle` component (used with icons or as avatar)
  src/renderer/app/components/Circle/Circle.stories.ts
  src/renderer/app/components/Circle/Circle.test.ts
  src/renderer/app/components/Circle/Circle.vue
  src/renderer/app/components/Circle/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

fix: resize default `Circle` size
  src/renderer/app/components/Circle/Circle.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat: add mixin to truncate long strings
  src/renderer/support/mixins/index.ts
  src/renderer/support/mixins/strings.ts
Due: yarn lint, prettier --write

feat: create `WalletCard` component
  src/renderer/app/components/WalletCard/WalletCard.stories.ts
  src/renderer/app/components/WalletCard/WalletCard.test.ts
  src/renderer/app/components/WalletCard/WalletCard.vue
  src/renderer/app/components/WalletCard/__snapshots__/WalletCard.test.ts.snap
  src/renderer/app/components/WalletCard/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

feat: add v-click-outside plugin
  package.json
Due: prettier --write

feat: create `Dropdown` component
  src/renderer/app/components/Dropdown/Dropdown.stories.ts
  src/renderer/app/components/Dropdown/Dropdown.test.ts
  src/renderer/app/components/Dropdown/Dropdown.vue
  src/renderer/app/components/Dropdown/__snapshots__/Dropdown.test.ts.snap
  src/renderer/app/components/Dropdown/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

test: add more tests for `Dropdown` component
  src/renderer/app/components/Dropdown/Dropdown.test.ts
Due: yarn lint, prettier --write

feat: add `WalletCard` filled component
  src/renderer/app/components/WalletCard/WalletCard.stories.ts
  src/renderer/app/components/WalletCard/WalletCard.test.ts
  src/renderer/app/components/WalletCard/WalletCard.vue
  src/renderer/app/components/WalletCard/__snapshots__/WalletCard.test.ts.snap
  src/renderer/app/components/WalletCard/useWalletCard.ts
Due: npm run lint:fix, yarn lint, prettier --write

fix: provide mixins on `Navbar` component
  src/renderer/app/components/Navbar/Navbar.vue
Due: npm run lint:fix, yarn lint, prettier --write

feat(ledger): add schnorr support
  __tests__/unit/services/ledger-service.spec.js
  __tests__/unit/services/transaction.spec.js
  __tests__/unit/store/modules/ledger.spec.js
  src/renderer/services/ledger-service.js
  src/renderer/services/transaction.js
  src/renderer/store/modules/ledger.js
Due: npm run lint:fix, yarn lint, prettier --write

dep(ledger-transport): update version 1.0.5 -> 1.1.0
  package.json
  yarn.lock
Due: prettier --write

fix(test): update ledger-transport mocks
  __tests__/unit/__mocks__/@arkecosystem/ledger-transport.js
Due: npm run lint:fix, yarn lint, prettier --write

feat(deps): add swiper slider
  package.json
Due: prettier --write

feat: add `Slider` component
  src/renderer/app/components/Dropdown/index.ts
  src/renderer/app/components/Slider/Slider.stories.ts
  src/renderer/app/components/Slider/Slider.test.ts
  src/renderer/app/components/Slider/Slider.vue
  src/renderer/app/components/Slider/__snapshots__/Slider.test.ts.snap
  src/renderer/app/components/Slider/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

feat: add `WalletGrid` component
  src/renderer/app/components/WalletGrid/WalletGrid.stories.ts
  src/renderer/app/components/WalletGrid/WalletGrid.test.ts
  src/renderer/app/components/WalletGrid/WalletGrid.vue
  src/renderer/app/components/WalletGrid/__snapshots__/WalletGrid.test.ts.snap
  src/renderer/app/components/WalletGrid/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

test: update snapshots
  src/renderer/app/components/Circle/__snapshots__/Circle.test.ts.snap
  src/renderer/app/components/Navbar/__snapshots__/Navbar.test.ts.snap
  src/renderer/app/components/Tabs/__snapshots__/Tabs.test.ts.snap
Due: none

wip
  .github/stale.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

wip
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: none

wip
  .eslintignore
Due: none

wip
  .github/workflows/test.yml
Due: none

ci: add format and unit test workflow (#2027)
  .eslintignore
  .github/stale.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
  package.json
  yarn.lock
Due: prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
