Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: increase timeout
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

test: move timeout
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

test: update AddressRow.test.tsx and some tweaks
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
Due: none

test: increase timeout in e2e test
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

tests: add sync delegates test util
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/utils/testing-library.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
Due: none

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

tests: fix act warnings and update snapshots
  src/app/App.test.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
Due: none

fix: correct delegate list column alignment
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
Due: none

feat: add `Registrations` link in navbar dropdown
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

refactor: move screenshotprotection to profile middleware (#2724)
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: yarn lint, prettier --write

test(e2e): fix settings page navigation from navbar
  src/domains/setting/e2e/settings-routing.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Due: none

test(unit): add coverage
  src/app/components/NavigationBar/NavigationBar.test.tsx
Due: none

test(e2e): navbar to `MyRegistrations` page navigation
  src/app/i18n/common/i18n.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
Due: yarn lint, prettier --write

tests: update tests, config sync interval by props
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
Due: none

test: refactor wallet e2e tests
  jest.setup.js
  src/domains/wallet/e2e/common.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/utils/e2e-utils.test.ts
  src/utils/e2e-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

refactor: wallet card ui fixes
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

test: upload screenshots of failures
  .github/workflows/test.yml
  .testcaferc.json
Due: prettier --write

feat: make sender not nullable setting delegate as an empty array
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
Due: none

test: increase coverage
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

test: fix e2e
  src/domains/wallet/e2e/wallet-details.e2e.ts
Due: yarn lint, prettier --write

test: add tests to select the address on the voting page
  src/domains/transaction/components/VoteDetail/VoteDetail.test.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/tests/fixtures/coins/ark/wallets/D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD.json
  src/utils/testing-library.tsx
Due: prettier --write

test: fix act warnings
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/__snapshots__/AddressRow.test.tsx.snap
  src/domains/vote/components/AddressTable/AddressTable.test.tsx
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

feat: add `MyRegistrations` delegate list (#2717)
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/i18n/common/i18n.ts
  src/domains/profile/data.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/profile/pages/MyRegistrations/MyRegistrations.stories.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.stories.tsx
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/BlockchainTable.tsx
  src/domains/profile/pages/MyRegistrations/components/BlockchainTable/__snapshots__/BlockchainTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.stories.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/__snapshots__/BusinessTable.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItem.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateRowItemSkeleton.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.stories.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/DelegateTable.tsx
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateRowItem.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/transaction/routing.ts
  src/tests/fixtures/delegates/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb.json
Due: yarn lint, prettier --write

refactor: wallet card ui fixes (#2727)
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

refactor: registration page adjustments (#2725)
  src/app/components/TransactionDetail/TransactionDetail.test.tsx
  src/app/components/TransactionDetail/TransactionDetail.tsx
  src/app/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

fix: scroll to bottom
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test: increase global timeouts
  .testcaferc.json
Due: prettier --write

ci: upload screenshots only on failure
  .github/workflows/test.yml
Due: none

style: resolve style guide violations
  .testcaferc.json
Due: prettier --write

wip
  src/domains/wallet/e2e/wallet-details.e2e.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
