Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

Restore use-fees.ts
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

wip
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/types/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

wip
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
Due: none

wip
  src/domains/transaction/pages/SendVote/FormStep.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/types/index.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: none

test: add awaits to jest resolves/rejects calls (#3840)
  src/app/hooks/use-fees.test.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/wallet/hooks/use-wallet-import.test.tsx
  src/domains/wallet/hooks/use-wallet-sync.test.tsx
Due: yarn lint, prettier --write

fix: focus styles of sender button (#3836)
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: reset profile status when exiting profile domain (#3833)
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: persist profile when skipping introductory tutorial (#3831)
  src/domains/dashboard/hooks/use-tutorial.test.tsx
  src/domains/dashboard/hooks/use-tutorial.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: yarn lint, prettier --write

chore: update Platform SDK dependencies (#3839)
  package.json
  src/app/components/Input/InputAddress.tsx
  src/app/hooks/use-fees.ts
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/Signatures.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/transaction/validations/SendTransfer.ts
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  src/types/index.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: Adjust SDK changes
  src/app/i18n/common/i18n.ts
  src/domains/wallet/hooks/use-import-options.test.ts
  src/domains/wallet/hooks/use-import-options.ts
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

fix: return non-normalized fee without division (#3841)
  src/app/hooks/use-fees.ts
Due: yarn lint, prettier --write

wip
  src/app/components/TruncateMiddleDynamic/TruncateMiddleDynamic.tsx
  src/app/components/TruncateMiddleDynamic/__snapshots__/hooks.test.tsx.snap
  src/app/components/TruncateMiddleDynamic/use-text-truncate.test.tsx
  src/app/components/TruncateMiddleDynamic/use-text-truncate.ts
Due: yarn lint, prettier --write

fix: adjust styles of required fields
  src/app/components/Form/FormLabel.test.tsx
  src/app/components/Form/FormLabel.tsx
  src/app/i18n/common/i18n.ts
  src/domains/profile/components/PasswordModal/PasswordModal.tsx
  src/domains/profile/components/SignIn/SignIn.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/transaction/pages/SendTransfer/FormStep.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/pages/CreateWallet/SuccessStep.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerImportStep.tsx
  src/domains/wallet/pages/ImportWallet/Step3.tsx
Due: yarn lint, prettier --write

wip
  src/app/components/TruncateMiddleDynamic/__snapshots__/use-text-truncate.test.tsx.snap
Due: none

refactor: implement the mnemonic methods
  src/domains/wallet/hooks/use-wallet-import.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: yarn lint, prettier --write

refactor: add switch component
  src/app/components/Switch/Switch.test.tsx
  src/app/components/Switch/Switch.tsx
  src/app/components/Switch/SwitchText.tsx
  src/app/components/Switch/__snapshots__/Switch.test.tsx.snap
  src/app/components/Switch/index.ts
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/TransactionDetail/TransactionAmount/__snapshots__/TransactionAmount.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/__snapshots__/TransactionConfirmations.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionFee/__snapshots__/TransactionFee.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMemo/__snapshots__/TransactionMemo.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionNetwork/__snapshots__/TransactionNetwork.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionTimestamp/__snapshots__/TransactionTimestamp.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
Due: none

update e2e test
  src/domains/wallet/e2e/verify-message-action.e2e.ts
Due: yarn lint, prettier --write

fix: remove required prop
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
Due: none

test: adjust styles of required fields
  src/app/components/Form/__snapshots__/FormLabel.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/plugin/components/PluginManualInstallModal/__snapshots__/PluginManualInstallModal.test.tsx.snap
  src/domains/profile/components/PasswordModal/__snapshots__/PasswordModal.test.tsx.snap
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/NetworkStep/__snapshots__/NetworkStep.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFundsForm.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerConnectionStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerScanStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerTabs.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

test: fix coverage in profile synchronizer
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

fix: remove required prop
  src/domains/wallet/components/EncryptPasswordStep/EncryptPasswordStep.tsx
Due: none

test(e2e): adjust exchange rate mocks
  src/domains/wallet/e2e/common.ts
  src/tests/fixtures/exchange/cryptocompare-eth.json
  src/tests/fixtures/exchange/cryptocompare.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

split options into leftOption and rightOption
  src/app/components/Switch/Switch.test.tsx
  src/app/components/Switch/Switch.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update to v9.0.10
  package.json
  yarn.lock
Due: prettier --write
