Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fixed: covered src/domains/news/ to 100
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/news/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

test: increase `src/domains/news` coverage to 100% (#3381)
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/news/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

fix: parse process.env.REACT_APP_IS_E2E
  src/app/App.tsx
Due: none

fix: parse process.env.REACT_APP_IS_E2E (#3382)
  src/app/App.tsx
Due: none

feat: sentry error reporting
  package.json
  src/app/App.tsx
  src/app/sentry/SentryErrorBoundary.tsx
  src/app/sentry/SentryProvider.tsx
  src/app/sentry/SentryRouterWrapper.test.tsx
  src/app/sentry/SentryRouterWrapper.tsx
  yarn.lock
Due: prettier --write

fix: covered src/domains/profile to 100
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/profile/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/components/FeeWarning/FeeWarning.tsx
  src/domains/transaction/hooks/index.ts
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

wip
  src/domains/transaction/components/FeeWarning/FeeWarning.tsx
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
Due: none

feat: collect wallet info
  src/app/sentry/SentryProvider.tsx
  src/app/sentry/SentryRouterWrapper.tsx
Due: none

test: fix failing
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

feat: collect ledger context
  src/app/sentry/SentryProvider.tsx
  src/app/sentry/SentryRouterWrapper.tsx
Due: none

wip
  src/app/hooks/use-validation.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/tests/fixtures/coins/ark/devnet/node-fees.json
Due: yarn lint, prettier --write

test: get rid of error in TableRow tests
  src/app/components/Table/TableRow.test.tsx
  src/app/components/Table/__snapshots__/TableRow.test.tsx.snap
Due: none

feat: add toggle in settings page
  src/app/sentry/SentryRouterWrapper.test.tsx
  src/app/sentry/SentryRouterWrapper.tsx
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

test: coverage
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: failing build
  src/app/sentry/SentryRouterWrapper.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: clean up and move more logic to confirmation hook
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: yarn lint, prettier --write

refactor: sort plugin table by title
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: set explicit id on date column
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

test: get rid of error in TableRow tests (#3385)
  src/app/components/Table/TableRow.test.tsx
  src/app/components/Table/__snapshots__/TableRow.test.tsx.snap
Due: none

test: increase `src/domains/profile` coverage to 100% (#3384)
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/profile/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

refactor: set explicit id on date column (#3387)
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
Due: none

refactor: sort plugin table by title (#3386)
  src/domains/plugin/components/PluginList/PluginList.test.tsx
  src/domains/plugin/components/PluginList/PluginList.tsx
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: covered src/domains/setting/ to 100%
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/setting/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

test: increase `src/domains/setting` coverage to 100% (#3388)
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/setting/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/sentry/SentryErrorBoundary.tsx
  src/app/sentry/SentryRouterWrapper.test.tsx
Due: none

test: increase coverage
  src/app/sentry/SentryProvider.test.tsx
  src/app/sentry/SentryProvider.tsx
  src/app/sentry/SentryRouterWrapper.test.tsx
Due: none

feat: adjust `HeaderSearchBar` default values and search event
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
Due: none

feat: implement filtering in `SearchBarPluginFilters`
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

feat: use filtering functionality in `PluginManager`
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
Due: none

test: add `PluginManager` coverage
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
Due: none

test: add coverage for `PluginManagerProvider`
  src/plugins/context/PluginManagerProvider.test.tsx
Due: none

chore: update snapshots
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

fix: loop errors in scanner.test.tsx
  src/app/contexts/Ledger/hooks/__snapshots__/scanner.test.tsx.snap
  src/app/contexts/Ledger/hooks/scanner.test.tsx
Due: none

style: resolve style guide violations
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
