Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
Due: none

test: fix failing in notifications
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/Notifications/styles.ts
Due: yarn lint, prettier --write

wip
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
Due: yarn lint, prettier --write

refactor: adjust border radius and text color of sidebar items
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: replace multisig checkbox with toggle in peer form
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

refactor: replace ternary
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/SideBar/SideBarItem/__snapshots__/SideBarItem.test.tsx.snap
  src/app/components/SideBar/__snapshots__/SideBar.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

test: select options with keys and hide dropdown with escape key
  src/app/components/Dropdown/Dropdown.test.tsx
Due: none

chore(deps): update psdk to v6.0.9
  package.json
  yarn.lock
Due: prettier --write

refactor: use profile password manager
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-profile-utils.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/setting/hooks/use-profile-export.ts
Due: yarn lint, prettier --write

test: fix failing
  src/app/App.test.tsx
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-profile-utils.test.tsx
  src/domains/setting/hooks/use-profile-export.test.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

test: adjust styles of select dropdown on focus
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
Due: none

refactor: replace network dropdown in contact form
  src/app/hooks/index.ts
  src/app/hooks/use-network-options.tsx
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: yarn lint, prettier --write

refactor: add empty block to peers table
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: yarn lint, prettier --write

test: fix failing
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: none

refactor: remove complex hook
  src/app/hooks/use-observer.ts
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

test: coverage
  src/app/hooks/use-network-options.test.tsx
  src/app/hooks/use-network-options.ts
Due: yarn lint, prettier --write

test: add specs
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

chore: adjust styles of link component on focus
  src/app/components/Link/Link.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore: adjust styles of navigation link on focus
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

test: adjust styles of elements on focus
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
Due: none

test: adjust styles of elements on focus
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
Due: none

test: adjust styles of elements on focus
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

test: adjust styles of elements on focus
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

test: adjust styles of elements on focus
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

test: fix coverage
  src/app/App.test.tsx
Due: none

refactor: styles of link component
  src/app/components/Link/Link.tsx
Due: none

test: fix coverage for profile synchronizer
  src/app/hooks/use-profile-synchronizer.test.tsx
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

chore: remove todo comments
  src/app/components/NavigationBar/NavigationBar.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/pages/Votes/Votes.tsx
Due: none

refactor: cleanup save profile references
  src/app/hooks/use-profile-synchronizer.ts
  src/app/hooks/use-profile-utils.test.tsx
  src/app/hooks/use-profile-utils.ts
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: yarn lint, prettier --write

chore: fix build errors
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/transaction/hooks/use-fee-confirmation.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: yarn lint, prettier --write

fix: text and icon alignment for long text in Link component
  src/app/components/Link/Link.tsx
Due: none

chore: adjust style of password visibility icon on focus
  src/app/components/Input/InputPassword.tsx
Due: none

test: refactor contact tests
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.tsx
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/i18n.ts
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: yarn lint, prettier --write

refactor: add border
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
Due: none

test: refactor styles of link component
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/news/components/BlockfolioAd/__snapshots__/BlockfolioAd.test.tsx.snap
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginHeader/components/PluginSpecs/__snapshots__/PluginSpecs.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/EntityDetail/__snapshots__/EntityDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/transaction/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

refactor: add border over buttons in contact form
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
