Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: remove container binding when booting test env (#3741)
  src/domains/wallet/e2e/common.ts
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

test: coverage useTutorial hook
  src/domains/dashboard/hooks/use-tutorial.test.tsx
Due: none

fix: focus styles of upload avatar
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

test: fix focus styles of upload avatar
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

chore: focus styles of back button in navigation bar
  src/app/components/NavigationBar/components/BackButton/BackButton.styles.ts
Due: yarn lint, prettier --write

test: focus styles of back button in navigation bar
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/NavigationBar/components/BackButton/__snapshots__/BackButton.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginView/__snapshots__/PluginView.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: handle peer validation inside of form
  src/app/hooks/use-validation.ts
  src/domains/setting/components/CreatePeer/CreatePeer.tsx
  src/domains/setting/components/PeerForm/PeerForm.test.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/UpdatePeer.test.tsx
  src/domains/setting/components/UpdatePeer/UpdatePeer.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/validations/Peer.ts
  src/domains/setting/validations/index.ts
Due: yarn lint, prettier --write

test: coverage
  src/domains/setting/components/PeerForm/PeerForm.test.tsx
Due: none

fix: focus styles of upload avatar (#3742)
  src/app/components/SelectProfileImage/SelectProfileImage.tsx
  src/app/components/SelectProfileImage/__snapshots__/SelectProfileImage.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: properly split japanese mnemonics
  src/domains/wallet/components/MnemonicList/MnemonicList.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

refactor: handle peer validation inside of form (#3744)
  src/app/hooks/use-validation.ts
  src/domains/setting/components/CreatePeer/CreatePeer.tsx
  src/domains/setting/components/PeerForm/PeerForm.test.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/UpdatePeer/UpdatePeer.test.tsx
  src/domains/setting/components/UpdatePeer/UpdatePeer.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/validations/Peer.ts
  src/domains/setting/validations/index.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/tests/fixtures/env/storage.json
Due: prettier --write

style: resolve style guide violations
  src/tests/fixtures/env/storage.json
Due: prettier --write

wip
  src/utils/test-helpers.ts
Due: yarn lint, prettier --write

wip
  src/app/contexts/Ledger/hooks/scanner.ts
Due: yarn lint, prettier --write

Update .testcaferc.json
  .testcaferc.json
Due: prettier --write

wip
  src/app/App.test.tsx
Due: none

wip
  jest.setup.js
  src/app/App.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
Due: none

test: coverage
  src/domains/wallet/components/MnemonicList/MnemonicList.test.tsx
  src/domains/wallet/components/MnemonicList/__snapshots__/MnemonicList.test.tsx.snap
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.test.tsx
Due: none

fix: show full network name in failed connection warning
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: yarn lint, prettier --write

refactor: make network name bold
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: yarn lint, prettier --write

fix: properly split japanese mnemonics (#3745)
  src/domains/wallet/components/MnemonicList/MnemonicList.test.tsx
  src/domains/wallet/components/MnemonicList/MnemonicList.tsx
  src/domains/wallet/components/MnemonicList/__snapshots__/MnemonicList.test.tsx.snap
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.test.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

test: focus styles of back button in navigation bar
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

wip
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
Due: none

wip
  src/domains/vote/components/AddressTable/__snapshots__/AddressTable.test.tsx.snap
Due: none

wip
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
Due: none

wip
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
Due: none

chore: upgrade sdk packages
  package.json
  yarn.lock
Due: prettier --write

fix: upgrade sdk packages
  src/app/contexts/Ledger/hooks/scanner.ts
Due: yarn lint, prettier --write

fix: adjust styles of checkbox labels
  src/app/components/FilterNetwork/FilterNetwork.tsx
  src/domains/setting/components/AdvancedMode/AdvancedMode.tsx
  src/domains/transaction/components/FeeWarning/FeeWarning.tsx
  src/domains/vote/components/VotesFilter/VotesFilter.tsx
Due: none

test: fix adjust styles of checkbox labels
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/setting/components/AdvancedMode/__snapshots__/AdvancedMode.test.tsx.snap
  src/domains/transaction/components/FeeWarning/__snapshots__/FeeWarning.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

refactor: remove peer settings
  src/app/hooks/use-validation.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/components/CreatePeer/CreatePeer.test.tsx
  src/domains/setting/components/CreatePeer/CreatePeer.tsx
  src/domains/setting/components/CreatePeer/__snapshots__/CreatePeer.test.tsx.snap
  src/domains/setting/components/CreatePeer/index.ts
  src/domains/setting/components/DeletePeer/DeletePeer.test.tsx
  src/domains/setting/components/DeletePeer/DeletePeer.tsx
  src/domains/setting/components/DeletePeer/__snapshots__/DeletePeer.test.tsx.snap
  src/domains/setting/components/DeletePeer/index.ts
  src/domains/setting/components/PeerForm/PeerForm.test.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerForm/__snapshots__/PeerForm.test.tsx.snap
  src/domains/setting/components/PeerForm/index.ts
  src/domains/setting/components/PeerListItem/PeerListItem.test.tsx
  src/domains/setting/components/PeerListItem/PeerListItem.tsx
  src/domains/setting/components/PeerListItem/__snapshots__/PeerListItem.test.tsx.snap
  src/domains/setting/components/PeerListItem/index.ts
  src/domains/setting/components/UpdatePeer/UpdatePeer.test.tsx
  src/domains/setting/components/UpdatePeer/UpdatePeer.tsx
  src/domains/setting/components/UpdatePeer/__snapshots__/UpdatePeer.test.tsx.snap
  src/domains/setting/components/UpdatePeer/index.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/index.ts
  src/domains/setting/validations/Peer.ts
  src/domains/setting/validations/index.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/setting/pages/Settings/Settings.test.tsx
Due: none
