Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  package.json
  yarn.lock
Due: prettier --write

feat: implement clipboard button (#3790)
  src/app/components/Clipboard/Clipboard.test.tsx
  src/app/components/Clipboard/Clipboard.tsx
  src/app/components/Clipboard/ClipboardButton.test.tsx
  src/app/components/Clipboard/ClipboardButton.tsx
  src/app/components/Clipboard/ClipboardIcon.test.tsx
  src/app/components/Clipboard/ClipboardIcon.tsx
  src/app/components/Clipboard/__snapshots__/Clipboard.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/BackupStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
Due: none

feat: focus styles of send all button (#3799)
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: show correct layout as active on first render (#3802)
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
Due: none

feat: focus styles of fee buttons (#3800)
  src/app/components/ButtonGroup/ButtonGroup.tsx
  src/app/components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

wip
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureRegistrationDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/Signatures.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/validations/Authentication.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/validations/Authentication.ts
Due: yarn lint, prettier --write

fix: handle broadcast rejections in transaction forms
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

chore: nitpicks and typing precisions
  src/app/App.tsx
  src/app/components/Address/Address.tsx
  src/app/hooks/click-outside.ts
  src/app/hooks/env.ts
  src/app/hooks/use-scroll.tsx
  src/app/hooks/use-text-truncate.tsx
  src/app/hooks/use-updater.ts
Due: yarn lint, prettier --write

fix: not receiving a notification when receiving new transactions
  src/app/hooks/use-notifications.ts
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  package.json
Due: prettier --write

fix: revert lazy initial state
  src/app/App.tsx
Due: none

wip: pass non-satoshi fee value to psdk
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/InputFee/hooks.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
Due: none

refactor
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/app/components/Range/Range.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-currency-display.test.tsx
  src/app/hooks/use-currency-display.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/hooks.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
Due: yarn lint, prettier --write

fix tests coverage and update snapshots
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix InputRange onChange handlers
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Input/InputRange.tsx
Due: none

cleanup InputRange
  src/app/components/Input/InputRange.tsx
Due: none

remove test .only leftover
  src/app/components/Input/InputRange.test.tsx
Due: none

fix InputCurrency test
  src/app/components/Input/InputCurrency.test.tsx
Due: none

cleanup InputCurrency
  src/app/components/Input/InputCurrency.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

fix InputFee input/output
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.test.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

test: fix broadcast responses
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
Due: none

feat: create utility fn to handle broadcast errors
  src/domains/transaction/utils.test.ts
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

refactor: use `handleBroadCastError` utility fn for broadcast errors in all transactions
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/utils.test.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
Due: yarn lint, prettier --write

update AddRecipient
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/InputAmount/InputAmount.tsx
  src/domains/transaction/components/InputAmount/index.ts
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

remove log leftover
  src/domains/transaction/pages/SendTransfer/ReviewStep.tsx
Due: none

fix coverage
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
Due: none

chore: comments and nitpicks (#3807)
  src/app/App.tsx
  src/app/components/Address/Address.tsx
  src/app/hooks/click-outside.ts
  src/app/hooks/env.ts
  src/app/hooks/use-scroll.tsx
  src/app/hooks/use-text-truncate.tsx
  src/app/hooks/use-updater.ts
Due: yarn lint, prettier --write

remove unused file
  src/app/hooks/use-currency-display.ts
Due: yarn lint, prettier --write

remove unused hook file
  src/domains/transaction/components/InputFee/hooks.tsx
Due: none

test: fix not receiving a notification when receiving new transactions
  src/app/hooks/use-notifications.test.tsx
Due: none
