Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

wip
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
Due: yarn lint, prettier --write

wip
  .eslintrc.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/e2e/transactions-routing.e2e.ts
Due: yarn lint, prettier --write

wip
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

feat: create `useProfileRestore` hook
  src/app/hooks/use-synchronizer.tsx
Due: none

refactor: migrate profiles synchronously
  src/app/App.tsx
  src/utils/migrate-fixtures.ts
Due: yarn lint, prettier --write

feat: share profile syncing state in dashboard components
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: resolve style guide violations
  src/app/hooks/use-synchronizer.tsx
  src/utils/migrate-fixtures.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/Signatures.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
Due: none

chore: fix build errors
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/hooks/use-synchronizer.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
Due: none

wip
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/profile/components/SignIn/__snapshots__/SignIn.test.tsx.snap
Due: none

wip
  src/domains/profile/components/SignIn/SignIn.test.tsx
Due: none

test: fix errors
  jest.setup.js
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: npm run lint:fix, yarn lint, prettier --write

test: adjust migration test
  src/tests/fixtures/env/storage.json
  src/utils/migrate-fixtures.test.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
Due: none

style: resolve style guide violations
  src/utils/migrate-fixtures.test.ts
Due: yarn lint, prettier --write

feat: add validate pattern method (#3169)
  src/app/hooks/index.ts
  src/app/hooks/use-validation.test.tsx
  src/app/hooks/use-validation.ts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/validations/DelegateRegistration.ts
  src/domains/transaction/validations/index.ts
  src/utils/validations/index.ts
  src/utils/validations/validate-pattern.ts
Due: yarn lint, prettier --write

wip
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/tests/fixtures/coins/ark/devnet/transactions/business-registration.json
  src/tests/fixtures/coins/ark/devnet/transactions/business-registrations.json
  src/tests/fixtures/coins/ark/devnet/wallets/DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/tests/fixtures/coins/ark/devnet/wallets/DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS.json
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.stories.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.stories.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletVote/WalletVote.tsx
Due: none

wip
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

wip
  src/domains/profile/components/SignIn/SignIn.test.tsx
  src/domains/wallet/pages/ImportWallet/Ledger/LedgerTabs.test.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.test.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.stories.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore(deps): update psdk to 2.3.0
  package.json
  src/utils/migrate-fixtures.ts
  yarn.lock
Due: yarn lint, prettier --write

refactor: sync transactions loading state with profile syncing state
  src/app/hooks/use-synchronizer.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
Due: none

refactor: run env syncAll on background
  src/app/App.tsx
Due: none
