Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/plugins/components/PluginRouterWrapper.tsx
Due: none

Update SendVote.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

wip
  .eslintrc.js
  src/app/components/Clipboard/Clipboard.tsx
  src/app/components/Form/Form.tsx
  src/app/hooks/use-clipboard.ts
  src/app/services/HttpClient.ts
  src/domains/news/components/NewsOptions/NewsOptions.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/Transactions/Transactions.tsx
  src/domains/transaction/utils.ts
  src/plugins/services/theme/withThemeDecorator.tsx
  src/plugins/services/timers/TimersPluginService.ts
  src/plugins/types.ts
  src/router/index.tsx
  src/tests/mocks/StubStorage/StubStorage.ts
  src/utils/debounce.ts
  src/utils/e2e-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/news/components/NewsOptions/NewsOptions.tsx
Due: none

wip
  src/domains/transaction/components/Transactions/Transactions.tsx
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  package.json
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  yarn.lock
Due: prettier --write

style: resolve style guide violations
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/hooks/use-profile-transactions.ts
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/plugins/services/message/use-sign-message-modal.tsx
Due: yarn lint, prettier --write

wip
  .eslintrc.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.test.tsx
Due: none

wip
  .eslintrc.js
  src/app/components/Label/Label.test.tsx
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.test.tsx
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .eslintrc.js
  src/app/hooks/use-automatic-signout.test.ts
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/plugins/services/launch/LaunchPluginService.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/hooks/use-profile-import.test.tsx
Due: none

test: fix conflicts
  src/app/hooks/use-notifications.test.tsx
Due: none

test: update snapshots
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

wip
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
Due: yarn lint, prettier --write

wip
  src/app/hooks/use-automatic-signout.test.ts
Due: yarn lint, prettier --write

chore: configure `eslint-plugin-jest` (#3873)
  .eslintrc.js
  package.json
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Label/Label.test.tsx
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.test.tsx
  src/app/hooks/use-automatic-signout.test.ts
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/transaction/components/TransactionDetail/TransactionAmount/TransactionAmount.test.tsx
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/plugins/services/launch/LaunchPluginService.test.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write

wip
  package.json
Due: prettier --write

wip
  tsconfig.json
Due: prettier --write

fix: persist env when changing dashboard filters
  src/domains/dashboard/hooks/use-wallet-config.ts
Due: yarn lint, prettier --write

feat: set profile configuration settings on profile restore
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  package.json
Due: prettier --write

wip
  .eslintrc.js
  package.json
Due: npm run lint:fix, yarn lint, prettier --write

fix: sync and restore profile dashboard settings (#3874)
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/dashboard/hooks/use-wallet-config.ts
Due: yarn lint, prettier --write

wip
  src/app/components/NavigationBar/NavigationBar.contract.ts
  src/app/components/NavigationBar/NavigationBar.styles.ts
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/components/UserInfo/UserInfo.tsx
  src/app/components/NavigationBar/components/UserInfo/index.ts
Due: yarn lint, prettier --write

wip
  src/app/components/NavigationBar/NavigationBar.helpers.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

wip
  src/app/components/NavigationBar/NavigationBar.blocks.tsx
  src/app/components/NavigationBar/NavigationBar.helpers.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

wip
  src/app/components/NavigationBar/components/UserInfo/UserInfo.tsx
Due: none

refactor: serialize qr code uri through sdk
  src/domains/wallet/components/ReceiveFunds/hooks.ts
Due: yarn lint, prettier --write

chore: update eslintrc rules
  .eslintrc.js
Due: npm run lint:fix, yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
