Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: fix notification e2e tests
  src/domains/profile/e2e/notifications.e2e.ts
Due: yarn lint, prettier --write

test: fix votes e2e tests
  src/domains/transaction/e2e/vote-transaction.e2e.ts
Due: yarn lint, prettier --write

test: fix update entity e2e tests
  src/domains/transaction/e2e/entity-update.e2e.ts
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/tests/fixtures/registrations/businesses.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

fix: adjust overlapping with network filters dropdown
  src/app/components/Slider/Slider.tsx
Due: none

chore: update snapshots
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
Due: none

wip
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.stories.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

fix: adjust texts in error step
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

fix: prevent error step collision in registration forms
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: none

style: resolve style guide violations
  src/app/components/Dropdown/Dropdown.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

wip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

chore: navigate to the dashboard route after import
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: none

wip
  src/app/components/Dropdown/Dropdown.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

wip
  src/domains/transaction/pages/SendEntityRegistration/RegistrationTypeStep.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: none

refactor: handle signature and broadcast exceptions in transaction forms (#3095)
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.test.tsx
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.test.tsx
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.stories.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.test.tsx
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/components/ErrorStep/__snapshots__/ErrorStep.test.tsx.snap
  src/domains/transaction/components/ErrorStep/index.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.tsx
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/transaction/utils.ts
Due: yarn lint, prettier --write

fix: make slider dots clickable (#3096)
  src/app/components/Slider/Slider.tsx
  src/app/components/Slider/__snapshots__/Slider.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/plugin/components/PluginInfo/__snapshots__/PluginInfo.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

refactor: add styles for dark shadows (#3100)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Card/__snapshots__/Card.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/styles/variables.css
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
Due: none

refactor: split `FilterNetwork` components
  src/app/components/FilterNetwork/NetworkOptions.tsx
  src/app/components/FilterNetwork/ToggleAllOption.tsx
  src/app/components/FilterNetwork/index.ts
  src/app/components/FilterNetwork/models.ts
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

refactor: implement toggle-all, split up live and testnet lists
  src/app/components/FilterNetwork/FilterNetwork.tsx
Due: none

refactor: pass `useTestNetworks` info in `FilterWallets`
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

feat: add tabs filter to transactions table
  src/app/components/Tabs/Tabs.tsx
  src/domains/dashboard/components/Transactions/Transactions.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/transaction/i18n.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: yarn lint, prettier --write

wip
  src/app/components/FilterNetwork/FilterNetwork.tsx
Due: none

feat: render peers in the table
  src/domains/setting/components/AddPeer/AddPeer.tsx
  src/domains/setting/components/PeerForm/PeerForm.tsx
  src/domains/setting/components/PeerListItem/PeerListItem.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
Due: none
