Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: add margin to transaction details component
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionAmount/__snapshots__/TransactionAmount.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/__snapshots__/TransactionConfirmations.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionDetail.styles.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionFee/__snapshots__/TransactionFee.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMemo/__snapshots__/TransactionMemo.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionNetwork/__snapshots__/TransactionNetwork.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionSender/__snapshots__/TransactionSender.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionTimestamp/__snapshots__/TransactionTimestamp.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionVotes/__snapshots__/TransactionVotes.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

fix: show contact name instead of contact address name
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/hooks/use-wallet-alias.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
Due: none

feat: focus styles of send all button
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

feat: focus styles of fee buttons
  src/app/components/ButtonGroup/ButtonGroup.tsx
Due: none

refactor: add margin to transaction details component (#3797)
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/DelegateResignationDetail/__snapshots__/DelegateResignationDetail.test.tsx.snap
  src/domains/transaction/components/IpfsDetail/__snapshots__/IpfsDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureDetail/__snapshots__/SecondSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionAmount/__snapshots__/TransactionAmount.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionConfirmations/__snapshots__/TransactionConfirmations.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionDetail.styles.ts
  src/domains/transaction/components/TransactionDetail/TransactionDetail.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/__snapshots__/TransactionExplorerLink.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionFee/__snapshots__/TransactionFee.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionMemo/__snapshots__/TransactionMemo.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionNetwork/__snapshots__/TransactionNetwork.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionSender/__snapshots__/TransactionSender.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionTimestamp/__snapshots__/TransactionTimestamp.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionVotes/__snapshots__/TransactionVotes.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/__snapshots__/TransactionDetail.test.tsx.snap
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/LedgerReview.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/SuccessStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/Ledger/__snapshots__/LedgerImportStep.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

fix: star button tooltip (#3794)
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

feat: enhance password validation (#3796)
  custom.d.ts
  package.json
  src/app/i18n/common/i18n.ts
  src/app/validations/password.test.tsx
  src/app/validations/password.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/hooks/use-profile-import.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/ImportProfile.test.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.test.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.test.tsx
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/EncryptionPasswordStep.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/tests/fixtures/profile/import/password-protected-profile.dwe
  yarn.lock
Due: yarn lint, prettier --write

fix: show contact name instead of contact address name (#3798)
  src/app/hooks/use-wallet-alias.test.tsx
  src/app/hooks/use-wallet-alias.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
Due: none

chore: fix build errors
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

wip
  src/app/hooks/use-network-options.test.tsx
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

wip
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
  src/domains/contact/components/CreateContact/CreateContact.test.tsx
  src/domains/contact/components/UpdateContact/UpdateContact.test.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
Due: none

wip
  src/domains/contact/components/ContactForm/ContactForm.test.tsx
Due: none

chore: update psdk to v8.1.20
  package.json
  yarn.lock
Due: prettier --write

test: focus styles of fee buttons
  src/app/components/ButtonGroup/__snapshots__/ButtonGroup.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

test: update profile fixtures
  src/tests/fixtures/env/storage.json
Due: prettier --write

test: focus styles of send all button
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: update psdk to v8.1.21
  package.json
  yarn.lock
Due: prettier --write

test: fix failing in wallet domain
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFundsForm.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
Due: none

chore: update profile import fixture
  src/tests/fixtures/profile/import/password-protected-profile.dwe
Due: none

wip
  src/domains/wallet/components/SignMessage/SignMessage.test.tsx
Due: none

fix: Button import that breaks the order
  src/app/components/Clipboard/ClipboardButton.tsx
Due: none

test: implement clipboard button
  src/app/components/Clipboard/__snapshots__/Clipboard.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/WalletOverviewStep.test.tsx.snap
Due: none

fix: show correct layout as active on first render
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
Due: none

wip
  src/app/components/Input/Input.tsx
Due: none

test: increase coverage in `WalletHeader`
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.test.tsx
Due: none

wip
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/network/data.ts
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

chore: disable non-launch coins (#3804)
  src/app/components/FilterNetwork/__snapshots__/FilterNetwork.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/network/data.ts
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/news/components/NewsOptions/__snapshots__/NewsOptions.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
Due: yarn lint, prettier --write

test: adjust tests in `SendTransfer`
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: none

refactor: handle signing for multisignature and ledger wallets
  src/domains/transaction/hooks/use-transaction-builder.ts
Due: yarn lint, prettier --write

test: fix failing in `SendIpfs`
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
Due: none

refactor: move signing methods into dedicated `useWalletSignatory` hook
  src/domains/transaction/hooks/index.ts
  src/domains/transaction/hooks/use-transaction-builder.ts
  src/domains/transaction/hooks/use-wallet-signatory.ts
Due: yarn lint, prettier --write

refactor: use wallet signatory hook transaction forms
  src/domains/transaction/pages/SendDelegateResignation/SendDelegateResignation.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

fix: update dynamic fee checks
  src/domains/transaction/components/DelegateRegistrationForm/FormStep.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/FormStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/GenerationStep.tsx
  src/domains/transaction/pages/SendDelegateResignation/FormStep.tsx
  src/domains/transaction/pages/SendVote/FormStep.tsx
Due: none

test: fix failing in transaction domain
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
Due: none

test: fix failing in transaction builder
  src/domains/transaction/hooks/use-transaction-builder-ledger.test.tsx
  src/domains/transaction/hooks/use-transaction-builder.test.tsx
Due: none

test: cover wallet signatory hook
  src/domains/transaction/hooks/use-wallet-signatory.test.ts
Due: yarn lint, prettier --write

refactor: use signatory in registrations
  src/domains/transaction/components/DelegateRegistrationForm/DelegateRegistrationForm.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.tsx
  src/domains/transaction/pages/SendRegistration/SendRegistration.models.ts
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: yarn lint, prettier --write
