Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

fix: save dashboard settings (#3009)
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
Due: none

deps: update Platform SDK dependencies
  package.json
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.test.tsx
  yarn.lock
Due: prettier --write

fix: plugin entity type in e2e mocks
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test: increase timeouts on dashboard tests
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: none

deps: update Platform SDK dependencies (#3013)
  package.json
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletRegistrations/WalletRegistrations.test.tsx
  src/utils/e2e-utils.ts
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

refactor: use table components in link collection (#3008)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/RadioButton/RadioButton.styles.ts
  src/app/components/RadioButton/__snapshots__/RadioButton.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/__snapshots__/EntityRegistrationForm.test.tsx.snap
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: yarn lint, prettier --write

feat: add LegacyMagistrateDetail component (#3011)
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.test.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/LegacyMagistrateDetail.tsx
  src/domains/transaction/components/LegacyMagistrateDetail/__snapshots__/LegacyMagistrateDetail.test.tsx.snap
  src/domains/transaction/components/LegacyMagistrateDetail/index.ts
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.test.tsx
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionDetailModal/__snapshots__/TransactionDetailModal.test.tsx.snap
Due: yarn lint, prettier --write

feat: create `useFeeFormat` hook
  src/domains/transaction/components/InputFee/hooks.tsx
Due: none

refactor: use fee formatting hook in `InputFee`
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

feat: add `useCurrencyDisplay` hook
  src/app/hooks/index.ts
  src/app/hooks/use-curreny-display.ts
Due: yarn lint, prettier --write

feat: use currency display hook in `InputRange`
  src/app/components/Input/InputRange.tsx
Due: none

fix: show module icon for module entity transactions (#3010)
  src/app/assets/svg/multipayment.svg
  src/domains/transaction/components/TransactionDetailModal/TransactionDetailModal.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientIcon.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.tsx
Due: none

refactor: reduce width of icon column
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/InputFee/InputFee.test.tsx
Due: none

chore: update snapshots
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
Due: none

refactor: reorganize provider icons
  src/app/assets/svg/bitbucket.svg
  src/app/assets/svg/discord.svg
  src/app/assets/svg/facebook.svg
  src/app/assets/svg/github.svg
  src/app/assets/svg/gitlab.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/instagram.svg
  src/app/assets/svg/linkedin.svg
  src/app/assets/svg/medium.svg
  src/app/assets/svg/npm.svg
  src/app/assets/svg/providers/bitbucket.svg
  src/app/assets/svg/providers/discord.svg
  src/app/assets/svg/providers/facebook.svg
  src/app/assets/svg/providers/flickr.svg
  src/app/assets/svg/providers/github.svg
  src/app/assets/svg/providers/gitlab.svg
  src/app/assets/svg/providers/imgur.svg
  src/app/assets/svg/providers/index.ts
  src/app/assets/svg/providers/instagram.svg
  src/app/assets/svg/providers/linkedin.svg
  src/app/assets/svg/providers/medium.svg
  src/app/assets/svg/providers/npm.svg
  src/app/assets/svg/providers/reddit.svg
  src/app/assets/svg/providers/slack.svg
  src/app/assets/svg/providers/telegram.svg
  src/app/assets/svg/providers/twitter.svg
  src/app/assets/svg/providers/vimeo.svg
  src/app/assets/svg/providers/wechat.svg
  src/app/assets/svg/providers/youtube.svg
  src/app/assets/svg/reddit.svg
  src/app/assets/svg/slack.svg
  src/app/assets/svg/twitter.svg
Due: yarn lint, prettier --write

chore: optimize 1 SVG(s)
  src/app/assets/svg/providers/wechat.svg
Due: none

chore: fix deps in `InputRange`
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

test: add coverage for `useCurrencyDisplay` hook
  src/app/hooks/index.ts
  src/app/hooks/use-currency-display.test.tsx
  src/app/hooks/use-currency-display.ts
Due: yarn lint, prettier --write

fix: adjust slider min value
  src/app/components/Input/InputRange.tsx
Due: none

refactor: header cell widths
  src/app/components/Table/Table.test.tsx
  src/app/components/Table/Table.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionTable.tsx
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: add mnemonic validator to match the sender address (#3007)
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.test.tsx
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/SendEntityResignation.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/SendEntityUpdate.test.tsx
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/transaction/validations/Authentication.ts
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

refactor: confirm pending multisignature transactions (#3004)
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.test.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRowRecipientLabel.test.tsx
  src/domains/transaction/i18n.ts
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
Due: none

feat: add fee validation hook
  src/app/hooks/validations.ts
  src/domains/transaction/i18n.ts
  src/domains/transaction/validations/Common.ts
  src/domains/transaction/validations/index.ts
Due: yarn lint, prettier --write

chore: snapshots
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/__snapshots__/SignedTransactionTable.test.tsx.snap
Due: none

refactor: multipayment should be available only for supported networks
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/Step1.tsx
Due: yarn lint, prettier --write

test: add test to render without the single & multiple tabs
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
Due: none

refactor: multipayment should be available only for supported networks (#3017)
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/Step1.tsx
Due: yarn lint, prettier --write

feat: validate fee in `SendTransfer`
  src/app/components/Input/InputRange.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/validations/Common.ts
Due: yarn lint, prettier --write

chore: hide wallet dropdown actions
  src/app/components/WalletCard/WalletCard.tsx
Due: none

chore: hide wallet dropdown actions
  src/domains/dashboard/components/Wallets/Wallets.tsx
Due: none

tests: add render actions case
  src/app/components/WalletCard/WalletCard.test.tsx
  src/app/components/WalletCard/__snapshots__/WalletCard.test.tsx.snap
Due: none

chore: adjust commented code
  src/app/components/WalletCard/WalletCard.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

refactor: update filter wallets dropdown
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
Due: none

chore: update labels
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
Due: none

chore: add function to display wallets
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none
