Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

fix: do not re-evaluate mnemonic verification options (#3338)
  src/domains/wallet/components/MnemonicVerification/MnemonicVerificationOptions.tsx
Due: none

fix: cover AddBlackListPlugin 100%
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.test.tsx
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/data.ts
Due: yarn lint, prettier --write

test: fix coverage
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
Due: none

test: fix act errors on ledger wallet import tests
  src/app/contexts/Ledger/hooks/connection.test.tsx
Due: none

chore: updated test-workflow for domains/plugin to 100
  scripts/generate-test-workflow.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/contexts/Ledger/hooks/connection.test.tsx
Due: none

test: add dedicated test for `WalletListItemSkeleton`
  src/app/components/WalletListItem/WalletListItemSkeleton.test.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
Due: none

chore: minor change to trigger ci
  src/app/components/WalletListItem/WalletListItemSkeleton.test.tsx
Due: none

wip
  .github/workflows/test.yml
Due: none

fix: cover src/app/components/Label to 100%
  src/app/components/Label/Label.test.tsx
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
Due: none

fix: added test for src/domains/plugin/router
  src/domains/plugin/__snapshots__/routing.test.tsx.snap
  src/domains/plugin/routing.test.tsx
Due: none

test: 100% coverage for `src/domain/plugin` (#3341)
  .github/workflows/test.yml
  scripts/generate-test-workflow.js
  src/domains/plugin/__snapshots__/routing.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.test.tsx
  src/domains/plugin/components/AddBlacklistPlugin/AddBlacklistPlugin.tsx
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/data.ts
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginView/PluginView.test.tsx
  src/domains/plugin/routing.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

feat: allow free input text in `SelectDropdown`
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/SelectDropdownInput.tsx
Due: none

feat: use `SelectDropdown` with input autocomplete in `SelectRecipient`
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
Due: none

test: add coverage for `SelectDropdown`
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
Due: none

fix: cover src/app/components/Pagintation to 100%
  src/app/components/Pagination/Pagination.test.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
Due: none

refactor: improve deeplink verifications
  src/app/hooks/use-deeplink.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/validations/SendTransfer.ts
Due: yarn lint, prettier --write

fix: cover src/app/components/Dropdown.styles.ts to 100%
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Due: none

refactor: install modal in the details page
  src/domains/plugin/components/InstallPlugin/InstallPlugin.tsx
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
Due: none

fix: filter transaction recipients by selected network (#3334)
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/SearchRecipient/SearchRecipient.test.tsx
  src/domains/transaction/components/SearchRecipient/SearchRecipient.tsx
  src/domains/transaction/components/SearchRecipient/__snapshots__/SearchRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
Due: yarn lint, prettier --write

test: fix act errors on ledger wallet import tests (#3342)
  src/app/contexts/Ledger/hooks/connection.test.tsx
Due: none

wip
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
Due: none

feat: add loading state for wallet list items (#3337)
  src/app/components/WalletListItem/WalletListItemSkeleton.test.tsx
  src/app/components/WalletListItem/WalletListItemSkeleton.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItemSkeleton.test.tsx.snap
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/components/Wallets/WalletsList.test.tsx
  src/domains/dashboard/components/Wallets/WalletsList.tsx
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/WalletsList.test.tsx.snap
  src/domains/dashboard/components/Wallets/models.ts
Due: yarn lint, prettier --write

wip
  src/domains/network/data.ts
Due: yarn lint, prettier --write

chore: enable `@arkecosystem/platform-sdk-eth` (#3345)
  src/domains/network/data.ts
Due: yarn lint, prettier --write

chore: update `SelectDropdown` snapshots
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
Due: none

chore: update `CreateProfile` snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

fix: cover src/app/components/Dropdown 100%
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Due: none

fix: cover src/app/components/Tooltip 100%
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/app/components/Tooltip/Tooltip.test.tsx
  src/app/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
Due: none

fix: cover src/app/components/Toggle 100%
  src/app/components/Toggle/Toggle.test.tsx
  src/app/components/Toggle/__snapshots__/Toggle.test.tsx.snap
Due: none

fix: cover src/components/Page 100%
  src/app/components/Layout/components/Page/Page.test.tsx
  src/app/components/Layout/components/Page/__snapshots__/Page.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

test: fix failing
  src/domains/plugin/pages/PluginDetails/PluginDetails.test.tsx
Due: none

fix: cover src/app/components/Amount 100%
  src/app/components/Amount/Amount.test.tsx
Due: none

fix: covered src/app/components/Button 100%
  src/app/components/Button/Button.test.tsx
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

refactor: merge input & dropdown selection events
  src/app/components/SelectDropdown/SelectDropdown.tsx
Due: none

test: adjust `SelectDropdown` tests
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
Due: none

fix: use custom registration of `AddRecipient` form field
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
Due: none

fix: adjust recipient validations
  src/domains/transaction/validations/SendTransfer.ts
Due: yarn lint, prettier --write

feat: provide all available addressses through `useProfileAddresses` hook
  src/domains/profile/hooks/use-profile-addresses.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
