Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: accept custom jsx in `TransactionDetail` label prop
  src/app/components/TransactionDetail/TransactionDetail.tsx
Due: none

refactor: style adjustments of `FilterWallets` component (#2398)
  src/app/components/Toggle/Toggle.tsx
  src/app/components/Toggle/__snapshots__/Toggle.test.tsx.snap
  src/domains/dashboard/components/FilterWallets/FilterWallets.test.tsx
  src/domains/dashboard/components/FilterWallets/FilterWallets.tsx
  src/domains/dashboard/components/FilterWallets/__snapshots__/FilterWallets.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

refactor: ui adjustments on `SendVoteTransaction` detail items
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.tsx
Due: none

chore: add snapshots
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
Due: none

fix: hooks exhaustive deps
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/app/components/Tabs/Tabs.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
Due: none

fix: unused vars
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/plugin/components/Comments/Comments.tsx
  src/domains/plugin/components/PluginCard/PluginCard.tsx
Due: none

fix: jsx a11y
  src/domains/exchange/components/ExchangeCard/ExchangeCard.tsx
  src/domains/help/pages/Article/Article.tsx
  src/domains/plugin/components/PluginHeader/PluginHeader.tsx
  src/domains/plugin/components/PluginListItem/PluginListItem.tsx
Due: none

refactor: send vote tx ui adjustments (#2401)
  src/app/components/TransactionDetail/TransactionDetail.tsx
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
Due: none

fix: use last/avg fee on tx type change
  src/renderer/components/Input/InputFee.vue
Due: npm run lint:fix, yarn lint, prettier --write

fix: adjust route rendering
  src/router/RouterView.tsx
Due: none

feat: add exit action, temp redirects to /
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

feat: remove navbar again from specfiic routes
  src/app/__snapshots__/App.test.tsx.snap
  src/app/__snapshots__/index.test.tsx.snap
  src/app/components/Layout/Layout.tsx
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
Due: none

tests: update snapshot
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

feat: add extra slot in `HeaderSearchBar`
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
Due: none

test: add coverage
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
Due: none

chore: add snapshots
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

test: fix failing
  __tests__/unit/components/Transaction/TransactionForm/TransactionFormTransfer.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

fix: update hooks deps
  src/app/components/Tabs/Tabs.tsx
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
Due: none

chore: update snapshots
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/plugin/components/PluginHeader/__snapshots__/PluginHeader.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
Due: none

refactor: transfer multipayment ux (#2392)
  __tests__/unit/components/Transaction/TransactionForm/TransactionFormTransfer.spec.js
  src/renderer/components/Input/InputFee.vue
  src/renderer/components/Input/InputToggle/InputToggleChoice.vue
  src/renderer/components/Transaction/TransactionForm/TransactionFormTransfer.vue
  src/renderer/i18n/locales/en-US.js
  src/renderer/styles/_theme.css
  tailwind.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: add extra slot in `HeaderSearchBar` (#2402)
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.test.tsx
  src/app/components/Header/HeaderSearchBar/HeaderSearchBar.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

chore: remove `<style>` element from svgs
  .svgo.yml
  src/app/assets/images/confirmed-banner.svg
  src/app/assets/images/delete-banner.svg
  src/app/assets/images/mistake-banner.svg
  src/app/assets/svg/currencies/eth.svg
  src/app/assets/svg/file-password.svg
  src/app/assets/svg/placeholder.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/plugins.svg
  src/app/assets/svg/portfolio-tag.svg
  src/app/assets/svg/portfolio.svg
  src/app/components/Badge/Badge.stories.tsx
  src/domains/contact/images/contacts-banner.svg
  src/domains/offline/images/cannot-connect-banner.svg
  src/domains/profile/images/profile-created-banner.svg
  src/domains/transaction/images/confirm-transaction-ledger-banner.svg
  src/domains/transaction/images/transaction_successful.svg
  src/domains/vote/images/placeholder-votes.svg
  src/domains/wallet/images/name-wallet.svg
  src/domains/wallet/images/waiting-ledger.svg
  src/domains/wallet/images/wallet-update-ready.svg
  src/domains/wallet/images/wallet-update.svg
Due: none

style: resolve style guide violations
  src/app/components/Badge/Badge.stories.tsx
Due: none

test: increase coverage
  src/app/components/Layout/Layout.test.tsx
  src/app/components/Layout/Layout.tsx
  src/app/components/Layout/__snapshots__/Layout.test.tsx.snap
  src/app/components/NavigationBar/NavigationBar.test.tsx
Due: none

feat: create `SearchBarPluginFilters`
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.stories.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/index.ts
Due: yarn lint, prettier --write

chore: ui fixes
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
Due: none

test: add coverage
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.test.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
Due: none

tests: fix e2e run, adjust asserts
  cypress/integration/startup.spec.js
  package.json
  src/app/App.test.tsx
Due: npm run lint:fix, yarn lint, prettier --write

fix: routing
  src/domains/profile/routing.ts
  src/router/RouterView.tsx
  src/router/index.tsx
Due: yarn lint, prettier --write

refactor: add i18n to contacts domain
  src/app/i18n/common/i18n.ts
  src/domains/contact/components/SearchContact/SearchContact.tsx
  src/domains/contact/components/SearchContact/__snapshots__/SearchContact.test.tsx.snap
  src/domains/contact/i18n.ts
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: yarn lint, prettier --write

chore: fix `index.ts`
  src/app/components/SearchBar/SearchBarPluginFilters/index.ts
Due: yarn lint, prettier --write

chore: multipayment notice min. recipients
  src/renderer/components/Transaction/TransactionRecipientList.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

style: resolve style guide violations
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.test.tsx
Due: none

style: resolve style guide violations
  src/app/components/SearchBar/SearchBarPluginFilters/SearchBarPluginFilters.tsx
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
Due: none

fix: e2e script invokation
  package.json
Due: prettier --write

chore: remove `<style>` element from svgs (#2403)
  .svgo.yml
  src/app/assets/images/confirmed-banner.svg
  src/app/assets/images/delete-banner.svg
  src/app/assets/images/mistake-banner.svg
  src/app/assets/svg/currencies/eth.svg
  src/app/assets/svg/file-password.svg
  src/app/assets/svg/placeholder.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/plugins.svg
  src/app/assets/svg/portfolio-tag.svg
  src/app/assets/svg/portfolio.svg
  src/app/components/Badge/Badge.stories.tsx
  src/domains/contact/images/contacts-banner.svg
  src/domains/offline/images/cannot-connect-banner.svg
  src/domains/profile/images/profile-created-banner.svg
  src/domains/transaction/images/confirm-transaction-ledger-banner.svg
  src/domains/transaction/images/transaction_successful.svg
  src/domains/vote/images/placeholder-votes.svg
  src/domains/wallet/images/name-wallet.svg
  src/domains/wallet/images/waiting-ledger.svg
  src/domains/wallet/images/wallet-update-ready.svg
  src/domains/wallet/images/wallet-update.svg
Due: none

chore: multipayment notice min. recipients (#2406)
  src/renderer/components/Transaction/TransactionRecipientList.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write
