Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: rename `Home` to `Latest` and add i18n
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.test.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/PluginManagerNavigationBar.tsx
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: yarn lint, prettier --write

test: coverage
  src/app/hooks/use-currency-display.test.tsx
Due: none

fix: do not switch to multi when going back to form with only one recipient
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: adjust colors in recipients list
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: remove `PluginsCategory` page
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.test.tsx
  src/domains/plugin/pages/PluginsCategory/PluginsCategory.tsx
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/index.tsx
  src/domains/plugin/pages/index.ts
  src/domains/plugin/routing.ts
Due: yarn lint, prettier --write

chore: add border to contacts page header
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

fix: display plugin update stats properly
  src/plugins/context/PluginManagerProvider.tsx
Due: none

test: update coverage
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

refactor: adjust `PasswordModal` to react on error prop change
  src/domains/profile/components/PasswordModal/PasswordModal.tsx
Due: none

refactor: move password modal in `ProcessingImportStep`
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.tsx
Due: none

feat: throw invalid password error in profile import
  src/domains/profile/hooks/use-profile-import.ts
Due: yarn lint, prettier --write

refactor: adjustments on profile creation form in `ProfileFormStep`
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
Due: none

refactor: ui adjustments
  src/app/assets/svg/dwe-file.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/json-file.svg
  src/domains/profile/components/FilePreview/FilePreview.tsx
  src/domains/profile/pages/ImportProfile/ProfileFormStep.tsx
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
Due: yarn lint, prettier --write

refactor: move file read methods in new `useFiles` hook
  src/app/hooks/use-files.ts
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
Due: yarn lint, prettier --write

wip
  src/domains/plugin/pages/PluginDetails/PluginDetails.tsx
  src/plugins/context/PluginManagerProvider.tsx
Due: none

feat: create standalone droppable `SelectFile` component
  src/app/components/SelectFile/SelectFile.tsx
  src/app/components/SelectFile/index.tsx
  src/app/hooks/use-files.ts
Due: yarn lint, prettier --write

refactor: use `SelectFile` component in `SelectFileStep`
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
Due: none

refactor: adjust import profile hook api
  src/domains/profile/hooks/use-profile-import.ts
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.tsx
Due: yarn lint, prettier --write

chore: optimize 2 SVG(s)
  src/app/assets/svg/dwe-file.svg
  src/app/assets/svg/json-file.svg
Due: none

chore: fix steps indicator
  src/domains/profile/pages/ImportProfile/ImportProfile.tsx
Due: none

style: resolve style guide violations
  src/app/components/SelectFile/SelectFile.tsx
Due: none

chore: remove wif option
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

feat: ability to import wallet by private key (#3483)
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

refactor: handle empty fee input (#3482)
  package.json
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.tsx
  src/app/hooks/use-currency-display.test.tsx
  src/app/hooks/use-currency-display.ts
  src/app/hooks/use-validation.test.tsx
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/hooks.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/validations/Common.ts
  yarn.lock
Due: yarn lint, prettier --write

chore: add border to contacts page header (#3488)
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

refactor: adjust colors in recipients list (#3486)
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: update psdk packages
  package.json
  yarn.lock
Due: prettier --write

feat: add wif option
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

refactor: improved validation of multiple recipients
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/i18n.ts
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/validations/SendTransfer.test.tsx
  src/domains/transaction/validations/SendTransfer.ts
Due: yarn lint, prettier --write

refactor: remove recipients/participants based on index
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.tsx
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.tsx
Due: yarn lint, prettier --write

refactor: show update stats also in plugin grid
  src/domains/plugin/components/PluginCard/PluginCard.tsx
  src/domains/plugin/components/PluginGrid/PluginGrid.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
Due: none

test: coverage
  src/domains/transaction/components/MultiSignatureRegistrationForm/MultiSignatureRegistrationForm.test.tsx
Due: none

refactor: disable network options if input is disabled
  src/domains/network/components/NetworkOption/NetworkOption.test.tsx
  src/domains/network/components/NetworkOption/NetworkOption.tsx
  src/domains/network/components/SelectNetwork/SelectNetwork.tsx
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

refactor: remove contacts banner
  src/app/assets/images/index.ts
  src/domains/contact/i18n.ts
  src/domains/contact/images/contacts-banner.svg
  src/domains/contact/images/dark/contacts-banner.svg
  src/domains/contact/images/dark/index.ts
  src/domains/contact/images/index.ts
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: yarn lint, prettier --write

refactor: adjust mnemonic tooltip and disabled 2nd mnemonic input
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AuthenticationStep/AuthenticationStep.tsx
  src/domains/transaction/components/AuthenticationStep/__snapshots__/AuthenticationStep.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/transaction/validations/Authentication.ts
Due: yarn lint, prettier --write

feat: import by encrypted wif
  src/app/i18n/common/i18n.ts
  src/domains/wallet/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: yarn lint, prettier --write

test: add `SelectFile` coverage
  src/app/components/SelectFile/SelectFile.test.tsx
  src/app/components/SelectFile/SelectFile.tsx
  src/app/components/SelectFile/__snapshots__/SelectFile.test.tsx.snap
Due: none

test: add coverage for `use-files` hook
  src/app/hooks/use-files.test.tsx
Due: none

test: add coverage for `ProcessingImportStep`
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.test.tsx
  src/domains/profile/pages/ImportProfile/ProcessingImportStep.tsx
Due: none

test: add coverage for 'SelectFileStep'
  src/domains/profile/pages/ImportProfile/SelectFileStep.test.tsx
  src/domains/profile/pages/ImportProfile/SelectFileStep.tsx
Due: none
