Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: conditionally show/hide pagination buttons and news fixes (#2768)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/Pagination/Pagination.stories.tsx
  src/app/components/Pagination/Pagination.test.tsx
  src/app/components/Pagination/Pagination.tsx
  src/app/components/Pagination/__snapshots__/Pagination.test.tsx.snap
  src/app/components/Pagination/components/CompactPagination/CompactPagination.test.tsx
  src/app/components/Pagination/components/CompactPagination/CompactPagination.tsx
  src/app/components/Pagination/components/CompactPagination/__snapshots__/CompactPagination.test.tsx.snap
  src/domains/news/components/NewsCard/NewsCard.tsx
  src/domains/news/components/NewsCard/__snapshots__/NewsCard.test.tsx.snap
  src/domains/news/pages/News/News.test.tsx
  src/domains/news/pages/News/News.tsx
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/components/Comments/__snapshots__/Comments.test.tsx.snap
  src/domains/plugin/components/PluginGrid/__snapshots__/PluginGrid.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/HistoryModal.tsx
  src/domains/profile/pages/MyRegistrations/components/HistoryModal/__snapshots__/HistoryModal.test.tsx.snap
Due: none

test: add e2e tests for single transfer (#2765)
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

fix: use default timeout to fetch the plugin logo (#2758)
  src/renderer/services/plugin-manager.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

chore(deps): update jest monorepo
  package.json
  yarn.lock
Due: prettier --write

refactor: add test ids on async renders
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
Due: none

fix: wait for async qrcode rendering
  src/app/components/NavigationBar/NavigationBar.test.tsx
Due: none

chore: update snapshots
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

refactor: wait for async renders in `ReceiveFunds`
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

test: add test for conditional qrcode rendering
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
Due: none

fix: remove unused vars in `NavigationBar` tests
  src/app/components/NavigationBar/NavigationBar.test.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
Due: none

wip
  src/app/App.tsx
  src/utils/testing-library.tsx
Due: none

test: fix pagination e2e tests in `News`
  src/domains/news/e2e/news-routing.e2e.ts
Due: yarn lint, prettier --write

chore: update Platform SDK dependencies (#2771)
  package.json
  src/app/App.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/utils/testing-library.tsx
  yarn.lock
Due: prettier --write

refactor: check idle state using `getSystemIdleTiime`
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

test: increase timeout to check if redirected to welcome screen
  src/domains/profile/e2e/welcome-screen.e2e.ts
Due: yarn lint, prettier --write

test(unit): fix idleTime tests
  src/utils/electron-utils.test.ts
Due: yarn lint, prettier --write

test(unit): adjust idleTime tests in profile middleware
  src/domains/profile/middleware.test.ts
Due: yarn lint, prettier --write

fix: sync delegate before calling aggregate
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

chore: fix exhaustive deps in `MyRegistrations`
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

tests: ignore temp console error in tests
  src/app/App.tsx
Due: none

wip
  .github/workflows/format.yml
  .github/workflows/test.yml
  config-overrides.js
  package.json
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/services/HttpClient.test.ts
Due: yarn lint, prettier --write

tests: update tests and increse coverage
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.test.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
Due: none

feat: add echange ratwes sync
  src/app/App.tsx
Due: none

fix: sync delegates on boot for ARK.devnet
  src/app/App.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

chore: use promise all settled
  src/app/App.test.tsx
  src/app/App.tsx
Due: none

chore: rename sync function for wallets data
  src/app/App.tsx
Due: none

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  package.json
  src/app/App.tsx
  yarn.lock
Due: prettier --write

test: fix e2e errors (#2772)
  src/app/App.tsx
  src/domains/news/e2e/news-routing.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/profile/middleware.test.ts
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write
