Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

refactor: replace invalid value on opacity style property (#3767)
  src/app/components/ControlButton/ControlButton.tsx
  src/app/components/ControlButton/__snapshots__/ControlButton.test.tsx.snap
  src/app/components/Dropdown/Dropdown.test.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/app/components/LayoutControls/__snapshots__/LayoutControls.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/app/components/SearchBar/SearchBarPluginFilters/__snapshots__/SearchBarPluginFilters.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/plugin/components/PluginManagerControls/__snapshots__/PluginManagerControls.test.tsx.snap
  src/domains/plugin/components/PluginManagerNavigationBar/__snapshots__/PluginManagerNavigationBar.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/transaction/components/FilterTransactions/__snapshots__/FilterTransactions.test.tsx.snap
  src/domains/vote/components/VotesFilter/__snapshots__/VotesFilter.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

feat: implement automatic signout hook
  src/app/hooks/use-automatic-signout.ts
Due: yarn lint, prettier --write

feat: implement screenshot protection hook
  src/app/hooks/use-screenshot-protection.ts
Due: yarn lint, prettier --write

refactor: handle automatic signout and screenshot protection from profile synchronizer
  src/app/hooks/use-profile-synchronizer.ts
Due: yarn lint, prettier --write

refactor: drop profile middleware
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
Due: yarn lint, prettier --write

chore: fix build errors
  src/router/index.tsx
Due: none

fix: truncate recipient address in unconfirmed tx modal
  src/app/components/Notifications/NotificationTransactionItemSkeleton.tsx
  src/app/components/Table/TableCell.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
Due: none

wip
  src/domains/plugin/components/PluginCard/PluginCard.test.tsx
  src/domains/plugin/components/PluginCard/__snapshots__/PluginCard.test.tsx.snap
Due: none

test: add coverage for automatic signout hook
  src/app/hooks/use-automatic-signout.test.ts
  src/app/hooks/use-automatic-signout.ts
Due: yarn lint, prettier --write

test: add coverage for screenshot protection
  src/app/hooks/use-screenshot-protection.test.ts
Due: yarn lint, prettier --write

test: cover profile synchronizer
  src/app/hooks/use-profile-synchronizer.test.tsx
Due: none

chore: update psdk to v8.0.4
  package.json
  yarn.lock
Due: prettier --write

revert isCompact on TableCell
  src/app/components/Notifications/NotificationTransactionItemSkeleton.tsx
  src/app/components/Table/TableCell.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/UnconfirmedTransactionRow.tsx
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
Due: none

wip
  src/domains/contact/components/ContactForm/ContactForm.tsx
  src/domains/contact/i18n.ts
Due: yarn lint, prettier --write

feat: update TableCell to support compact row height
  src/app/components/Table/TableCell.styles.ts
Due: yarn lint, prettier --write

update snapshots
  src/app/components/Notifications/__snapshots__/NotificationTransactionItem.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/Notifications/__snapshots__/NotificationsDropdown.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/TransactionTable/UnconfirmedTransactionTable/__snapshots__/UnconfirmedTransactionTable.test.tsx.snap
  src/domains/transaction/components/TransactionTable/__snapshots__/TransactionTable.test.tsx.snap
Due: none

test: mock fs in jest setup
  jest.setup.js
  src/utils/electron-utils.test.ts
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/contact/e2e/update-contact.e2e.ts
Due: yarn lint, prettier --write

feat: implement new clipboard structure
  src/app/components/Clipboard/Clipboard.tsx
Due: none

feat: implement clipboard icon
  src/app/components/Clipboard/ClipboardIcon.tsx
Due: none

feat: implement clipboard button
  src/app/components/Clipboard/ClipboardButton.tsx
Due: none

wip
  jest.setup.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: mock only writeFileSync
  jest.setup.js
Due: npm run lint:fix, yarn lint, prettier --write

test: fix failing
  src/app/hooks/use-files.test.tsx
  src/plugins/services/filesystem/FileSystemPluginService.test.ts
  src/utils/electron-utils.test.ts
Due: yarn lint, prettier --write

update snapshot
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
Due: none

update snapshots
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/ImportProfile/__snapshots__/ProfileFormStep.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

fix: show unconfirmed tx modal when submitting with Enter
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix tests
  src/domains/transaction/components/ErrorStep/ErrorStep.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

fix multisig transfer e2e
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
Due: none

refactor: change animation speed
  src/app/components/Clipboard/ClipboardButton.tsx
Due: none

feat: add variant type to clipboard component
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/transaction/components/MultiSignatureDetail/SummaryStep.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/BackupStep.tsx
  src/domains/transaction/components/TransactionDetail/TransactionExplorerLink/TransactionExplorerLink.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/pages/CreateWallet/WalletOverviewStep.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

refactor: move disclaimer to plugin manager
  src/domains/plugin/components/ManualInstallationDisclaimer/ManualInstallationDisclaimer.test.tsx
  src/domains/plugin/components/ManualInstallationDisclaimer/ManualInstallationDisclaimer.tsx
  src/domains/plugin/components/ManualInstallationDisclaimer/__snapshots__/ManualInstallationDisclaimer.test.tsx.snap
  src/domains/plugin/components/ManualInstallationDisclaimer/index.ts
  src/domains/plugin/i18n.ts
  src/domains/plugin/pages/PluginManager/PluginManager.test.tsx
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/setting/components/AdvancedMode/AdvancedMode.test.tsx
  src/domains/setting/components/AdvancedMode/index.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: yarn lint, prettier --write

wip
  src/domains/setting/e2e/save-settings.e2e.ts
Due: yarn lint, prettier --write

test: coverage clipboard components
  src/app/components/Clipboard/Clipboard.test.tsx
  src/app/components/Clipboard/Clipboard.tsx
  src/app/components/Clipboard/ClipboardButton.test.tsx
  src/app/components/Clipboard/ClipboardButton.tsx
  src/app/components/Clipboard/ClipboardIcon.test.tsx
  src/app/components/Clipboard/ClipboardIcon.tsx
  src/app/components/Clipboard/__snapshots__/Clipboard.test.tsx.snap
Due: none

fix: star button tooltip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
