Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: change welcome text
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: yarn lint, prettier --write

test: add delegate entity fixture
  src/tests/fixtures/registrations/entity-delegates.json
Due: prettier --write

test(unit): add coverage
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

chore: update snapshots
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

chore: fix exhaustive-deps
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
Due: none

test: adjust e2e tests
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

chore: set cryptocompare as default market provider
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
Due: none

wip
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.models.ts
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
  src/styles/toasts.css
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: remove call to clearErrors
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
Due: none

wip
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: yarn lint, prettier --write

test: adjust e2e tests
  src/domains/profile/e2e/create-profile-action.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: none

style: resolve style guide violations
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
Due: none

wip
  src/domains/setting/pages/Settings/available-settings/Password.tsx
Due: none

chore: set cryptocompare as default market provider (#2935)
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: yarn lint, prettier --write

chore: change welcome text (#2934)
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

refactor: disable msq buttons (#2933)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: yarn lint, prettier --write

refactor: add title to welcome page (#2932)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/assets/images/ark-logo.svg
  src/app/components/Layout/components/Page/Page.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/NavigationBar/NavigationBar.tsx
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/error/pages/Offline/__snapshots__/Offline.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: implement delegate to entity update (#2931)
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/EntityRegistrationForm.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.models.ts
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/routing.ts
  src/tests/fixtures/registrations/entity-delegates.json
Due: yarn lint, prettier --write

chore: update welcome-banner.svg
  src/app/assets/images/welcome-banner.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

chore: update welcome-banner.svg (#2937)
  src/app/assets/images/welcome-banner.svg
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
Due: none

feat: generic toast handler in settings pages (#2936)
  src/domains/setting/i18n.ts
  src/domains/setting/pages/Settings/Settings.models.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/Settings.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
  src/domains/setting/pages/Settings/available-settings/Peer.tsx
  src/domains/setting/pages/Settings/available-settings/Plugins.tsx
  src/styles/toasts.css
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/App.tsx
  src/app/contexts/Theme/Theme.ts
  src/app/contexts/Theme/index.ts
  src/app/contexts/index.ts
Due: yarn lint, prettier --write

test: close link collection
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
Due: none

wip
  src/app/App.tsx
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

wip
  src/app/App.tsx
Due: none

refactor: add title to create profile page
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

test: add scan specs
  src/app/contexts/Ledger/use-ledger.test.tsx
  src/app/contexts/Ledger/use-ledger.ts
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

refactor: add title to create profile page (#2938)
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none
