Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

test: button text colour if primary
  src/app/components/Button/Button.test.tsx
  src/app/components/Button/__snapshots__/Button.test.tsx.snap
Due: none

refactor: add vote callback
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.tsx
Due: none

refactor: add testids
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.tsx
Due: none

test: delegate selection
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.test.tsx
  src/domains/transaction/components/SelectDelegateModal/__snapshots__/SelectDelegateModal.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/arrowup.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/components/SelectDelegateModal/SelectDelegateModal.tsx
  src/domains/transaction/components/SelectDelegateModal/__snapshots__/SelectDelegateModal.test.tsx.snap
Due: none

refactor: remove redundant property
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.stories.tsx
Due: none

chore: add ipfs icon
  src/app/assets/svg/index.ts
  src/app/assets/svg/ipfs.svg
Due: yarn lint, prettier --write

feat: ipfs details modal
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.stories.tsx
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.test.tsx
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.tsx
  src/domains/transaction/components/IpfsDetailModal/__snapshots__/IpfsDetailModal.test.tsx.snap
  src/domains/transaction/components/IpfsDetailModal/index.tsx
  src/domains/transaction/i18n.tsx
Due: none

chore: update base snap
  src/__snapshots__/index.test.ts.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/ipfs.svg
Due: none

style: resolve style guide violations
  src/domains/transaction/components/IpfsDetailModal/__snapshots__/IpfsDetailModal.test.tsx.snap
Due: none

fix: add missing smartbridge svg export
  src/app/assets/svg/index.ts
  src/app/assets/svg/smartbridge.svg
Due: yarn lint, prettier --write

refactor: update success label text colour
  src/app/components/Label/Label.styles.tsx
Due: none

refactor: rename transfer detail modal
  src/domains/transaction/components/TransferDetail/TransferDetail.stories.tsx
  src/domains/transaction/components/TransferDetail/index.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.stories.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.test.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.tsx
  src/domains/transaction/components/TransferDetailModal/__snapshots__/TransferDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetailModal/index.tsx
Due: none

chore: update snapshots
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/TransactionListItem/__snapshots__/TransactionListItem.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/smartbridge.svg
Due: none

refactor: modals update amount icon position
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
Due: none

chore: update snaps
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
Due: none

refactor: remove vote detail top row border
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

refactor: consistent button spacing
  src/app/components/DeleteResource/DeleteResource.tsx
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/plugins/components/InstallPlugin/InstallPlugin.tsx
  src/domains/profile/components/ProfileCreated/ProfileCreated.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/WalletUpdate/WalletUpdate.tsx
  src/domains/wallets/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallets/pages/ImportWallet/ImportWallet.tsx
Due: none

chore: update snapshots
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/domains/contacts/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugins/components/InstallPlugin/__snapshots__/InstallPlugin.test.tsx.snap
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
  src/domains/wallets/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallets/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallets/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallets/components/WalletUpdate/__snapshots__/WalletUpdate.test.tsx.snap
  src/domains/wallets/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

feat: add PeerListItem and story
  src/domains/settings/components/PeerListItem/PeerListItem.stories.tsx
  src/domains/settings/components/PeerListItem/PeerListItem.tsx
Due: none

test: add tests for PeerListItem
  src/domains/settings/components/PeerListItem/PeerListItem.stories.tsx
  src/domains/settings/components/PeerListItem/PeerListItem.test.tsx
  src/domains/settings/components/PeerListItem/PeerListItem.tsx
  src/domains/settings/components/PeerListItem/__snapshots__/PeerListItem.test.tsx.snap
Due: none

wip
  src/domains/settings/components/CustomPeers/index.ts
Due: yarn lint, prettier --write

feat: add table and data for PeerList component
  src/domains/settings/components/PeerList/PeerList.tsx
Due: none

feat: add story and tests for PeerList component
  src/domains/settings/components/PeerList/PeerList.stories.tsx
  src/domains/settings/components/PeerList/PeerList.test.tsx
  src/domains/settings/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/settings/components/PeerListItem/PeerListItem.stories.tsx
  src/domains/settings/data.ts
Due: yarn lint, prettier --write

feat: add table to peer tab
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/settings/pages/Settings/available-settings/Peer.tsx
Due: none

test: increase coverage
  src/domains/settings/pages/Settings/Settings.test.tsx
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

refactor: consistent button spacing (#2195)
  src/app/components/DeleteResource/DeleteResource.tsx
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/domains/contacts/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/dashboard/components/WalletsControls/WalletsControls.tsx
  src/domains/dashboard/components/WalletsControls/__snapshots__/WalletsControls.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/plugins/components/InstallPlugin/InstallPlugin.tsx
  src/domains/plugins/components/InstallPlugin/__snapshots__/InstallPlugin.test.tsx.snap
  src/domains/profile/components/ProfileCreated/ProfileCreated.tsx
  src/domains/profile/components/ProfileCreated/__snapshots__/ProfileCreated.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/pages/VoteForDelegate/VoteForDelegate.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
  src/domains/wallets/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallets/components/SignMessage/SignMessage.tsx
  src/domains/wallets/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallets/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallets/components/WalletUpdate/WalletUpdate.tsx
  src/domains/wallets/components/WalletUpdate/__snapshots__/WalletUpdate.test.tsx.snap
  src/domains/wallets/pages/CreateWallet/CreateWallet.tsx
  src/domains/wallets/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallets/pages/ImportWallet/ImportWallet.tsx
Due: none

refactor: details modals tweaks (#2194)
  src/domains/transaction/components/DelegateRegistrationDetail/DelegateRegistrationDetail.tsx
  src/domains/transaction/components/DelegateRegistrationDetail/__snapshots__/DelegateRegistrationDetail.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/MultiPaymentDetail.tsx
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/MultiSignatureDetail.tsx
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransferDetail/TransferDetail.tsx
  src/domains/transaction/components/TransferDetail/__snapshots__/TransferDetail.test.tsx.snap
  src/domains/transaction/components/VoteDetail/VoteDetail.tsx
  src/domains/transaction/components/VoteDetail/__snapshots__/VoteDetail.test.tsx.snap
Due: none

feat: ipfs details modal (#2192)
  src/__snapshots__/index.test.ts.snap
  src/app/assets/svg/index.ts
  src/app/assets/svg/ipfs.svg
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.stories.tsx
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.test.tsx
  src/domains/transaction/components/IpfsDetailModal/IpfsDetailModal.tsx
  src/domains/transaction/components/IpfsDetailModal/__snapshots__/IpfsDetailModal.test.tsx.snap
  src/domains/transaction/components/IpfsDetailModal/index.tsx
  src/domains/transaction/i18n.tsx
Due: yarn lint, prettier --write

chore: add html coverage reporter (#2190)
  package.json
Due: prettier --write

feat: add peer settings (#2188)
  src/domains/settings/components/PeerList/PeerList.stories.tsx
  src/domains/settings/components/PeerList/PeerList.test.tsx
  src/domains/settings/components/PeerList/PeerList.tsx
  src/domains/settings/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/settings/components/PeerList/index.ts
  src/domains/settings/components/PeerListItem/PeerListItem.stories.tsx
  src/domains/settings/components/PeerListItem/PeerListItem.test.tsx
  src/domains/settings/components/PeerListItem/PeerListItem.tsx
  src/domains/settings/components/PeerListItem/__snapshots__/PeerListItem.test.tsx.snap
  src/domains/settings/components/PeerListItem/index.ts
  src/domains/settings/data.ts
  src/domains/settings/pages/Settings/Settings.test.tsx
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/settings/pages/Settings/available-settings/Peer.tsx
  src/domains/settings/pages/Settings/available-settings/index.ts
Due: yarn lint, prettier --write

refactor: transfer detail modal updates (#2193)
  src/app/assets/svg/index.ts
  src/app/assets/svg/smartbridge.svg
  src/app/components/Label/Label.styles.tsx
  src/app/components/Label/__snapshots__/Label.test.tsx.snap
  src/app/components/Notifications/__snapshots__/Notifications.test.tsx.snap
  src/app/components/TransactionListItem/__snapshots__/TransactionListItem.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/TransferDetail/TransferDetail.stories.tsx
  src/domains/transaction/components/TransferDetail/index.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.stories.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.test.tsx
  src/domains/transaction/components/TransferDetailModal/TransferDetailModal.tsx
  src/domains/transaction/components/TransferDetailModal/__snapshots__/TransferDetailModal.test.tsx.snap
  src/domains/transaction/components/TransferDetailModal/index.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/settings/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/settings/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: none

fix: lint hooks
  .eslintrc.js
  package.json
  src/app/components/Input/InputCurrency.tsx
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: add `InputCurrency` component (#2187)
  .eslintrc.js
  package.json
  src/app/components/Input/InputCurrency.stories.tsx
  src/app/components/Input/InputCurrency.test.tsx
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Input/InputRange.tsx
  src/app/components/Input/__snapshots__/InputCurrency.test.tsx.snap
  src/app/components/Input/__snapshots__/InputRange.test.tsx.snap
  src/app/components/Input/index.tsx
  src/domains/transaction/pages/VoteForDelegate/__tests__/__snapshots__/VoteForDelegate.spec.tsx.snap
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

fix: use darker color when no wallet name given
  src/app/components/Address/Address.stories.tsx
  src/app/components/Address/Address.tsx
  src/app/components/Address/__snapshots__/Address.test.tsx.snap
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
