Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: coverage
  src/utils/electron-utils.test.ts
Due: yarn lint, prettier --write

fix: use values state in InputCurrency component
  src/app/components/Input/InputRange.tsx
Due: none

chore: add space between the modal description and the form
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
Due: none

chore: `SignMessage` ui adjustments (#2471)
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/wallet/components/SignMessage/SignMessage.tsx
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
Due: none

fix: update `InputRange` to check if the value is greater than the max (#2460)
  src/app/components/Input/InputCurrency.tsx
  src/app/components/Input/InputRange.test.tsx
  src/app/components/Input/InputRange.tsx
Due: none

feat: add electron open/save dialogs (#2470)
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

chore: update Platform SDK dependencies (#2469)
  package.json
  src/app/hooks/env.ts
  src/domains/dashboard/components/Wallets/Wallets.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.test.tsx
  yarn.lock
Due: yarn lint, prettier --write

refactor: make wallets sheet menu stick to bottom (#2465)
  src/app/components/Collapse/CollapseToggleButton.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/components/WalletBottomSheetMenu/WalletBottomSheetMenu.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/domains/wallet/components/WalletRegistrations/__snapshots__/WalletRegistrations.test.tsx.snap
  src/domains/wallet/components/WalletVote/__snapshots__/WalletVote.test.tsx.snap
  src/domains/wallet/data.ts
  src/domains/wallet/pages/WalletDetails/WalletDetails.stories.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/data.ts
Due: yarn lint, prettier --write

chore: `CreateContact` ui adjustments (#2468)
  src/domains/contact/components/CreateContact/CreateContact.tsx
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
Due: none

fix: update name-wallet.svg (#2467)
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallet/images/name-wallet.svg
Due: none

refactor: use `SelectAddress` for sender in `SendTransactionForm` (#2466)
  src/domains/profile/components/ProfileFormField/ProfileFormField.test.tsx
  src/domains/profile/components/ProfileFormField/__snapshots__/ProfileFormField.test.tsx.snap
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.stories.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/TransactionSend.stories.tsx
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/App.tsx
Due: none

fix: return undefined from act in `MyRegistrations`
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
Due: none

fix: `MnemonicVerification` duplicate tab keys
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

test: remove unused vars in `MnemonicVerification` tests
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.test.tsx
Due: none

fix: constrain eth svg styling
  src/app/assets/svg/currencies/eth.svg
Due: none

chore: optimize 1 SVG(s)
  src/app/assets/svg/currencies/eth.svg
Due: none

fix: test errors (#2473)
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.test.tsx
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

fix: disabled optimization on svg ids
  .svgo.yml
Due: none

fix: prevent default event emission on `Dropdown` option click
  src/app/components/Dropdown/Dropdown.tsx
Due: none

refactor: replace native select with `SelectAddress` in `Registration`
  src/domains/transaction/pages/Registration/Registration.stories.tsx
  src/domains/transaction/pages/Registration/Registration.tsx
Due: none

chore: update snapshots
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

fix: use button type in `SelectAddress` to prevent form submittion
  src/domains/profile/components/SelectAddress/SelectAddress.tsx
Due: none

chore: update snapshots
  src/domains/profile/components/SelectAddress/__snapshots__/SelectAddress.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: none

fix: correct alignment of wallet card slider for 1 row
  src/app/components/Slider/Slider.tsx
Due: none

chore: update snapshots
  src/domains/dashboard/components/Wallets/__snapshots__/Wallets.test.tsx.snap
Due: none

refactor: remove deprecated `ProfileFormField`
  src/domains/profile/components/ProfileFormField/ProfileFormField.test.tsx
  src/domains/profile/components/ProfileFormField/ProfileFormField.tsx
  src/domains/profile/components/ProfileFormField/__snapshots__/ProfileFormField.test.tsx.snap
  src/domains/profile/components/ProfileFormField/index.ts
Due: yarn lint, prettier --write

test: fix `Address` coverage
  src/app/components/Address/Address.test.tsx
Due: none

feat: create `SelectRecipient` form input
  src/domains/profile/components/SelectRecipient/SelectRecipient.stories.tsx
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/profile/components/SelectRecipient/index.ts
Due: yarn lint, prettier --write

test: add coverage
  src/domains/profile/components/SelectRecipient/SelectRecipient.test.tsx
Due: none

chore: add snapshots
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/profile/components/SelectRecipient/SelectRecipient.tsx
  src/domains/profile/components/SelectRecipient/__snapshots__/SelectRecipient.test.tsx.snap
Due: none
