Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

chore: add marketsquare icon (#2079)
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/resources/assets/svg/index.ts
  src/resources/assets/svg/msq.svg
Due: yarn lint, prettier --write

feat: add verify message (#2078)
  src/app/components/Alert/Alert.tsx
  src/app/components/Alert/__tests__/__snapshots__/Alert.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/VerifyMessage.stories.tsx
  src/domains/wallets/components/VerifyMessage/VerifyMessage.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/VerifyMessage.spec.tsx
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/index.ts
Due: yarn lint, prettier --write

feat: add WalletMnemonicVerification component (#2077)
  config-overrides.js
  package.json
  src/app/components/Tabs/Tabs.tsx
  src/app/components/Tabs/__tests__/Tabs.spec.tsx
  src/app/components/Tabs/__tests__/__snapshots__/Tabs.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/MnemonicVerification.stories.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationOptions.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationProgress.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerification.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationOptions.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationProgress.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/__snapshots__/MnemonicVerificationProgress.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/__tests__/utils/shuffleOptions.spec.ts
  src/domains/wallets/components/MnemonicVerification/index.ts
  src/domains/wallets/components/MnemonicVerification/utils/shuffleOptions.ts
  src/domains/wallets/pages/ImportWallet/ImportWallet.tsx
  src/resources/assets/svg/checkmark.svg
  src/resources/assets/svg/index.ts
  src/tailwind.config.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: add wallet card component (#2076)
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletCard/__tests__/WalletCard.spec.tsx
  src/app/components/WalletCard/__tests__/__snapshots__/WalletCard.spec.tsx.snap
  src/app/components/WalletCard/index.ts
Due: yarn lint, prettier --write

feat: update wallet name modal (#2074)
  src/__tests__/__snapshots__/index.spec.ts.snap
  src/app/components/Form/FormLabel.tsx
  src/app/components/Form/__tests__/__snapshots__/FormLabel.spec.tsx.snap
  src/app/components/Modal/Modal.stories.tsx
  src/app/components/Modal/Modal.tsx
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
  src/domains/wallets/components/SignMessage/SignMessage.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.tsx
  src/domains/wallets/components/UpdateWalletName/__tests__/UpdateWalletName.spec.tsx
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
  src/domains/wallets/components/UpdateWalletName/index.tsx
  src/i18n/index.ts
  src/i18n/locales/en-US/messages.ts
  src/i18n/utils.ts
Due: yarn lint, prettier --write

feat: add dropdown to profile card (#2071)
  src/domains/profile/components/ProfileCard/ProfileCard.stories.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/domains/profile/components/ProfileCard/__tests__/ProfileCard.spec.tsx
  src/domains/profile/components/ProfileCard/__tests__/__snapshots__/ProfileCard.spec.tsx.snap
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .eslintignore
  src/app/components/Modal/Modal.tsx
Due: none

wip
  src/app/components/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/app/components/WalletCard/__tests__/__snapshots__/WalletCard.spec.tsx.snap
  src/domains/help/components/ContactUs/__tests__/__snapshots__/ContactUs.spec.tsx.snap
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
Due: none

wip
  src/domains/help/components/ContactUs/ContactUs.stories.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
Due: none

feat: contact us modal component (#2080)
  .eslintignore
  src/__tests__/__snapshots__/index.spec.ts.snap
  src/app/components/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/app/components/WalletCard/__tests__/__snapshots__/WalletCard.spec.tsx.snap
  src/domains/help/components/ContactUs/ContactUs.stories.tsx
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/help/components/ContactUs/__tests__/ContactUs.spec.tsx
  src/domains/help/components/ContactUs/__tests__/__snapshots__/ContactUs.spec.tsx.snap
  src/domains/help/components/ContactUs/index.tsx
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationProgress.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationOptions.spec.tsx
  src/domains/wallets/components/MnemonicVerification/__tests__/MnemonicVerificationProgress.spec.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
  src/i18n/locales/en-US/messages.ts
  src/resources/assets/svg/discord.svg
  src/resources/assets/svg/index.ts
  src/resources/assets/svg/send.svg
  src/resources/assets/svg/slack.svg
  src/resources/assets/svg/twitter.svg
Due: yarn lint, prettier --write

wip
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/renderer/SplashScreen.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

feat(ledger): add schnorr support (#2026)
  __tests__/unit/__mocks__/@arkecosystem/ledger-transport.js
  __tests__/unit/services/ledger-service.spec.js
  __tests__/unit/services/transaction.spec.js
  __tests__/unit/store/modules/ledger.spec.js
  package.json
  src/renderer/services/ledger-service.js
  src/renderer/services/transaction.js
  src/renderer/store/modules/ledger.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore(deps): update dependency @types/jest to v26
  package.json
  yarn.lock
Due: prettier --write

chore(deps): update dependency electron-notarize to v1
  package.json
  yarn.lock
Due: prettier --write

fix: show indicator that no network connection is established (#2084)
  src/renderer/SplashScreen.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: sanitze svg namespaces
  src/resources/assets/svg/send.svg
Due: none

fix: add missing LOAD_FROM_URI error translation (#2083)
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: update import to cast as react component
  src/resources/assets/svg/index.ts
Due: yarn lint, prettier --write

chore(deps): remove react-svg dependency
  package.json
  src/app/components/Icon/Icon.tsx
  yarn.lock
Due: prettier --write

fix: update Icon usage
  src/app/components/Circle/Circle.stories.tsx
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Icon/Icon.stories.tsx
  src/app/components/Icon/__tests__/Icon.spec.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Modal/Modal.tsx
  src/app/components/Select/Select.tsx
  src/app/components/SideBar/SideBar.stories.tsx
  src/app/components/SideBar/SideBarItem/SideBarItem.stories.tsx
  src/app/components/SideBar/SideBarItem/__tests__/SideBarItem.spec.tsx
  src/app/components/SideBar/__tests__/SideBar.spec.tsx
  src/domains/help/components/ContactUs/ContactUs.tsx
  src/domains/profile/pages/CreateProfile/CreateProfile.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/settings/pages/Settings/Settings.stories.tsx
  src/domains/settings/pages/Settings/__tests__/Settings.spec.tsx
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/wallets/components/MnemonicVerification/MnemonicVerificationProgress.tsx
  src/domains/wallets/pages/ImportWallet/ImportWallet.stories.tsx
  src/domains/wallets/pages/ImportWallet/__tests__/ImportWallet.spec.tsx
Due: none

fix(stories): minor to svg use and name indexation
  src/app/components/Dropdown/Dropdown.stories.tsx
  src/app/components/WalletCard/WalletCard.stories.tsx
  src/domains/help/components/ContactUs/ContactUs.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
  src/domains/wallets/components/VerifyMessage/VerifyMessage.stories.tsx
Due: none

fix(ui): vertical centralize
  src/app/components/SideBar/SideBarItem/SideBarItem.tsx
Due: none

tests: update snapshots
  src/app/components/Dropdown/__tests__/__snapshots__/Dropdown.spec.tsx.snap
  src/app/components/Icon/__tests__/__snapshots__/Icon.spec.tsx.snap
  src/app/components/Input/__tests__/__snapshots__/InputPassword.spec.tsx.snap
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/app/components/Select/__tests__/__snapshots__/Select.spec.tsx.snap
  src/app/components/SideBar/SideBarItem/__tests__/__snapshots__/SideBarItem.spec.tsx.snap
  src/app/components/SideBar/__tests__/__snapshots__/SideBar.spec.tsx.snap
  src/app/components/WalletCard/__tests__/__snapshots__/WalletCard.spec.tsx.snap
  src/domains/help/components/ContactUs/__tests__/__snapshots__/ContactUs.spec.tsx.snap
  src/domains/profile/components/ProfileCard/__tests__/__snapshots__/ProfileCard.spec.tsx.snap
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
  src/domains/wallets/components/MnemonicVerification/__tests__/__snapshots__/MnemonicVerificationProgress.spec.tsx.snap
  src/domains/wallets/components/UpdateWalletName/__tests__/__snapshots__/UpdateWalletName.spec.tsx.snap
  src/domains/wallets/components/VerifyMessage/__tests__/__snapshots__/VerifyMessage.spec.tsx.snap
  src/domains/wallets/pages/ImportWallet/__tests__/__snapshots__/ImportWallet.spec.tsx.snap
Due: none

fix: add svg type to ts compilation
  custom.d.ts
  tsconfig.json
Due: yarn lint, prettier --write

fix: revert stories indexing
  src/domains/help/components/ContactUs/ContactUs.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/UpdateWalletName/UpdateWalletName.stories.tsx
  src/domains/wallets/components/VerifyMessage/VerifyMessage.stories.tsx
Due: none

feat: detect offline and online changes
  src/renderer/App.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: move assets to app
  src/app/assets/background.png
  src/app/assets/entitlements.mac.plist
  src/app/assets/icons/128x128.png
  src/app/assets/icons/256x256.png
  src/app/assets/icons/512x512.png
  src/app/assets/icons/icon.icns
  src/app/assets/icons/icon.ico
  src/app/assets/images/ark-logo.png
  src/app/assets/images/image-import.d.ts
  src/app/assets/images/index.ts
  src/app/assets/images/pages/profile/onboarding-banner.svg
  src/app/assets/svg/ark.svg
  src/app/assets/svg/btc.svg
  src/app/assets/svg/checkmark.svg
  src/app/assets/svg/chevron-down.svg
  src/app/assets/svg/close.svg
  src/app/assets/svg/cross-slim.svg
  src/app/assets/svg/discord.svg
  src/app/assets/svg/eth.svg
  src/app/assets/svg/eye-off.svg
  src/app/assets/svg/eye.svg
  src/app/assets/svg/general.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/msq.svg
  src/app/assets/svg/peer.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/qrcode.svg
  src/app/assets/svg/send.svg
  src/app/assets/svg/settings.svg
  src/app/assets/svg/slack.svg
  src/app/assets/svg/twitter.svg
  src/app/assets/svg/upload.svg
  src/app/components/Icon/Icon.tsx
  src/app/components/NavBar/NavBar.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/electron/menu.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: detect offline and online changes (#2088)
  src/renderer/App.vue
  src/renderer/i18n/locales/en-US.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: loading of image assets from app/domain
  src/app/assets/images/index.ts
  src/app/components/NavBar/NavBar.tsx
  src/domains/profile/images/index.tsx
  src/domains/profile/images/welcome-banner.svg
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

test: update snapshot
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
Due: none

refactor: no default exports
  src/app/assets/images/index.ts
  src/app/components/NavBar/NavBar.tsx
  src/domains/profile/images/index.tsx
  src/domains/profile/pages/Welcome/Welcome.tsx
Due: yarn lint, prettier --write

test: fix e2e
  cypress/integration/startup.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: move assets to app (#2089)
  cypress/integration/startup.spec.js
  src/app/assets/background.png
  src/app/assets/entitlements.mac.plist
  src/app/assets/icons/128x128.png
  src/app/assets/icons/256x256.png
  src/app/assets/icons/512x512.png
  src/app/assets/icons/icon.icns
  src/app/assets/icons/icon.ico
  src/app/assets/images/ark-logo.png
  src/app/assets/images/image-import.d.ts
  src/app/assets/images/index.ts
  src/app/assets/svg/ark.svg
  src/app/assets/svg/btc.svg
  src/app/assets/svg/checkmark.svg
  src/app/assets/svg/chevron-down.svg
  src/app/assets/svg/close.svg
  src/app/assets/svg/cross-slim.svg
  src/app/assets/svg/discord.svg
  src/app/assets/svg/eth.svg
  src/app/assets/svg/eye-off.svg
  src/app/assets/svg/eye.svg
  src/app/assets/svg/general.svg
  src/app/assets/svg/index.ts
  src/app/assets/svg/msq.svg
  src/app/assets/svg/peer.svg
  src/app/assets/svg/plugin.svg
  src/app/assets/svg/qrcode.svg
  src/app/assets/svg/send.svg
  src/app/assets/svg/settings.svg
  src/app/assets/svg/slack.svg
  src/app/assets/svg/twitter.svg
  src/app/assets/svg/upload.svg
  src/app/components/Icon/Icon.tsx
  src/app/components/NavBar/NavBar.tsx
  src/domains/profile/images/index.tsx
  src/domains/profile/images/welcome-banner.svg
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
  src/electron/menu.js
  src/resources/assets/images/index.ts
Due: npm run lint:fix, yarn lint, prettier --write

test: update translations snap
  src/__tests__/__snapshots__/index.spec.ts.snap
Due: none

chore: add delete banner image
  src/app/assets/images/delete-banner.svg
  src/app/assets/images/index.ts
Due: yarn lint, prettier --write

chore: add delete translation
  src/i18n/locales/en-US/messages.ts
Due: yarn lint, prettier --write

chore: add trash icon
  src/app/assets/svg/index.ts
  src/app/assets/svg/trash.svg
Due: yarn lint, prettier --write
