Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  src/app/App.tsx
Due: none

fix: dropdown smooth transition and cursor pointer
  src/app/components/SelectDropdown/styles.ts
Due: yarn lint, prettier --write

feat: disable screenshot protection in development builds
  src/electron/index.js
  src/utils/electron-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

refactor: SendRegistration crumbs
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: none

chore: update snapshots
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

fix: useMemo dependencies
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

wip
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

refactor: SendRegistration crumbs (#3182)
  src/domains/transaction/pages/SendRegistration/SendRegistration.tsx
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

fix: use remote.app
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

feat: load fixture plugins in e2e env
  src/domains/plugin/pages/PluginManager/PluginManager.tsx
  src/plugins/loader/fs/loader-fs-ipc.ts
Due: yarn lint, prettier --write

refactor: style adjustments to InputFee and SelectionBar
  src/app/components/SelectionBar/SelectionBar.tsx
  src/domains/transaction/components/InputFee/InputFee.tsx
Due: none

style: resolve style guide violations
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/__snapshots__/SelectionBar.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: dropdown smooth transition and cursor pointer (#3180)
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/components/SelectDropdown/styles.ts
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: yarn lint, prettier --write

refactor: catch error thrown by openExternal
  src/app/components/Link/Link.test.tsx
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

refactor: apply theme if changed in settings
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: add setThemeSource util
  src/app/App.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

fix: restore profile only once
  src/app/hooks/use-synchronizer.tsx
Due: none

fix: prenent exceptions in profile watcher
  src/app/hooks/use-synchronizer.tsx
Due: none

test: remove splash screen test
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/profile/e2e/common.ts
Due: yarn lint, prettier --write

test: migrate fixtures in dev mode
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/transaction/pages/SendRegistration/__snapshots__/SendRegistration.test.tsx.snap
Due: none

chore: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
  src/domains/dashboard/components/Transactions/Transactions.test.tsx
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
Due: none

wip
  src/app/hooks/use-synchronizer.tsx
  src/domains/profile/e2e/common.ts
Due: yarn lint, prettier --write

refactor: catch error thrown by openExternal (#3184)
  src/app/components/Link/Link.test.tsx
  src/app/components/Link/Link.tsx
  src/app/components/Link/__snapshots__/Link.test.tsx.snap
  src/app/i18n/common/i18n.ts
Due: yarn lint, prettier --write

refactor: style adjustments to InputFee and SelectionBar (#3183)
  src/app/components/SelectionBar/SelectionBar.tsx
  src/app/components/SelectionBar/__snapshots__/SelectionBar.test.tsx.snap
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/InputFee/__snapshots__/InputFee.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SecondSignatureRegistrationForm/__snapshots__/SecondSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/SendDelegateResignation/__snapshots__/SendDelegateResignation.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore(deps): update psdk to v2.3.4
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/App.tsx
  src/app/hooks/use-synchronizer.tsx
  src/utils/migrate-fixtures.ts
Due: yarn lint, prettier --write

wip
  jest.setup.js
  src/app/App.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

wip
  src/app/App.test.tsx
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

build: fix module not found in production
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: remove ThemeContext
  src/app/App.tsx
  src/app/components/Image/Image.tsx
  src/app/components/Tooltip/Tooltip.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/contexts/Theme/Theme.tsx
  src/app/contexts/Theme/index.ts
  src/app/contexts/index.ts
  src/app/hooks/index.ts
  src/app/hooks/use-dark-mode.ts
  src/app/hooks/use-theme-name.ts
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/profile/middleware.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/wallet/components/ReceiveFunds/hooks.ts
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

build: fix module not found in production (#3186)
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

feat: disable screenshot protection in development builds (#3181)
  jest.setup.js
  src/app/App.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/electron/index.js
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write
