Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

refactor: mnemonic verification prop to show already completed
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: none

refactor: remove redundant use of var function
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
Due: none

test: back and forth unit test
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
Due: none

test: add e2e tests
  cypress/integration/wallet-details.spec.js
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.stories.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: npm run lint:fix, yarn lint, prettier --write

feat: implement wallet deleting (#2510)
  cypress/integration/wallet-details.spec.js
  src/app/components/DeleteResource/DeleteResource.tsx
  src/app/components/DeleteResource/__snapshots__/DeleteResource.test.tsx.snap
  src/domains/contact/components/DeleteContact/__snapshots__/DeleteContact.test.tsx.snap
  src/domains/wallet/components/DeleteWallet/__snapshots__/DeleteWallet.test.tsx.snap
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
  src/domains/wallet/components/WalletHeader/__snapshots__/WalletHeader.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/CreateWallet.stories.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: npm run lint:fix, yarn lint, prettier --write

fix: create wallet back and forth ux (#2511)
  cypress/integration/wallet-create.spec.js
  src/domains/wallet/components/MnemonicVerification/MnemonicVerification.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.stories.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.tsx
Due: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  src/app/services/index.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
Due: none

refactor: replace HTTP Client with `@arkecosystem/platform-sdk-http-axios` (#2512)
  package.json
  src/app/services/index.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  yarn.lock
Due: yarn lint, prettier --write

feat: add `UpdateWalletName` modal in `WalletDetails` page
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

feat: implement wallet name updating functionality
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.tsx
Due: none

feat: open `UpdateWalletName` modal from WalletHeader
  src/domains/wallet/components/WalletHeader/WalletHeader.stories.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.test.tsx
  src/domains/wallet/components/WalletHeader/WalletHeader.tsx
Due: none

test: add WalletDetails tests
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

test: add e2e tests
  cypress/integration/wallet-details.spec.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update snapshots
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

chore: minor patch to trigger ci
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

chore: update sdk packages
  package.json
  yarn.lock
Due: prettier --write

refactor: dasboard list profile wallets from env
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

refactor: remove fixture data
  src/domains/dashboard/data.ts
Due: yarn lint, prettier --write

wip: update dashboard stories
  src/domains/dashboard/pages/Dashboard/Dashboard.stories.tsx
Due: none

refactor: remove wallets from dashboard component
  src/domains/dashboard/pages/Dashboard/Dashboard.stories.tsx
Due: none

wip
  .github/workflows/test.yml
  .gitignore
  package.json
  src/app/App.test.tsx
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  src/app/services/index.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/tests/fixtures/coins/ark/configuration-devnet.json
  src/tests/fixtures/coins/ark/peers.json
  yarn.lock
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

refactor: adjust HTTP Client to latest Platform SDK changes (#2508)
  .gitignore
  package.json
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/tests/fixtures/coins/ark/configuration-devnet.json
  src/tests/fixtures/coins/ark/peers.json
  yarn.lock
Due: yarn lint, prettier --write

feat: add verify functionality in `VerifyMessage` modal
  src/domains/wallet/components/VerifyMessage/VerifyMessage.stories.tsx
  src/domains/wallet/components/VerifyMessage/VerifyMessage.tsx
Due: none

test: add coverage
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
Due: none

chore: update snapshots
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
Due: none

style: resolve style guide violations
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
Due: none

wip
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.stories.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/InputFee/InputFee.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/i18n.tsx
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
Due: yarn lint, prettier --write

fix(webpack): update config to support node/electron
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

fix: use `importByMnemonic`
  src/domains/wallet/components/UpdateWalletName/UpdateWalletName.test.tsx
Due: none

fix: use `importByMnmemonic`
  src/domains/wallet/components/VerifyMessage/VerifyMessage.test.tsx
Due: none

wip
  package.json
  src/app/App.tsx
  src/app/contexts/Environment/Environment.tsx
  src/app/hooks/storage.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
  yarn.lock
Due: yarn lint, prettier --write

chore: remove keytar as direct dep
  package.json
Due: prettier --write

refactor: add i18n to vote domain
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/pages/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/vote/components/AddressList/AddressList.tsx
  src/domains/vote/components/AddressList/__snapshots__/AddressList.test.tsx.snap
  src/domains/vote/components/AddressListItem/AddressListItem.tsx
  src/domains/vote/components/DelegateList/DelegateList.test.tsx
  src/domains/vote/components/DelegateList/DelegateList.tsx
  src/domains/vote/components/DelegateList/__snapshots__/DelegateList.test.tsx.snap
  src/domains/vote/components/DelegateListItem/DelegateListItem.test.tsx
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.stories.tsx
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.test.tsx
  src/domains/vote/components/SendVoteTransaction/SendVoteTransaction.tsx
  src/domains/vote/components/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/vote/components/SendVoteTransaction/index.ts
  src/domains/vote/i18n.ts
  src/domains/vote/pages/Votes/Votes.test.tsx
  src/domains/vote/pages/Votes/Votes.tsx
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: yarn lint, prettier --write

feat(deps): add babel presets and node-loader
  package.json
  yarn.lock
Due: prettier --write

feat(webpack): update webpack config to support node/electron
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: remove env preset
  config-overrides.js
  package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

refactor: updates to card and list
  src/app/components/WalletCard/WalletCard.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/domains/dashboard/components/Wallets/Wallets.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.stories.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none
