Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

chore: update Platform SDK dependencies (#3966)
  package.json
  yarn.lock
Due: prettier --write

test: fix transaction domain coverage
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
Due: none

wip
  .github/workflows/test.yml
Due: none

ci: temporarily lower coverage requirements for wallet domain (#3967)
  .github/workflows/test.yml
Due: none

test: add some more coverage in wallet domain
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: none

wip
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

fix: enforce recipient limit in multipayment (#3959)
  src/domains/transaction/components/AddRecipient/AddRecipient.models.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.test.tsx
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/wallet/components/ReceiveFunds/ReceiveFunds.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/__snapshots__/SearchWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/Step2.tsx
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

fix: hide actions that can't be performed with multi-signature wallets (#3958)
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/components/WalletHeader/WalletHeader.tsx
Due: none

wip
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/setting/e2e/reset-profile.e2e.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/tests/fixtures/env/storage.json
Due: yarn lint, prettier --write

wip
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
Due: yarn lint, prettier --write

wip
  src/domains/profile/e2e/welcome-screen.e2e.ts
Due: yarn lint, prettier --write

refactor: use standalone form in General settings
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: use standalone form in Export settings
  src/domains/setting/pages/Settings/available-settings/Export.tsx
Due: none

chore: revert on blur event for avatar
  src/domains/setting/pages/Settings/available-settings/General.tsx
Due: none

refactor: use standalone form in Password settings
  src/domains/setting/pages/Settings/available-settings/Password.tsx
Due: none

refactor: move settings prompt into separate hook
  src/domains/setting/hooks/use-settings-prompt.tsx
Due: none

refactor: cleanup settings page state
  src/domains/setting/pages/Settings/Settings.tsx
Due: none

style: resolve style guide violations
  src/domains/setting/pages/Settings/available-settings/General.tsx
  src/domains/setting/pages/Settings/available-settings/Password.tsx
Due: none

fix: rendering multi payment & loading skeletons
  src/app/components/Notifications/NotificationTransactionItem.tsx
  src/app/components/Notifications/Notifications.tsx
  src/app/components/Notifications/models.ts
  src/app/hooks/use-notifications.ts
Due: yarn lint, prettier --write

refactor: check activity in profile synchronizer (#3949)
  src/app/hooks/use-automatic-signout.test.ts
  src/app/hooks/use-automatic-signout.ts
  src/app/hooks/use-profile-synchronizer.ts
  src/domains/contact/e2e/common.ts
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/news/e2e/common.ts
  src/domains/plugin/e2e/common.ts
  src/domains/profile/e2e/common.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/common.ts
  src/domains/setting/e2e/reset-profile.e2e.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/ipfs-transaction-multisig.e2e.ts
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer-multisig.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/transaction/e2e/vote-transaction-multisig.e2e.ts
  src/domains/transaction/e2e/vote-transaction.e2e.ts
  src/domains/vote/e2e/votes.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
  src/tests/fixtures/env/storage.json
Due: yarn lint, prettier --write

wip
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: none

style: resolve style guide violations
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
Due: none

wip
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

wip
  src/domains/contact/components/CreateContact/CreateContact.tsx
Due: none

wip
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
Due: none

fix: clear validation errors after adding contact address (#3971)
  src/domains/contact/components/CreateContact/CreateContact.tsx
Due: none

refactor: search contacts by name and address (#3970)
  src/domains/contact/components/ContactListItem/ContactListItem.tsx
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/Contacts.test.tsx
  src/domains/contact/pages/Contacts/Contacts.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
Due: none

chore: update Platform SDK dependencies (#3972)
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/App.tsx
Due: none

wip
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

chore: disable post-launch coins (#3973)
  src/app/App.tsx
Due: none

wip
  package.json
Due: prettier --write

fix: switch to system theme when logging out of profile (#3974)
  src/app/components/NavigationBar/NavigationBar.tsx
Due: none

wip
  yarn.lock
Due: none

wip
  .eslintrc.js
  package.json
  src/domains/transaction/hooks/use-profile-transactions.ts
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
