Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

wip
  .github/workflows/test.yml
  jest.setup.js
  src/app/components/Link/Link.test.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-synchronizer.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/wallet/components/WalletUpdate/WalletUpdate.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/utils/electron-utils.test.ts
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

Restore test.yml
  .github/workflows/test.yml
Due: none

wip
  src/utils/electron-utils.ts
Due: yarn lint, prettier --write

chore: merge duplicate electron mocks (#3187)
  jest.setup.js
  src/app/components/Link/Link.test.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-synchronizer.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/wallet/components/WalletUpdate/WalletUpdate.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

chore: add minimum window width
  src/electron/index.js
Due: npm run lint:fix, yarn lint, prettier --write

Merge branch 'develop' into refactor/theme-setting-CU-c4zete
  config-overrides.js
  jest.setup.js
  src/app/App.test.tsx
  src/app/components/Link/Link.test.tsx
  src/app/components/NavigationBar/NavigationBar.test.tsx
  src/app/components/Notifications/NotificationsDropdown.test.tsx
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-synchronizer.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/transaction/components/SecondSignatureRegistrationForm/SecondSignatureRegistrationForm.test.tsx
  src/domains/wallet/components/WalletUpdate/WalletUpdate.test.tsx
  src/domains/wallet/pages/CreateWallet/CreateWallet.test.tsx
  src/electron/index.js
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
  src/utils/testing-library.tsx
Due: npm run lint:fix, yarn lint, prettier --write

chore: update titles to use title case
  src/app/i18n/common/i18n.ts
  src/domains/contact/i18n.ts
  src/domains/plugin/i18n.ts
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

test: update snapshots
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/plugin/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
Due: none

chore: remove any mention of msq
  src/app/__snapshots__/App.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/profile/i18n.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

feat: disable screenshot protection in development builds (#3181)
  jest.setup.js
  src/app/App.test.tsx
  src/domains/profile/middleware.test.ts
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/electron/index.js
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
Due: npm run lint:fix, yarn lint, prettier --write

build: fix module not found in production (#3186)
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
Due: none

chore: add sam to codeowners
  CODEOWNERS
Due: none

chore: remove any mention of msq (#3190)
  src/app/__snapshots__/App.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/profile/i18n.ts
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/__snapshots__/App.test.tsx.snap
Due: none

chore: add sam to codeowners (#3191)
  CODEOWNERS
Due: none

chore: add minimum window width (#3188)
  src/electron/index.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update titles to use title case (#3189)
  src/app/i18n/common/i18n.ts
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/contact/i18n.ts
  src/domains/plugin/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugin/i18n.ts
  src/domains/transaction/i18n.ts
  src/domains/vote/components/DelegateTable/__snapshots__/DelegateTable.test.tsx.snap
  src/domains/wallet/i18n.ts
Due: yarn lint, prettier --write

build: add electron-webpack
  .testcafe-electron-rc.js
  config-overrides.js
  package.json
  src/electron/index.ts
  webpack.main.config.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

chore: only rerun snapshots if formatting changed anything
  .github/workflows/format.yml
Due: none

fix: ignore snapshot rustywind changes
  .github/workflows/format.yml
Due: none

chore: only rerun snapshots if formatting changed anything (#3192)
  .github/workflows/format.yml
Due: none

feat: implement plugin loader from fs
  package.json
  src/electron/index.ts
  src/electron/plugins.ts
  src/plugins/core/internals/plugin-hooks.test.ts
  src/plugins/core/internals/plugin-hooks.ts
  src/plugins/loader/fs/loader-fs-ipc.ts
  src/plugins/loader/fs/loader-fs.test.ts
  src/plugins/loader/fs/loader-fs.ts
  src/plugins/loader/vm.ts
  src/plugins/types.ts
  src/tests/fixtures/plugins/plugin-test-custom-button/index.js
  src/tests/fixtures/plugins/plugin-test-custom-button/package.json
  src/tests/fixtures/plugins/plugin-test-launch/index.js
  src/tests/fixtures/plugins/plugin-test-launch/package.json
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write

feat: implement plugin configuration
  package.json
  src/plugins/configuration/plugin-configuration.test.ts
  src/plugins/configuration/plugin-configuration.ts
  src/plugins/configuration/schema.ts
  yarn.lock
Due: yarn lint, prettier --write

wip
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/hooks.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
Due: yarn lint, prettier --write

refactor: apply theme if changed in settings (#3185)
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/components/Image/Image.tsx
  src/app/components/Tooltip/Tooltip.tsx
  src/app/components/WalletListItem/WalletListItem.test.tsx
  src/app/components/WalletListItem/WalletListItem.tsx
  src/app/contexts/Theme/Theme.tsx
  src/app/contexts/Theme/index.ts
  src/app/contexts/index.ts
  src/app/hooks/index.ts
  src/app/hooks/use-dark-mode.ts
  src/app/hooks/use-theme-name.ts
  src/domains/error/pages/ApplicationError/ApplicationError.tsx
  src/domains/error/pages/ApplicationError/__snapshots__/ApplicationError.test.tsx.snap
  src/domains/profile/middleware.test.ts
  src/domains/profile/middleware.ts
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/splash/pages/Splash/Splash.tsx
  src/domains/splash/pages/Splash/__snapshots__/Splash.test.tsx.snap
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.test.tsx
  src/domains/transaction/components/TransactionTable/SignedTransactionTable/SignedTransactionTable.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionCompactRow.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.test.tsx
  src/domains/transaction/components/TransactionTable/TransactionRow/TransactionRow.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.test.tsx
  src/domains/vote/components/AddressTable/AddressRow/AddressRow.tsx
  src/domains/wallet/components/ReceiveFunds/__snapshots__/ReceiveFunds.test.tsx.snap
  src/domains/wallet/components/ReceiveFunds/hooks.test.tsx
  src/domains/wallet/components/ReceiveFunds/hooks.ts
  src/domains/wallet/components/SearchWallet/SearchWallet.test.tsx
  src/domains/wallet/components/SearchWallet/SearchWallet.tsx
  src/domains/wallet/components/WalletBottomSheetMenu/__snapshots__/WalletBottomSheetMenu.test.tsx.snap
  src/utils/electron-utils.test.ts
  src/utils/electron-utils.ts
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

fix: prevent env persist on demo build
  src/app/contexts/Environment/Environment.tsx
Due: none

wip
  src/app/contexts/Environment/Environment.tsx
Due: none

feat: implement plugin providers
  src/app/App.tsx
  src/app/PluginProviders.tsx
  src/plugins/components/PluginRouterWrapper.test.tsx
  src/plugins/components/PluginRouterWrapper.tsx
  src/plugins/components/shared/Box.test.tsx
  src/plugins/loader/fs/loader-fs.test.ts
  src/plugins/services/launch/LaunchPluginComponent.tsx
  src/plugins/services/profile/ProfilePluginService.test.tsx
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

fix: sync delegates & fees per profile
  src/app/hooks/use-synchronizer.tsx
Due: none

chore: fix hook deps
  src/app/hooks/use-synchronizer.tsx
Due: none

test: temporarily disable splash screen tests
  .github/workflows/e2e.yml
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

test: increase coverage
  jest.setup.js
  package.json
  src/electron/plugins.ts
  src/plugins/context/PluginManagerProvider.test.tsx
  src/plugins/context/PluginManagerProvider.tsx
  src/plugins/core/configuration/plugin-configuration.test.ts
  src/plugins/core/configuration/plugin-configuration.ts
  src/plugins/core/internals/plugin-hooks.ts
  src/plugins/loader/fs/loader-fs-handler.test.ts
  src/plugins/loader/fs/loader-fs-handler.ts
  src/plugins/loader/fs/loader-fs-ipc.ts
  src/plugins/loader/vm.test.ts
  src/plugins/services/http/HttpPluginService.test.ts
  src/plugins/services/launch/LaunchPluginComponent.tsx
Due: npm run lint:fix, yarn lint, prettier --write

fix: use static fees as fallback in transaction forms
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
Due: none
