Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

feat: create an ondemand render for settings
  src/domains/settings/pages/Settings/Settings.stories.tsx
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/settings/pages/Settings/available-settings/index.ts
Due: yarn lint, prettier --write

tests: update settings tests
  src/domains/settings/pages/Settings/__tests__/Settings.spec.tsx
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
Due: none

feat: add circle component
  src/app/components/Circle/Circle.stories.tsx
  src/app/components/Circle/Circle.tsx
  src/app/components/Circle/__tests__/Circle.spec.tsx
  src/app/components/Circle/__tests__/__snapshots__/Circle.spec.tsx.snap
  src/app/components/Circle/style.ts
Due: yarn lint, prettier --write

feat: add form wrapper
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
  src/domains/settings/pages/Settings/available-settings/General.tsx
Due: none

feat: add settings page (#2066)
  src/app/components/Form/FormLabel.tsx
  src/app/components/Form/__tests__/__snapshots__/FormLabel.spec.tsx.snap
  src/app/components/Header/Header.tsx
  src/app/components/Header/__tests__/Header.spec.tsx
  src/app/components/Header/__tests__/__snapshots__/Header.spec.tsx.snap
  src/app/components/Header/index.ts
  src/app/components/ListDivided/ListDivided.tsx
  src/app/components/ListDivided/ListDividedItem.tsx
  src/app/components/ListDivided/__tests__/__snapshots__/ListDivided.spec.tsx.snap
  src/app/components/ListDivided/__tests__/__snapshots__/ListDividedItem.spec.tsx.snap
  src/domains/profile/pages/CreateProfile/__tests__/__snapshots__/CreateProfile.spec.tsx.snap
  src/domains/settings/pages/Settings/Settings.stories.tsx
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/__tests__/Settings.spec.tsx
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/settings/pages/Settings/available-settings/index.ts
  src/domains/settings/pages/Settings/index.tsx
Due: yarn lint, prettier --write

fix: build errors
  src/app/components/Circle/Circle.tsx
  src/app/components/Circle/style.ts
Due: yarn lint, prettier --write

fix: add index.ts
  src/app/components/Circle/index.ts
Due: yarn lint, prettier --write

feat: add circle component (#2067)
  src/app/components/Circle/Circle.stories.tsx
  src/app/components/Circle/Circle.tsx
  src/app/components/Circle/__tests__/Circle.spec.tsx
  src/app/components/Circle/__tests__/__snapshots__/Circle.spec.tsx.snap
  src/app/components/Circle/index.ts
  src/app/components/Circle/style.ts
Due: yarn lint, prettier --write

fix: build errors
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Header/index.ts
  src/app/components/ListDivided/ListDividedItem.tsx
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/settings/pages/Settings/available-settings/index.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/build.yml
  .github/workflows/format.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/build.yml
Due: none

fix: declare index signature for settings page
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
Due: none

fix: dropdown build errors and coverage
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/index.ts
Due: yarn lint, prettier --write

fix: build errors (#2070)
  src/app/components/Dropdown/Dropdown.tsx
  src/app/components/Dropdown/index.ts
  src/app/components/Header/index.ts
  src/app/components/ListDivided/ListDividedItem.tsx
  src/domains/settings/pages/Settings/Settings.tsx
  src/domains/settings/pages/Settings/__tests__/__snapshots__/Settings.spec.tsx.snap
  src/domains/settings/pages/Settings/available-settings/General.tsx
  src/domains/settings/pages/Settings/available-settings/index.ts
Due: yarn lint, prettier --write

ci: add build workflow (#2068)
  .github/workflows/build.yml
  .github/workflows/format.yml
Due: none

feat: add qrcode button to password input
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__tests__/InputPassword.spec.tsx
  src/app/components/Input/__tests__/__snapshots__/InputPassword.spec.tsx.snap
  src/resources/assets/svg/qrcode.svg
Due: none

feat: add wallet sign message component
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
  src/domains/wallets/components/SignMessage/__tests__/SignMessage.spec.tsx
  src/domains/wallets/components/SignMessage/__tests__/__snapshots__/SignMessage.spec.tsx.snap
  src/domains/wallets/components/SignMessage/index.ts
Due: yarn lint, prettier --write

feat: wip add sign message component
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
Due: none

feat: add no shadow option to circle
  src/app/components/Circle/style.ts
Due: yarn lint, prettier --write

chore: remove height limitation and let the modal adapts
  src/app/components/Modal/Modal.tsx
Due: none

feat: wrap sign message with a modal
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
Due: none

tests: update snapshots and bypass conn refused
  src/app/components/Dropdown/__tests__/Dropdown.spec.tsx
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/domains/wallets/components/SignMessage/__tests__/__snapshots__/SignMessage.spec.tsx.snap
Due: none

chore: update circle with no shadow
  src/app/components/Circle/Circle.tsx
  src/app/components/Circle/__tests__/Circle.spec.tsx
  src/app/components/Circle/__tests__/__snapshots__/Circle.spec.tsx.snap
  src/app/components/Circle/style.ts
Due: yarn lint, prettier --write

fix: build errors
  src/app/components/Circle/style.ts
  src/domains/wallets/components/SignMessage/SignMessage.tsx
Due: yarn lint, prettier --write

feat: add dropdown to profile card
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
Due: none

chore: UI tweaks to match trello
  src/app/components/Modal/Modal.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
Due: none

tests: update modal snapshots
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
Due: none

wip
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
  src/tailwind.config.js
Due: npm run lint:fix, yarn lint, prettier --write

test: update snapshots
  src/domains/profile/components/ProfileCard/__tests__/__snapshots__/ProfileCard.spec.tsx.snap
  src/domains/profile/pages/Welcome/__tests__/__snapshots__/Welcome.spec.tsx.snap
Due: none

feat: add sign message component (#2069)
  src/app/components/Circle/Circle.tsx
  src/app/components/Circle/__tests__/Circle.spec.tsx
  src/app/components/Circle/__tests__/__snapshots__/Circle.spec.tsx.snap
  src/app/components/Circle/style.ts
  src/app/components/Dropdown/__tests__/Dropdown.spec.tsx
  src/app/components/Input/InputPassword.tsx
  src/app/components/Input/__tests__/InputPassword.spec.tsx
  src/app/components/Input/__tests__/__snapshots__/InputPassword.spec.tsx.snap
  src/app/components/Modal/Modal.tsx
  src/app/components/Modal/__tests__/__snapshots__/Modal.spec.tsx.snap
  src/domains/wallets/components/SignMessage/SignMessage.stories.tsx
  src/domains/wallets/components/SignMessage/SignMessage.tsx
  src/domains/wallets/components/SignMessage/__tests__/SignMessage.spec.tsx
  src/domains/wallets/components/SignMessage/__tests__/__snapshots__/SignMessage.spec.tsx.snap
  src/domains/wallets/components/SignMessage/index.ts
  src/resources/assets/svg/qrcode.svg
Due: yarn lint, prettier --write

test: update dropdown tests
  src/app/components/Dropdown/__tests__/Dropdown.spec.tsx
  src/domains/profile/components/ProfileCard/ProfileCard.tsx
Due: none

feat: add name wallet modal component
  src/app/components/Modal/ModalNameWallet.tsx
Due: none

refactor: modal to use custom onclose prop
  src/app/components/Modal/Modal.tsx
Due: none

feat: add address format component
  src/app/components/Address/Address.stories.tsx
  src/app/components/Address/Address.tsx
  src/app/components/Address/__tests__/Address.spec.tsx
  src/app/components/Address/__tests__/__snapshots__/Address.spec.tsx.snap
  src/app/components/Address/index.ts
  src/app/components/Address/utils.ts
Due: yarn lint, prettier --write

refactor: flatten i18n messages
  src/i18n/index.ts
  src/i18n/utils.ts
Due: yarn lint, prettier --write

refactor: swap form label y padding
  src/app/components/Form/FormLabel.tsx
Due: none

feat: add wallet name modal to storybook
  src/app/components/Modal/Modal.stories.tsx
Due: none

refactor: add default open prop
  src/app/components/Modal/Modal.tsx
Due: none

feat: missing wallet name modal code
  src/app/components/Modal/ModalNameWallet.tsx
  src/app/components/Modal/index.tsx
  src/i18n/locales/en-US/messages.ts
Due: yarn lint, prettier --write

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
