Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

feat: implement offline splashscreen
  src/app/App.tsx
  src/app/hooks/index.ts
  src/app/hooks/network-status.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: none

wip
  .github/workflows/test.yml
  src/app/services/HttpClient.test.ts
  src/app/services/HttpClient.ts
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

wip
  src/app/services/HttpClient.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/format.yml
  .github/workflows/test.yml
  src/app/services/HttpClient.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/format.yml
Due: none

test: add tests for the useNetworkStatus hook
  src/app/hooks/network-status.test.tsx
Due: none

chore: temporarily remove eth network data (#2646)
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/network/components/SelectNetwork/__snapshots__/SelectNetwork.test.tsx.snap
  src/domains/network/data.ts
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/SendIPFSTransaction/__snapshots__/SendIPFSTransaction.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
Due: none

wip
  src/app/services/HttpClient.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
  src/utils/testing-library.tsx
Due: yarn lint, prettier --write

wip
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/utils/testing-library.tsx
Due: none

refactor: show required field icon by default (#2644)
  src/app/components/Form/Form.stories.tsx
  src/app/components/Form/FormLabel.tsx
  src/app/components/Form/__snapshots__/FormLabel.test.tsx.snap
  src/domains/contact/components/ContactForm/__snapshots__/ContactForm.test.tsx.snap
  src/domains/contact/components/CreateContact/__snapshots__/CreateContact.test.tsx.snap
  src/domains/contact/components/UpdateContact/__snapshots__/UpdateContact.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/news/components/AddAssets/__snapshots__/AddAssets.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/components/CustomPeers/__snapshots__/CustomPeers.test.tsx.snap
  src/domains/setting/components/PeerList/__snapshots__/PeerList.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/components/MultiSignatureDetail/__snapshots__/MultiSignatureDetail.test.tsx.snap
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/Registration/Registration.tsx
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
  src/domains/transaction/pages/ResignRegistration/__snapshots__/ResignRegistration.test.tsx.snap
  src/domains/transaction/pages/SendVoteTransaction/__snapshots__/SendVoteTransaction.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/__snapshots__/TransactionSend.test.tsx.snap
  src/domains/transaction/pages/UpdateRegistration/UpdateRegistration.tsx
  src/domains/transaction/pages/UpdateRegistration/__snapshots__/UpdateRegistration.test.tsx.snap
  src/domains/wallet/components/SignMessage/__snapshots__/SignMessage.test.tsx.snap
  src/domains/wallet/components/UpdateWalletName/__snapshots__/UpdateWalletName.test.tsx.snap
  src/domains/wallet/components/VerifyMessage/__snapshots__/VerifyMessage.test.tsx.snap
  src/domains/wallet/pages/CreateWallet/__snapshots__/CreateWallet.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

chore(deps): update dependency mini-css-extract-plugin to ^0.10.0
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/services/HttpClient.test.ts
  src/domains/dashboard/pages/Dashboard/Dashboard.test.tsx
Due: yarn lint, prettier --write

refactor: paginate and add more action wallet details transactions
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

test: update useNetworkStatus tests and add tests to app component
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/hooks/network-status.test.tsx
  src/app/hooks/network-status.ts
Due: yarn lint, prettier --write

tests(e2e): add e2e journey
  src/domains/wallet/e2e/wallet-details.e2e.ts
Due: yarn lint, prettier --write

feat: add validate for duplicate address
  src/app/components/Input/InputAddress.tsx
  src/app/i18n/common/i18n.ts
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
Due: yarn lint, prettier --write

test: add tests for duplicate address
  src/app/components/Input/InputAddress.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.test.tsx
  src/domains/wallet/pages/ImportWallet/ImportWallet.tsx
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
Due: none

test: add e2e tests for duplicate address
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write

test(e2e): add client script
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

refactor: fix test errors on `SendTransactionForm`
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.test.tsx
  src/domains/transaction/components/SendTransactionForm/SendTransactionForm.tsx
  src/domains/transaction/components/SendTransactionForm/__snapshots__/SendTransactionForm.test.tsx.snap
  src/domains/transaction/pages/TransactionSend/TransactionSend.test.tsx
Due: none

chore: make is dev package non-dev dep
  package.json
Due: prettier --write

chore: add copy webpack plugin dep
  package.json
  yarn.lock
Due: prettier --write

chore: copy electron files to build folder
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update built electron entry file
  package.json
Due: prettier --write

fix: hide splash screen if not demo
  src/app/App.tsx
Due: none

fix: path when loading production build
  src/electron/index.js
Due: npm run lint:fix, yarn lint, prettier --write

fix: remove unused menu label
  src/electron/menu.js
Due: npm run lint:fix, yarn lint, prettier --write

refactor: build copy paths
  config-overrides.js
Due: npm run lint:fix, yarn lint, prettier --write

chore: update draft artifacts workflow
  .github/workflows/draft-artifacts.yml
Due: none

test: set env before testing splash screen
  src/app/App.test.tsx
Due: none

fix: testcafe electron load
  package.json
  src/electron/index.js
Due: npm run lint:fix, yarn lint, prettier --write

test: add for splash screen when not demo
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
Due: none

feat: implement offline splashscreen (#2649)
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/app/hooks/index.ts
  src/app/hooks/network-status.test.tsx
  src/app/hooks/network-status.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
Due: yarn lint, prettier --write

chore: update upload path
  .github/workflows/draft-artifacts.yml
Due: none

fix: electron build (#2651)
  .github/workflows/draft-artifacts.yml
  config-overrides.js
  package.json
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/__snapshots__/App.test.tsx.snap
  src/electron/index.js
  src/electron/menu.js
  yarn.lock
Due: npm run lint:fix, yarn lint, prettier --write
