Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

wip
  .github/workflows/test.yml
  package.json
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/utils/e2e-utils.test.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  src/tests/fixtures/coins/ark/transactions.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/tests/fixtures/coins/ark/transactions.json
Due: prettier --write

wip
  src/domains/vote/e2e/votes.e2e.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/test.yml
  package.json
Due: prettier --write

wip
  src/domains/vote/e2e/votes.e2e.ts
Due: yarn lint, prettier --write

wip
  .github/workflows/e2e.yml
  .github/workflows/test.yml
Due: none

wip
  .github/workflows/e2e.yml
Due: none

fix: flush transaction history
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

wip
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

wip
  src/app/App.tsx
Due: none

test(e2e): use mocks for network requests and run tests in split (#2781)
  .github/workflows/e2e.yml
  .github/workflows/test.yml
  .gitignore
  package.json
  src/app/App.tsx
  src/domains/contact/e2e/contacts-routing.e2e.ts
  src/domains/contact/e2e/create-contact.e2e.ts
  src/domains/contact/e2e/delete-contact.e2e.ts
  src/domains/contact/e2e/update-contact.e2e.ts
  src/domains/dashboard/e2e/dashboard-routing.e2e.ts
  src/domains/dashboard/e2e/navbar-routing.e2e.ts
  src/domains/news/e2e/filtering.e2e.ts
  src/domains/news/e2e/news-routing.e2e.ts
  src/domains/plugin/e2e/plugins-routing.e2e.ts
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/profile/e2e/create-profile-routing.e2e.ts
  src/domains/profile/e2e/delete-profile-action.e2e.ts
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/profile/e2e/navigate-profile-settings.e2e.ts
  src/domains/profile/e2e/welcome-screen.e2e.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/setting/e2e/settings-routing.e2e.ts
  src/domains/splash/e2e/splash-screen.e2e.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
  src/domains/vote/e2e/votes.e2e.ts
  src/domains/wallet/e2e/create-wallet-action.e2e.ts
  src/domains/wallet/e2e/delete-wallet-action.e2e.ts
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
  src/domains/wallet/e2e/sign-message-action.e2e.ts
  src/domains/wallet/e2e/update-wallet-name-action.e2e.ts
  src/domains/wallet/e2e/verify-message-action.e2e.ts
  src/domains/wallet/e2e/wallet-details.e2e.ts
  src/domains/wallet/e2e/wallets-routing.e2e.ts
  src/tests/fixtures/coins/ark/transactions.json
  src/utils/e2e-utils.test.ts
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
Due: yarn lint, prettier --write

wip
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

test: add e2e tests for ipfs transaction (#2778)
  .github/workflows/e2e.yml
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

test: update e2e transaction tests and some tweaks (#2776)
  src/domains/transaction/e2e/common.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
  src/domains/transaction/e2e/delegate-resignation.e2e.ts
  src/domains/transaction/e2e/multiple-transfer.e2e.ts
  src/domains/transaction/e2e/single-transfer.e2e.ts
  src/domains/transaction/e2e/transactions-routing.e2e.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

fix: correct business registrations type to `ExtendedTransactionData`
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

feat: add overall loading state
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

test: add e2e tests
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/tests/fixtures/coins/ark/wallets/D6Z26L69gdk9qYmTv5uzk3uGepigtHY4ax.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

chore: enable initial loading state
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
  src/domains/profile/pages/MyRegistrations/components/BusinessTable/BusinessTable.stories.tsx
Due: none

wip
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
  src/domains/transaction/e2e/ipfs-transaction.e2e.ts
Due: yarn lint, prettier --write

fix: exhaustive deps
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

style: resolve style guide violations
  src/domains/profile/e2e/my-registrations-routing.e2e.ts
Due: yarn lint, prettier --write

wip
  package.json
  src/app/services/HttpClient.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/WalletDetails.tsx
Due: none

test: increase providers coverage
  src/domains/transaction/entity/providers.test.ts
  src/domains/transaction/entity/providers.ts
Due: yarn lint, prettier --write

refactor: fix form inside form
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.test.tsx
  src/domains/transaction/components/BusinessRegistrationForm/BusinessRegistrationForm.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
Due: none

wip
  src/app/services/HttpClient.test.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/domains/transaction/components/DelegateRegistrationForm/__snapshots__/DelegateRegistrationForm.test.tsx.snap
  src/domains/transaction/pages/Registration/__snapshots__/Registration.test.tsx.snap
Due: none

chore: fix naming
  src/domains/profile/pages/MyRegistrations/MyRegistrations.tsx
Due: none

Path conditions:
  npm run lint:fix: any of: *.{js,vue}
  yarn lint: any of: *.{ts,js,vue}
  prettier --write: (any of: *.{ts,js,vue}) or (any of: *.{json,md})
