Repository ArkEcosystem/desktop-wallet: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix, yarn lint, prettier --write

.lintstagedrc:

{
    "*.{js,vue}": ["npm run lint:fix"]
}

.lintstagedrc.json:

{
	"*.{ts,js,vue}": ["yarn lint", "prettier --write"],
	"*.{json,md}": ["prettier --write"]
}

test: update snapshots
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/SelectDropdown/SelectDropdown.stories.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/app/i18n/common/i18n.ts
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/EntityRegistrationForm/__snapshots__/EntityRegistrationForm.test.tsx.snap
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
Due: yarn lint, prettier --write

test: fix all tests
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/app/components/SelectDropdown/SelectDropdown.tsx
  src/app/components/SelectDropdown/__snapshots__/SelectDropdown.test.tsx.snap
  src/domains/help/components/ContactUs/__snapshots__/ContactUs.test.tsx.snap
  src/domains/profile/pages/CreateProfile/CreateProfile.test.tsx
  src/domains/profile/pages/CreateProfile/__snapshots__/CreateProfile.test.tsx.snap
  src/domains/setting/pages/Settings/Settings.test.tsx
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
  src/domains/transaction/components/LinkCollection/__snapshots__/LinkCollection.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/SendEntityRegistration.test.tsx
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
Due: none

test: increate test coverage to 100%
  src/app/components/SelectDropdown/SelectDropdown.test.tsx
  src/domains/transaction/components/LinkCollection/LinkCollection.test.tsx
Due: none

refactor: add missing mocks on e2e tests (#2968)
  src/domains/dashboard/components/Transactions/__snapshots__/Transactions.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

test: fix e2e tests
  src/domains/profile/e2e/create-profile-action.e2e.ts
  src/domains/setting/e2e/save-settings.e2e.ts
  src/domains/transaction/e2e/delegate-registration.e2e.ts
Due: yarn lint, prettier --write

refactor: make amount optional in `RecipientList`
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.test.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
Due: yarn lint, prettier --write

refactor: pass on showAmount prop in `RecipientListItem`
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.tsx
Due: yarn lint, prettier --write

refactor: remove amount from multicig participants list
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step2.tsx
Due: none

chore: update snapshots
  src/domains/transaction/components/MultiPaymentDetail/__snapshots__/MultiPaymentDetail.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/components/TransactionDetail/TransactionRecipients/__snapshots__/TransactionRecipients.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

fix: adjust sizes on condensed `RecipientList` (#2961)
  src/domains/transaction/components/MultiSignatureRegistrationForm/Step2.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/__snapshots__/MultiSignatureRegistrationForm.test.tsx.snap
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/__snapshots__/AddParticipant.test.tsx.snap
  src/domains/transaction/components/RecipientList/RecipientList.models.ts
  src/domains/transaction/components/RecipientList/RecipientList.test.tsx
  src/domains/transaction/components/RecipientList/RecipientList.tsx
  src/domains/transaction/components/RecipientList/__snapshots__/RecipientList.test.tsx.snap
  src/domains/transaction/i18n.ts
Due: yarn lint, prettier --write

style: resolve style guide violations
  src/router/RouterView.tsx
Due: none

feat: AIP26 handling (#2929)
  src/app/App.test.tsx
  src/app/App.tsx
  src/app/hooks/index.ts
  src/app/hooks/use-deeplink.test.tsx
  src/app/hooks/use-deeplink.ts
  src/app/i18n/common/i18n.ts
  src/domains/transaction/components/AddRecipient/AddRecipient.tsx
  src/domains/transaction/components/AddRecipient/__snapshots__/AddRecipient.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.tsx
  src/domains/transaction/pages/SendTransfer/Step1.tsx
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/router/RouterView.tsx
Due: yarn lint, prettier --write

fix: remove duplicated import
  src/app/App.tsx
Due: none

refactor: organize variables
  src/app/App.tsx
Due: none

fix: remove duplicated import (#2969)
  src/app/App.tsx
Due: none

test: update snapshots
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

chore: bump version to 2.9.5
  .github/workflows/draft-artifacts.yml
  .github/workflows/publish-release.yml
  .github/workflows/test.yml
  package.json
Due: prettier --write

chore: update Platform SDK packages
  package.json
  yarn.lock
Due: prettier --write

chore: update fixture
  src/tests/fixtures/env/storage.json
Due: prettier --write

fix: mock get request
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

fix: mock search request
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
  src/tests/fixtures/coins/ark/transactions/business-registrations.json
  src/tests/fixtures/coins/ark/transactions/delegate-registrations.json
  src/tests/fixtures/coins/ark/transactions/plugin-registrations.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-2-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-DC8ghUdhS8w8d11K8cFQ37YsLBFhL3Dq2P-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS-1-15.json
  src/tests/fixtures/coins/ark/transactions/search/no-results.json
  src/tests/fixtures/registrations/DC8ghUdhS8w8d11K8cFQ37YsLBFhL3Dq2P-businesses.json
  src/tests/fixtures/registrations/businesses.json
  src/tests/fixtures/registrations/entity-delegates.json
  src/tests/fixtures/registrations/plugins.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

tests: update snapshots
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
Due: none

feat: return to the select a delegate page
  src/domains/transaction/pages/SendVote/SendVote.tsx
Due: none

test: fix mocks endpoints
  src/domains/profile/pages/MyRegistrations/MyRegistrations.test.tsx
  src/domains/profile/pages/MyRegistrations/components/EntityTable/EntityTable.test.tsx
  src/domains/profile/pages/MyRegistrations/components/EntityTable/EntityTableRowItem.test.tsx
  src/domains/transaction/components/MultiSignatureRegistrationForm/components/AddParticipant/AddParticipant.test.tsx
  src/domains/transaction/pages/SendIpfs/SendIpfs.test.tsx
  src/domains/transaction/pages/SendTransfer/SendTransfer.test.tsx
  src/domains/transaction/pages/SendVote/SendVote.test.tsx
  src/domains/wallet/pages/WalletDetails/WalletDetails.test.tsx
Due: none

style: resolve style guide violations
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

tests: update snapshots
  src/domains/contact/components/ContactListItem/__snapshots__/ContactListItem.test.tsx.snap
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
Due: none

tests: update wallet item tests
  src/domains/wallet/components/WalletListItem/WalletListItem.test.tsx
  src/domains/wallet/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
Due: none

tests: update snapshots
  src/domains/dashboard/pages/Dashboard/__snapshots__/Dashboard.test.tsx.snap
Due: none

tests: add missing case for onAction
  src/domains/wallet/components/WalletListItem/WalletListItem.test.tsx
  src/domains/wallet/components/WalletListItem/__snapshots__/WalletListItem.test.tsx.snap
Due: none

wip
  src/app/App.tsx
  src/app/assets/images/dark/welcome-banner.svg
  src/app/assets/images/index.ts
  src/app/components/ThemedImage/ThemedImage.tsx
  src/app/components/ThemedImage/index.ts
  src/app/hooks/index.ts
  src/app/hooks/use-dark-mode.ts
  src/domains/profile/pages/Welcome/Welcome.tsx
  src/domains/splash/pages/Splash/Splash.tsx
Due: yarn lint, prettier --write

wip
  package.json
  yarn.lock
Due: prettier --write

wip
  src/app/App.tsx
  src/tests/fixtures/coins/ark/transactions/byAddress/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-10.json
  src/tests/fixtures/coins/ark/transactions/byAddress/D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-15.json
  src/tests/fixtures/coins/ark/transactions/byAddress/D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-1-10.json
  src/tests/fixtures/coins/ark/transactions/byAddress/D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-1-15.json
  src/tests/fixtures/coins/ark/transactions/byAddress/D8rr7B1d6TL6pf14LgMz4sKp1VBMs6YUYD-2-15.json
  src/tests/fixtures/coins/ark/transactions/byAddress/DC8ghUdhS8w8d11K8cFQ37YsLBFhL3Dq2P-1-10.json
  src/tests/fixtures/coins/ark/transactions/byAddress/DC8ghUdhS8w8d11K8cFQ37YsLBFhL3Dq2P-1-15.json
  src/tests/fixtures/coins/ark/transactions/byAddress/DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS-1-10.json
  src/tests/fixtures/coins/ark/transactions/byAddress/DDA5nM7KEqLeTtQKv5qGgcnc6dpNBKJNTS-1-15.json
  src/tests/fixtures/coins/ark/transactions/byAddress/no-results.json
  src/tests/fixtures/coins/ark/transactions/search/addresses-D5sRKWckH4rE1hQ9eeMeHAepgyC3cvJtwb-1-15.json
  src/utils/e2e-utils.ts
Due: yarn lint, prettier --write

wip
  src/app/__snapshots__/App.test.tsx.snap
  src/app/components/NavigationBar/__snapshots__/NavigationBar.test.tsx.snap
  src/app/hooks/notifications.test.tsx
  src/domains/contact/pages/Contacts/__snapshots__/Contacts.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/help/pages/Article/__snapshots__/Article.test.tsx.snap
  src/domains/help/pages/Faq/__snapshots__/Faq.test.tsx.snap
  src/domains/help/pages/Main/__snapshots__/Main.test.tsx.snap
  src/domains/news/pages/News/__snapshots__/News.test.tsx.snap
  src/domains/plugin/pages/PluginDetails/__snapshots__/PluginDetails.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/__snapshots__/MyRegistrations.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/domains/setting/pages/Settings/__snapshots__/Settings.test.tsx.snap
  src/domains/transaction/pages/SendEntityRegistration/__snapshots__/SendEntityRegistration.test.tsx.snap
  src/domains/transaction/pages/SendEntityResignation/__snapshots__/SendEntityResignation.test.tsx.snap
  src/domains/transaction/pages/SendEntityUpdate/__snapshots__/SendEntityUpdate.test.tsx.snap
  src/domains/transaction/pages/SendIpfs/__snapshots__/SendIpfs.test.tsx.snap
  src/domains/transaction/pages/SendTransfer/__snapshots__/SendTransfer.test.tsx.snap
  src/domains/transaction/pages/SendVote/__snapshots__/SendVote.test.tsx.snap
  src/domains/vote/pages/Votes/__snapshots__/Votes.test.tsx.snap
  src/domains/wallet/pages/ImportWallet/__snapshots__/ImportWallet.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/__snapshots__/WalletDetails.test.tsx.snap
  src/domains/wallet/pages/WalletDetails/hooks/use-wallet-transactions.test.tsx
Due: none

wip
  src/app/App.test.tsx
  src/app/__snapshots__/App.test.tsx.snap
Due: none

wip
  src/domains/dashboard/pages/Dashboard/Dashboard.tsx
Due: none

wip
  src/domains/exchange/components/AddExchange/__snapshots__/AddExchange.test.tsx.snap
  src/domains/exchange/components/ExchangeCard/__snapshots__/ExchangeCard.test.tsx.snap
  src/domains/exchange/pages/Exchange/__snapshots__/Exchange.test.tsx.snap
  src/domains/plugin/components/AddBlacklistPlugin/__snapshots__/AddBlacklistPlugin.test.tsx.snap
  src/domains/plugin/components/BestPlugins/__snapshots__/BestPlugins.test.tsx.snap
  src/domains/plugin/components/BlacklistPlugins/__snapshots__/BlacklistPlugins.test.tsx.snap
  src/domains/plugin/components/FeaturedPlugins/__snapshots__/FeaturedPlugins.test.tsx.snap
  src/domains/plugin/components/PluginList/__snapshots__/PluginList.test.tsx.snap
  src/domains/plugin/components/PluginListItem/__snapshots__/PluginListItem.test.tsx.snap
  src/domains/plugin/pages/PluginManager/__snapshots__/PluginManager.test.tsx.snap
  src/domains/plugin/pages/PluginsCategory/__snapshots__/PluginsCategory.test.tsx.snap
  src/domains/profile/components/ProfileCard/__snapshots__/ProfileCard.test.tsx.snap
  src/domains/profile/pages/MyRegistrations/components/EntityTable/__snapshots__/EntityTable.test.tsx.snap
  src/domains/profile/pages/Welcome/__snapshots__/Welcome.test.tsx.snap
  src/utils/testing-library.tsx
Due: none

wip
  src/domains/wallet/e2e/import-wallet-action.e2e.ts
Due: yarn lint, prettier --write
